Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: root-format
        name: "Check root directory code formatting"
        entry: /usr/bin/env bash -c "yarn format"
        exclude: '^solidity\/|^yearn\/|^typescript\/|^monitoring\/'
        language: script
        description: "Checks root directory code according to the formatting configuration"
      - id: solidity-format
        name: "Check solidity directory code formatting"
        entry: /usr/bin/env bash -c "cd solidity && yarn format"
        files: "^solidity/"
        language: script
        description: "Checks solidity directory code according to the formatting configuration"
      - id: yearn-format
        name: "Check yearn directory code formatting"
        entry: /usr/bin/env bash -c "cd yearn && yarn format"
        files: "^yearn/"
        language: script
        description: "Checks yearn directory code according to the formatting configuration"
      - id: typescript-format
        name: "Check typescript directory code formatting"
        entry: /usr/bin/env bash -c "cd typescript && yarn format"
        files: "^typescript/"
        language: script
        description: "Checks typescript directory code according to the formatting configuration"
      - id: monitoring-format
        name: "Check monitoring directory code formatting"
        entry: /usr/bin/env bash -c "cd monitoring && yarn format"
        files: "^monitoring/"
        language: script
        description: "Checks monitoring directory code according to the formatting configuration"

refactor: improves arbitrum timelock deployment test
  cross-chain/arbitrum/test/TimelockDeployed.test.ts
Due: root-format

Fix TypeScript interface definitions for cross-chain contracts
  typescript/src/lib/arbitrum/l2-bitcoin-depositor.ts
  typescript/src/lib/base/l2-bitcoin-depositor.ts
  typescript/src/lib/contracts/cross-chain.ts
  typescript/src/lib/solana/solana-depositor-interface.ts
Due: typescript-format

Add SUI SDK components and validation tools
  .gitignore
  typescript/scripts/README-SUI-VALIDATION.md
  typescript/scripts/README.adoc
  typescript/scripts/validate-real-sui-contract.js
  typescript/scripts/validate-relayer-compatibility.js
  typescript/src/index.ts
  typescript/src/lib/ethereum/index.ts
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/lib/sui/index.ts
  typescript/src/lib/sui/sui-bitcoin-depositor.ts
  typescript/src/lib/sui/sui-chain-adapter.ts
  typescript/src/lib/sui/sui-tbtc-token.ts
  typescript/src/lib/sui/types.ts
  typescript/src/services/tbtc.ts
Due: root-format, typescript-format

feat: add l1 bitcoin redeemer contracts
  solidity/contracts/cross-chain/wormhole/L1BTCRedeemerWormhole.sol
  solidity/contracts/integrator/AbstractBTCRedeemer.sol
  solidity/contracts/integrator/BitcoinTx.sol
  solidity/contracts/integrator/IBank.sol
Due: solidity-format

refactor: remove duplicated test
  cross-chain/arbitrum/test/TimelockDeployed.test.ts
Due: root-format

This commit establishes a robust framework for testing SUI Direct Minting functionality, ensuring production readiness and integration confidence.
  typescript/test/sui-direct-minting-tests/00-test-environment.ts
  typescript/test/sui-direct-minting-tests/01-environment-validation.test.ts
  typescript/test/sui-direct-minting-tests/02-interface-validation.test.ts
  typescript/test/sui-direct-minting-tests/README.md
  typescript/test/sui-direct-minting-tests/jest.config.js
  typescript/test/sui-direct-minting-tests/real-network-sui-interface.ts
  typescript/test/sui-direct-minting-tests/test-data-validation.ts
  typescript/test/sui-direct-minting-tests/test-data/real-json-samples.ts
  typescript/test/sui-direct-minting-tests/test-setup.ts
  typescript/test/sui-direct-minting-tests/validate-environment.ts
  typescript/test/sui-direct-minting-tests/validate-interface.ts
Due: typescript-format
