Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: root-format
        name: "Check root directory code formatting"
        entry: /usr/bin/env bash -c "yarn format"
        exclude: '^solidity\/|^yearn\/|^typescript\/|^monitoring\/'
        language: script
        description: "Checks root directory code according to the formatting configuration"
      - id: solidity-format
        name: "Check solidity directory code formatting"
        entry: /usr/bin/env bash -c "cd solidity && yarn format"
        files: "^solidity/"
        language: script
        description: "Checks solidity directory code according to the formatting configuration"
      - id: yearn-format
        name: "Check yearn directory code formatting"
        entry: /usr/bin/env bash -c "cd yearn && yarn format"
        files: "^yearn/"
        language: script
        description: "Checks yearn directory code according to the formatting configuration"
      - id: typescript-format
        name: "Check typescript directory code formatting"
        entry: /usr/bin/env bash -c "cd typescript && yarn format"
        files: "^typescript/"
        language: script
        description: "Checks typescript directory code according to the formatting configuration"
      - id: monitoring-format
        name: "Check monitoring directory code formatting"
        entry: /usr/bin/env bash -c "cd monitoring && yarn format"
        files: "^monitoring/"
        language: script
        description: "Checks monitoring directory code according to the formatting configuration"

Run tests weekly
  .github/workflows/system-tests.yml
Due: root-format

Added coordinator's address to HeartbeatRequestSubmitted
  solidity/contracts/bridge/WalletCoordinator.sol
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Add full consideration of compatibility and script changes
  docs/rfc/rfc-10.adoc
Due: root-format

Making a system test wait a little before a bitcoin client calls
  system-tests/test/utils/bitcoin.ts
Due: root-format

Changing a backoff retrier for the system tests
  typescript/src/electrum.ts
Due: typescript-format

Adding 'clean' task to hardhat system tests
  system-tests/package.json
Due: root-format

Add resources and clarify execution
  docs/rfc/rfc-10.adoc
Due: root-format

Escape occurrences of (R)
  docs/rfc/rfc-10.adoc
Due: root-format

use human readable outputs in deposits
  monitoring/src/deposit-monitor.ts
Due: monitoring-format

Handle BigNumbers properly
  monitoring/src/deposit-monitor.ts
Due: monitoring-format

Update destination branch input's name
  .github/workflows/contracts-docs.yml
Due: root-format

Revert to the original deposit event titles
  monitoring/src/deposit-monitor.ts
Due: monitoring-format

Handle testnet in addition to mainnet
  monitoring/src/deposit-monitor.ts
Due: monitoring-format

keep the original transaction hashes
  monitoring/src/deposit-monitor.ts
Due: monitoring-format

Pass deposits reveal blocks as part of the sweep proposal
  solidity/contracts/bridge/WalletCoordinator.sol
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Use a switch statement for the env-based urls
  monitoring/src/deposit-monitor.ts
Due: monitoring-format

Lowering wait time before requesting tx confirmation to 30sec
  system-tests/test/utils/bitcoin.ts
Due: root-format

Using func.skip instead of if statement to ignore this script from executing
  solidity/deploy/39_authorize_light_relay_maintainer_proxy_in_light_relay.ts
Due: solidity-format

Revert "Changing a backoff retrier for the system tests"
  typescript/src/electrum.ts
Due: typescript-format

Add script to authorize maintainer in LightRelayMaintainerProxy
  solidity/deploy/37_authorize_maintainer_in_light_relay_maintainer_proxy.ts
  solidity/deploy/38_transfer_light_relay_maintainer_proxy_ownership.ts
  solidity/deploy/39_authorize_light_relay_maintainer_proxy_in_reimbursement_pool.ts
  solidity/deploy/40_authorize_light_relay_maintainer_proxy_in_light_relay.ts
Due: solidity-format

Release v1.3.0
  solidity/package.json
  solidity/yarn.lock
Due: solidity-format

Artifacts deployed in v1.3.0
  solidity/deployments/mainnet/LightRelayMaintainerProxy.json
  solidity/deployments/mainnet/solcInputs/d71d4b4434e6669852eaf643ebd2a7bc.json
  solidity/export.json
Due: solidity-format

Begin solidity 1.4.0-dev version
  solidity/package.json
Due: solidity-format

Normalize the amount to bridge before calling Wormhole
  solidity/contracts/l2/L2WormholeGateway.sol
  solidity/test/l2/L2WormholeGateway.test.ts
Due: solidity-format

Ignore slither warning
  solidity/contracts/l2/L2WormholeGateway.sol
Due: solidity-format

Adding a script that updates ArbitrumWormholeGateway contact
  cross-chain/arbitrum/deploy_l2/03_upgrade_arbitrum_wormhole_gateway.ts
Due: root-format

Improved L2WoromholeGateway tests for dropping dust
  solidity/test/l2/L2WormholeGateway.test.ts
Due: solidity-format

Test name grammar fix
  solidity/test/l2/L2WormholeGateway.test.ts
Due: solidity-format

Adding upgrade deployment scripts for Optimism and Polygon network
  cross-chain/optimism/deploy_l2/03_upgrade_optimism_wormhole_gateway.ts
  cross-chain/polygon/deploy_sidechain/05_upgrade_polygon_wormhole_gateway.ts
Due: root-format

Release solidity/v1.3.1
  solidity/package.json
  solidity/yarn.lock
Due: solidity-format

Renaming upgrade deployment scripts
  cross-chain/arbitrum/deploy_l2/31_upgrade_arbitrum_wormhole_gateway.ts
  cross-chain/optimism/deploy_l2/31_upgrade_optimism_wormhole_gateway.ts
  cross-chain/polygon/deploy_sidechain/31_upgrade_polygon_wormhole_gateway.ts
Due: root-format

Applying correct tags
  cross-chain/optimism/deploy_l2/31_upgrade_optimism_wormhole_gateway.ts
  cross-chain/polygon/deploy_sidechain/31_upgrade_polygon_wormhole_gateway.ts
Due: root-format

Removing verification part
  cross-chain/polygon/deploy_sidechain/31_upgrade_polygon_wormhole_gateway.ts
Due: root-format

Updating yarn.lock to the latest dev version
  cross-chain/arbitrum/yarn.lock
  cross-chain/optimism/yarn.lock
  cross-chain/polygon/yarn.lock
Due: root-format

Updating missing upgrades in yarn.lock
  cross-chain/optimism/yarn.lock
  cross-chain/polygon/yarn.lock
Due: root-format

Release tbtc-v2-arbitrum v1.0.1
  cross-chain/arbitrum/package.json
  cross-chain/arbitrum/yarn.lock
Due: root-format

Artifacts from tbtc-v2-arbitrum v1.0.1
  cross-chain/arbitrum/.openzeppelin/unknown-42161.json
  cross-chain/arbitrum/deployments/arbitrumOne/ArbitrumWormholeGateway.json
Due: root-format

Release tbtc-v2-optimism v1.0.1
  cross-chain/optimism/package.json
  cross-chain/optimism/yarn.lock
Due: root-format
