Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: root-format
        name: "Check root directory code formatting"
        entry: /usr/bin/env bash -c "yarn format"
        exclude: '^solidity\/|^yearn\/|^typescript\/|^monitoring\/'
        language: script
        description: "Checks root directory code according to the formatting configuration"
      - id: solidity-format
        name: "Check solidity directory code formatting"
        entry: /usr/bin/env bash -c "cd solidity && yarn format"
        files: "^solidity/"
        language: script
        description: "Checks solidity directory code according to the formatting configuration"
      - id: yearn-format
        name: "Check yearn directory code formatting"
        entry: /usr/bin/env bash -c "cd yearn && yarn format"
        files: "^yearn/"
        language: script
        description: "Checks yearn directory code according to the formatting configuration"
      - id: typescript-format
        name: "Check typescript directory code formatting"
        entry: /usr/bin/env bash -c "cd typescript && yarn format"
        files: "^typescript/"
        language: script
        description: "Checks typescript directory code according to the formatting configuration"
      - id: monitoring-format
        name: "Check monitoring directory code formatting"
        entry: /usr/bin/env bash -c "cd monitoring && yarn format"
        files: "^monitoring/"
        language: script
        description: "Checks monitoring directory code according to the formatting configuration"

Artifacts from tbtc-v2-optimism v1.0.1
  cross-chain/optimism/.openzeppelin/optimism.json
  cross-chain/optimism/deployments/optimism/OptimismWormholeGateway.json
Due: root-format

Release tbtc-v2-polygon v1.0.1
  cross-chain/polygon/package.json
  cross-chain/polygon/yarn.lock
Due: root-format

Artifacts from tbtc-v2-polygon v1.0.1
  cross-chain/polygon/.openzeppelin/polygon.json
  cross-chain/polygon/deployments/polygon/PolygonWormholeGateway.json
Due: root-format

Artifacts from tbtc-v2-arbitrum v1.0.1
  cross-chain/arbitrum/.openzeppelin/unknown-42161.json
  cross-chain/arbitrum/deployments/arbitrumOne/ArbitrumWormholeGateway.json
Due: root-format

Refactor the Goerli light relay contract
  solidity/contracts/test/GoerliLightRelay.sol
Due: solidity-format

Don't include stub contracts in NPM packages
  .github/workflows/contracts.yml
  .github/workflows/npm-contracts.yml
  solidity/package.json
Due: root-format, solidity-format

Adjust WalletCoordinator gas offsets
  solidity/contracts/bridge/WalletCoordinator.sol
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Add coordinator address to the WalletCoordinator contract
  solidity/deploy/35_add_coordinator_address.ts
  solidity/deploy/36_transfer_wallet_coordinator_ownership.ts
  solidity/deploy/37_deploy_light_relay_maintainer_proxy.ts
  solidity/deploy/38_authorize_maintainer_in_light_relay_maintainer_proxy.ts
  solidity/deploy/39_transfer_light_relay_maintainer_proxy_ownership.ts
  solidity/deploy/40_authorize_light_relay_maintainer_proxy_in_reimbursement_pool.ts
  solidity/deploy/41_authorize_light_relay_maintainer_proxy_in_light_relay.ts
  solidity/hardhat.config.ts
Due: solidity-format

Adding Goerli deployment artifacts
  cross-chain/arbitrum/.gitignore
  cross-chain/arbitrum/.openzeppelin/unknown-421613.json
  cross-chain/arbitrum/deployments/arbitrumGoerli/.chainId
  cross-chain/arbitrum/deployments/arbitrumGoerli/ArbitrumTBTC.json
  cross-chain/arbitrum/deployments/arbitrumGoerli/ArbitrumWormholeGateway.json
Due: root-format

Adding testnet deployment artifacts
  cross-chain/optimism/.gitignore
  cross-chain/optimism/.openzeppelin/optimism-goerli.json
  cross-chain/optimism/deployments/optimismGoerli/.chainId
  cross-chain/optimism/deployments/optimismGoerli/OptimismTBTC.json
  cross-chain/optimism/deployments/optimismGoerli/OptimismWormholeGateway.json
  cross-chain/optimism/external/optimismGoerli/ArbitrumWormholeGateway.json
Due: root-format

Updated deployment script dependencies
  solidity/deploy/36_transfer_wallet_coordinator_ownership.ts
Due: solidity-format

Make linter happy
  solidity/hardhat.config.ts
Due: solidity-format

Updating arbitrum module with opti and poly gateways
  cross-chain/arbitrum/external/arbitrumGoerli/OptimismWormholeGateway.json
  cross-chain/arbitrum/external/arbitrumGoerli/PolygonWormholeGateway.json
Due: root-format

Updating optimism module with poly gateway
  cross-chain/optimism/external/optimismGoerli/PolygonWormholeGateway.json
Due: root-format

Updating polygon module with arbi and opti gateway
  cross-chain/polygon/external/mumbai/ArbitrumWormholeGateway.json
  cross-chain/polygon/external/mumbai/OptimismWormholeGateway.json
Due: root-format

Adding OZ manifesto file for Polygon module
  cross-chain/polygon/.openzeppelin/polygon-mumbai.json
Due: root-format

Adding mumbai deployment artifacts
  cross-chain/polygon/.gitignore
  cross-chain/polygon/deployments/mumbai/.chainId
  cross-chain/polygon/deployments/mumbai/PolygonTBTC.json
  cross-chain/polygon/deployments/mumbai/PolygonWormholeGateway.json
Due: root-format

Release solidity/v1.4.0
  solidity/package.json
  solidity/yarn.lock
Due: solidity-format

Mainnet WalletCoordinator deployment artifacts
  solidity/.openzeppelin/mainnet.json
  solidity/deployments/mainnet/WalletCoordinator.json
  solidity/export.json
Due: solidity-format

Bumping up solidity version to v1.5.0-dev
  solidity/package.json
Due: solidity-format

Temporarily trigger the workflow on feature branch
  .github/workflows/contracts-docs.yml
Due: root-format

Fix values of GPG secrets
  .github/workflows/contracts-docs.yml
Due: root-format

Temporarily use action from `fix-docs-generation` branch
  .github/workflows/contracts-docs.yml
Due: root-format

Don't run postinstall script separately from yarn install
  monitoring/Dockerfile
Due: monitoring-format

Add the new fn that finds a wallet for redemption
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/index.ts
  typescript/src/redemption.ts
  typescript/test/utils/mock-bridge.ts
Due: typescript-format

Change Valkyrie's to noreply email
  .github/workflows/contracts-docs.yml
Due: root-format

Update dependencies to `random-beacon`, `ecdsa` and `tbtc-v2`
  solidity/yarn.lock
  typescript/yarn.lock
Due: solidity-format, typescript-format

Update the `TBTCToken` interface
  typescript/src/chain.ts
  typescript/src/ethereum.ts
Due: typescript-format

Update the `Bridge` interface
  typescript/src/chain.ts
  typescript/src/ethereum.ts
Due: typescript-format

Refactor `requestRedemption` fn
  typescript/src/redemption.ts
Due: typescript-format

Update the `findWalletForRedemption` fn
  typescript/src/redemption.ts
Due: typescript-format

Expose `submitRedemptionProposal` function
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Fix commiter's email
  .github/workflows/contracts-docs.yml
Due: root-format

Revert "Don't run postinstall script separately from yarn install"
  monitoring/Dockerfile
Due: monitoring-format

Update `requestRedemption` fn
  typescript/src/redemption.ts
Due: typescript-format

RFC-10: Background and the current functionality
  docs/rfc/rfc-10.adoc
Due: root-format

RFC-10: Goal of the proposal
  docs/rfc/rfc-10.adoc
Due: root-format
