Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

root-format:
  name: Check root directory code formatting
  entry: /usr/bin/env bash -c "yarn format"
  language: script
  description: Checks root directory code according to the formatting configuration

solidity-format:
  name: Check solidity directory code formatting
  entry: /usr/bin/env bash -c "cd solidity && yarn format"
  language: script
  description: Checks solidity directory code according to the formatting configuration

yearn-format:
  name: Check yearn directory code formatting
  entry: /usr/bin/env bash -c "cd yearn && yarn format"
  language: script
  description: Checks yearn directory code according to the formatting configuration

typescript-format:
  name: Check typescript directory code formatting
  entry: /usr/bin/env bash -c "cd typescript && yarn format"
  language: script
  description: Checks typescript directory code according to the formatting configuration

monitoring-format:
  name: Check monitoring directory code formatting
  entry: /usr/bin/env bash -c "cd monitoring && yarn format"
  language: script
  description: Checks monitoring directory code according to the formatting configuration

Add debug logs to the `findWalletForRedemption` fn
  typescript/src/redemption.ts
Due: typescript-format

Fix typo in docs
  typescript/src/bitcoin.ts
Due: typescript-format

Add unit test for `createOutputScriptFromAddress`
  typescript/test/bitcoin.test.ts
Due: typescript-format

Update the `createOutputScriptFromAddress` fn
  typescript/src/bitcoin.ts
  typescript/test/bitcoin.test.ts
Due: typescript-format

Refactor the `requestRedemption` fn
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/redemption.ts
  typescript/test/redemption.test.ts
  typescript/test/utils/mock-tbtc-token.ts
Due: typescript-format

Deployment script for WalletCoordinator upgrade
  solidity/deploy/81_upgrade_wallet_coordinator_v2.ts
Due: solidity-format

Release solidity/v1.5.0
  solidity/package.json
  solidity/yarn.lock
Due: solidity-format

Updates to WalletCoordinator upgrade script
  solidity/deploy/81_upgrade_wallet_coordinator_v2.ts
Due: solidity-format

Upgraded WalletCoordinator mainnet artifact
  solidity/.openzeppelin/mainnet.json
  solidity/deployments/mainnet/WalletCoordinator.json
  solidity/export.json
Due: solidity-format

Add unit tests for `createOutputScriptFromAddress`
  typescript/test/bitcoin.test.ts
Due: typescript-format

Simplify `requestRedemption` API
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/redemption.ts
  typescript/test/redemption.test.ts
  typescript/test/utils/mock-tbtc-token.ts
Due: typescript-format

Add unit tests
  typescript/test/ethereum.test.ts
Due: typescript-format

Start solidity/v1.6.0-dev version
  solidity/package.json
Due: solidity-format

Add `getAddressFromScriptPubKey` fn
  typescript/src/bitcoin.ts
  typescript/test/bitcoin.test.ts
  typescript/test/data/bitcoin.ts
Due: typescript-format

Remove unnecessary method from `MockBridge`
  typescript/test/utils/mock-bridge.ts
Due: typescript-format

Update the error msg in `requestRedemption`
  typescript/src/ethereum.ts
Due: typescript-format

Update `createOutputScriptFromAddress` tests
  typescript/test/bitcoin.test.ts
Due: typescript-format

Remove unnecessary fields in `MockBridge` class
  typescript/test/utils/mock-bridge.ts
Due: typescript-format

Remove unnecessary import
  typescript/src/bitcoin.ts
Due: typescript-format

Update `findWalletForRedemption`
  typescript/src/redemption.ts
  typescript/test/data/redemption.ts
  typescript/test/redemption.test.ts
Due: typescript-format

Fix debug logs format in `findWalletForRedemption`
  typescript/src/redemption.ts
Due: typescript-format

Fix typo
  typescript/test/redemption.test.ts
Due: typescript-format

Prototyping canonical SolanaTBTC token with the Solang compiler
  cross-chain/solana/.gitignore
  cross-chain/solana/SolanaTBTC.sol
  cross-chain/solana/SolanaTBTC.spec.ts
  cross-chain/solana/package.json
  cross-chain/solana/setup.ts
  cross-chain/solana/solana-library/spl_token.sol
  cross-chain/solana/solana-library/system_instruction.sol
  cross-chain/solana/tsconfig.json
Due: root-format

Adding README with some basic description
  cross-chain/solana/README.adoc
Due: root-format

Adding a script to compile SolanaTBTC contract and run the tests
  cross-chain/solana/runTests.sh
Due: root-format

Improve `findWalletForRedemption` tests
  typescript/test/data/redemption.ts
  typescript/test/redemption.test.ts
Due: typescript-format

Update logs in `findWalletForRedemption`
  typescript/src/redemption.ts
Due: typescript-format

Reorder arguments in `findWalletForRedemption`
  typescript/src/redemption.ts
  typescript/test/redemption.test.ts
Due: typescript-format

Update `activeWalletPublicKey` fn in Eth Bridge
  typescript/src/ethereum.ts
Due: typescript-format

Fix formatting errors
  typescript/src/redemption.ts
  typescript/test/data/redemption.ts
  typescript/test/redemption.test.ts
Due: typescript-format

Add commit hash to the `.git-blame-ignore-revs`
  .git-blame-ignore-revs
Due: root-format

Update `findWalletForRedemption` function
  typescript/src/redemption.ts
  typescript/test/data/redemption.ts
  typescript/test/redemption.test.ts
Due: typescript-format

Leave TODO in `findWalletForRedemption` function
  typescript/src/redemption.ts
Due: typescript-format

Expose `getTransactionHistory` function
  typescript/src/bitcoin.ts
  typescript/src/electrum.ts
  typescript/test/electrum.test.ts
  typescript/test/utils/mock-bitcoin-client.ts
Due: typescript-format

Expose `determineWalletMainUtxo` function
  typescript/src/wallet.ts
  typescript/test/wallet.test.ts
Due: typescript-format

Anchor prototype of solana tbtc
  .gitignore
  .yarnrc.yml
  cross-chain/solana/solana-tbtc-anchor/.gitignore
  cross-chain/solana/solana-tbtc-anchor/.prettierignore
  cross-chain/solana/solana-tbtc-anchor/Anchor.toml
  cross-chain/solana/solana-tbtc-anchor/Cargo.lock
  cross-chain/solana/solana-tbtc-anchor/Cargo.toml
  cross-chain/solana/solana-tbtc-anchor/migrations/deploy.ts
  cross-chain/solana/solana-tbtc-anchor/package.json
  cross-chain/solana/solana-tbtc-anchor/programs/solana-tbtc-anchor/Cargo.toml
  cross-chain/solana/solana-tbtc-anchor/programs/solana-tbtc-anchor/Xargo.toml
  cross-chain/solana/solana-tbtc-anchor/programs/solana-tbtc-anchor/src/lib.rs
  cross-chain/solana/solana-tbtc-anchor/tests/solana-tbtc-anchor.ts
  cross-chain/solana/solana-tbtc-anchor/tsconfig.json
  package.json
  yarn.lock
Due: root-format

Make `findWalletForRedemption` use `determineWalletMainUtxo` function
  typescript/src/redemption.ts
  typescript/test/data/redemption.ts
  typescript/test/redemption.test.ts
Due: typescript-format

Add `console.error` if wallet output not found for wallet transaction
  typescript/src/wallet.ts
Due: typescript-format

Path conditions:
  root-format: any file but: ^solidity\/|^yearn\/|^typescript\/|^monitoring\/
  solidity-format: any of: ^solidity/
  yearn-format: any of: ^yearn/
  typescript-format: any of: ^typescript/
  monitoring-format: any of: ^monitoring/
