Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

root-format:
  name: Check root directory code formatting
  entry: /usr/bin/env bash -c "yarn format"
  language: script
  description: Checks root directory code according to the formatting configuration

solidity-format:
  name: Check solidity directory code formatting
  entry: /usr/bin/env bash -c "cd solidity && yarn format"
  language: script
  description: Checks solidity directory code according to the formatting configuration

yearn-format:
  name: Check yearn directory code formatting
  entry: /usr/bin/env bash -c "cd yearn && yarn format"
  language: script
  description: Checks yearn directory code according to the formatting configuration

typescript-format:
  name: Check typescript directory code formatting
  entry: /usr/bin/env bash -c "cd typescript && yarn format"
  language: script
  description: Checks typescript directory code according to the formatting configuration

monitoring-format:
  name: Check monitoring directory code formatting
  entry: /usr/bin/env bash -c "cd monitoring && yarn format"
  language: script
  description: Checks monitoring directory code according to the formatting configuration

Regenerated docs
  typescript/api-reference/README.md
  typescript/api-reference/classes/ElectrumClient.md
  typescript/api-reference/classes/RedemptionsService.md
  typescript/api-reference/interfaces/BitcoinClient.md
Due: typescript-format

TypeScript: Release v2.2.0
  typescript/package.json
  typescript/yarn.lock
Due: typescript-format

TypeScript: Start version 2.3.0-dev
  typescript/package.json
Due: typescript-format

Add README do NPM package
  typescript/package.json
Due: typescript-format

Updated deposit-redemption test
  system-tests/package.json
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/utils/bitcoin.ts
  system-tests/test/utils/deposit.ts
  system-tests/yarn.lock
Due: root-format

Updated tbtc-v2.ts version to 2.2.0
  system-tests/package.json
  system-tests/yarn.lock
Due: root-format

Use satoshi amount while searching wallet for redemption
  typescript/api-reference/classes/RedemptionsService.md
  typescript/src/services/redemptions/redemptions-service.ts
  typescript/test/services/redemptions.test.ts
  typescript/test/utils/mock-tbtc-token.ts
Due: typescript-format

Updated minting-unminting test
  system-tests/test/minting-unminting.test.ts
Due: root-format

Used Hex for system test setup
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/utils/bitcoin.ts
Due: root-format

Updated version of tbtc-v2.ts
  system-tests/package.json
  system-tests/yarn.lock
Due: root-format

Replaced string with Hex for hexstring test data
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/minting-unminting.test.ts
  system-tests/test/utils/deposit.ts
Due: root-format

Switch to dapp-dev-sepolia
  solidity/deploy/90_initialize_wallet_owner.ts
  solidity/package.json
  solidity/yarn.lock
Due: solidity-format

Used Hex to represent redeemer output script
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/minting-unminting.test.ts
Due: root-format

Improved printing deposit receipt
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/minting-unminting.test.ts
  system-tests/test/utils/deposit.ts
Due: root-format

Modified checks for deleted redemption requests
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/minting-unminting.test.ts
Due: root-format

Add Sepolia / Base Sepolia support for Base cross-chain
  cross-chain/base/.gitignore
  cross-chain/base/README.adoc
  cross-chain/base/deploy_l2/12_update_self_in_wormhole_gateway_mapping.ts
  cross-chain/base/hardhat.config.ts
  cross-chain/base/package.json
Due: root-format

Move LedgerLiveAppEthereumSigner from T dashboard
  typescript/package.json
  typescript/src/lib/utils/index.ts
  typescript/src/lib/utils/ledger/index.ts
  typescript/src/lib/utils/ledger/ledger.ts
  typescript/src/lib/utils/ledger/wallet-api.ts
  typescript/yarn.lock
Due: typescript-format

RFC-10: Link to Wormhole docs explaining VAAs
  docs/rfc/rfc-10.adoc
Due: root-format

RFC-10: Less ambiguous language about L1<>Ethereum
  docs/rfc/rfc-10.adoc
Due: root-format

RFC-10: Clarified which redemptions affect Wormhole Token Bridge
  docs/rfc/rfc-10.adoc
Due: root-format

Renamed RFC 10 to RFC 11
  docs/rfc/rfc-11.adoc
Due: root-format

Import Signer from `ethers` lib
  typescript/src/lib/utils/ledger/ledger.ts
Due: typescript-format

Add additional arguments to the constructor
  typescript/src/lib/utils/index.ts
  typescript/src/lib/utils/ledger/index.ts
  typescript/src/lib/utils/ledger/ledger.ts
Due: typescript-format

Function call fixes
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/minting-unminting.test.ts
Due: root-format

Move everything ledger related to ledger.ts file
  typescript/src/lib/utils/ledger.ts
  typescript/src/lib/utils/ledger/index.ts
  typescript/src/lib/utils/ledger/wallet-api.ts
Due: typescript-format

Fix import
  typescript/src/lib/utils/ledger.ts
Due: typescript-format

Extract error to a separate class
  typescript/src/lib/utils/ledger.ts
Due: typescript-format

Updated scenario descriptions
  system-tests/test/deposit-redemption.test.ts
Due: root-format

RFC 12: Background and current functionality
  docs/rfc/rfc-12.adoc
Due: root-format

Correct library usage
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/minting-unminting.test.ts
  system-tests/test/utils/deposit.ts
Due: root-format

Updated tbtc-v2.ts version to development
  system-tests/package.json
  system-tests/yarn.lock
Due: root-format

RFC 12: Proposal, goal, and implementation outline
  docs/rfc/rfc-12.adoc
Due: root-format

Fix usage of tbtc libraries
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/minting-unminting.test.ts
Due: root-format

Added unit tests for detectFunding
  typescript/src/services/deposits/deposit.ts
  typescript/test/services/deposits.test.ts
Due: typescript-format

Added unit tests for getBitcoinAddress
  typescript/test/services/deposits.test.ts
Due: typescript-format

Linting and docs fix
  typescript/api-reference/classes/Deposit.md
  typescript/api-reference/classes/DepositScript.md
  typescript/src/services/deposits/deposit.ts
Due: typescript-format

Variable rename
  typescript/test/services/deposits.test.ts
Due: typescript-format

Added unit test for initiateMinting
  typescript/api-reference/classes/Deposit.md
  typescript/api-reference/classes/DepositScript.md
  typescript/src/services/deposits/deposit.ts
  typescript/test/services/deposits.test.ts
Due: typescript-format

RFC 12: Detailed implementation
  docs/rfc/rfc-12.adoc
Due: root-format

Path conditions:
  root-format: any file but: ^solidity\/|^yearn\/|^typescript\/|^monitoring\/
  solidity-format: any of: ^solidity/
  yearn-format: any of: ^yearn/
  typescript-format: any of: ^typescript/
  monitoring-format: any of: ^monitoring/
