Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: root-format
        name: "Check root directory code formatting"
        entry: /usr/bin/env bash -c "yarn format"
        exclude: '^solidity\/|^yearn\/|^typescript\/|^monitoring\/'
        language: script
        description: "Checks root directory code according to the formatting configuration"
      - id: solidity-format
        name: "Check solidity directory code formatting"
        entry: /usr/bin/env bash -c "cd solidity && yarn format"
        files: "^solidity/"
        language: script
        description: "Checks solidity directory code according to the formatting configuration"
      - id: yearn-format
        name: "Check yearn directory code formatting"
        entry: /usr/bin/env bash -c "cd yearn && yarn format"
        files: "^yearn/"
        language: script
        description: "Checks yearn directory code according to the formatting configuration"
      - id: typescript-format
        name: "Check typescript directory code formatting"
        entry: /usr/bin/env bash -c "cd typescript && yarn format"
        files: "^typescript/"
        language: script
        description: "Checks typescript directory code according to the formatting configuration"
      - id: monitoring-format
        name: "Check monitoring directory code formatting"
        entry: /usr/bin/env bash -c "cd monitoring && yarn format"
        files: "^monitoring/"
        language: script
        description: "Checks monitoring directory code according to the formatting configuration"

Mint and burn functionality for L2TBTC token
  solidity/contracts/l2/L2TBTC.sol
  solidity/test/l2/L2TBTC.test.ts
Due: solidity-format

Prepare the minting monitor for extension
  monitoring/src/minting-monitor.ts
Due: monitoring-format

Adding deployment/ to .gitignore and more hardhat setup
  cross-chain/arbitrum/.gitignore
  cross-chain/arbitrum/hardhat.config.ts
Due: root-format

Initializing ArbitrumTBTC token
  cross-chain/arbitrum/deploy/01_deploy_arbitrum_tbtc_token.ts
Due: root-format

Making arbi wormhole gateway a minter
  cross-chain/arbitrum/deploy/11_authorize_wormhole_gateway_as_minter.ts
Due: root-format

Drafting Readme
  cross-chain/arbitrum/README.adoc
  cross-chain/arbitrum/contracts/ArbitrumTBTC.sol
Due: root-format

L2TBTC token tests for ERC20 functionalities
  solidity/contracts/l2/L2TBTC.sol
  solidity/test/l2/L2TBTC.test.ts
Due: solidity-format

Monitor designated minters for minting requests
  monitoring/src/minting-monitor.ts
Due: monitoring-format

Expose `OptimisticMintingFinalized` events getter
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/optimistic-minting.ts
Due: typescript-format

s/checkMintersHealth/checkDesignatedMintersHealth
  monitoring/src/minting-monitor.ts
Due: monitoring-format

Simplify `checkDesignatedMintersHealth` function
  monitoring/src/minting-monitor.ts
Due: monitoring-format

L2TBTC pause and unpause functionality
  solidity/contracts/l2/L2TBTC.sol
  solidity/test/l2/L2TBTC.test.ts
Due: solidity-format

Recover ERC20 and ERC721 functionality for L2TBTC
  solidity/contracts/l2/L2TBTC.sol
  solidity/test/l2/L2TBTC.test.ts
Due: solidity-format

s/ChainDataAggregate/ChainDataCache
  monitoring/src/minting-monitor.ts
Due: monitoring-format

Adding governance account
  cross-chain/arbitrum/hardhat.config.ts
Due: root-format

Transfering ownership of Wormhole gateway to governance
  cross-chain/arbitrum/deploy/03_transfer_arbitrum_tbtc_ownership.ts
  cross-chain/arbitrum/deploy/04_authorize_wormhole_gateway_as_minter.ts
Due: root-format

Added unit tests for validating transaction inclusion proof
  typescript/src/proof.ts
  typescript/test/data/proof.ts
  typescript/test/proof.test.ts
Due: typescript-format

Refactored unit tests
  typescript/test/proof.test.ts
Due: typescript-format

Monitor minting not requested by any minter
  monitoring/src/minting-monitor.ts
Due: monitoring-format

Added a proper L2TBTC contract documentation
  solidity/contracts/l2/L2TBTC.sol
Due: solidity-format

Bump up `@keep-network/tbtc-v2.ts` package
  monitoring/yarn.lock
Due: monitoring-format

RFC-8: Described two possible Wormhole gateway implementations
  docs/rfc/rfc-8.adoc
Due: root-format

RFC-8: Rearranged Initial Implementation sections
  docs/rfc/rfc-8.adoc
Due: root-format

Monitor designated minters for minting finalizations
  monitoring/src/minting-monitor.ts
Due: monitoring-format

Fix event filtering and minor improvements
  monitoring/src/minting-monitor.ts
Due: monitoring-format

Align new system events titles
  monitoring/src/minting-monitor.ts
Due: monitoring-format

Describe new system events in the documentation
  monitoring/docs/monitoring-and-telemetry.adoc
Due: monitoring-format

Initialization will be a part of deployment scripts
  cross-chain/arbitrum/contracts/ArbitrumTBTC.sol
Due: root-format

Deploying a token through transperent proxy pattern
  cross-chain/arbitrum/deploy/01_deploy_arbitrum_tbtc_token.ts
Due: root-format

Transfering proxy adnin ownershipt to governance
  cross-chain/arbitrum/deploy/05_transfer_proxy_admin_ownership.ts
Due: root-format

Changes to the tBTC v1 sunsetting plan and supporting contracts
  solidity/contracts/bridge/VendingMachineV3.sol
  solidity/deploy/31_deploy_vending_machine_v3.ts
  solidity/deploy/32_transfer_vending_machine_v2_ownership.ts
  solidity/deploy/33_transfer_vending_machine_v3_ownership.ts
  solidity/test/bridge/VendingMachineV2.test.ts
  solidity/test/bridge/VendingMachineV3.test.ts
Due: solidity-format

Expose TBTC v2 token total supply getter
  typescript/package.json
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/index.ts
Due: typescript-format

Set of small improvements to L2TBTC unit tests
  solidity/test/l2/L2TBTC.test.ts
Due: solidity-format

Add TBTC total supply monitor
  monitoring/src/contracts.ts
  monitoring/src/index.ts
  monitoring/src/suply-monitor.ts
Due: monitoring-format

Document the high supply change system event
  monitoring/docs/monitoring-and-telemetry.adoc
Due: monitoring-format

Fix file name typo
  monitoring/src/index.ts
  monitoring/src/supply-monitor.ts
Due: monitoring-format

Let to withdraw tBTC v1 from VendingMachineV3
  solidity/contracts/bridge/VendingMachineV3.sol
  solidity/test/bridge/VendingMachineV3.test.ts
Due: solidity-format
