Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

root-format:
  name: Check root directory code formatting
  entry: /usr/bin/env bash -c "yarn format"
  language: script
  description: Checks root directory code according to the formatting configuration

solidity-format:
  name: Check solidity directory code formatting
  entry: /usr/bin/env bash -c "cd solidity && yarn format"
  language: script
  description: Checks solidity directory code according to the formatting configuration

yearn-format:
  name: Check yearn directory code formatting
  entry: /usr/bin/env bash -c "cd yearn && yarn format"
  language: script
  description: Checks yearn directory code according to the formatting configuration

typescript-format:
  name: Check typescript directory code formatting
  entry: /usr/bin/env bash -c "cd typescript && yarn format"
  language: script
  description: Checks typescript directory code according to the formatting configuration

monitoring-format:
  name: Check monitoring directory code formatting
  entry: /usr/bin/env bash -c "cd monitoring && yarn format"
  language: script
  description: Checks monitoring directory code according to the formatting configuration

Regenerate API docs
  typescript/api-reference/README.md
  typescript/api-reference/classes/ElectrumClient.md
  typescript/api-reference/interfaces/ElectrumCredentials.md
Due: typescript-format

Authorized reimbursements in the `L1BitcoinDepositor` contract
  solidity/contracts/l2/L1BitcoinDepositor.sol
  solidity/test/l2/L1BitcoinDepositor.test.ts
Due: solidity-format

Add zero address checks for `L*BitcoinDepositor` initializers
  solidity/contracts/l2/L1BitcoinDepositor.sol
  solidity/contracts/l2/L2BitcoinDepositor.sol
Due: solidity-format

Lock pragma version for `L*BitcoinDepositor` contracts
  solidity/contracts/l2/L1BitcoinDepositor.sol
  solidity/contracts/l2/L2BitcoinDepositor.sol
Due: solidity-format

Monitoring docs: Adjust Discord channels names
  monitoring/docs/monitoring-and-telemetry.adoc
Due: monitoring-format

Mark L2 direct bridging as an experimental feature
  typescript/api-reference/classes/BaseL2TBTCToken.md
  typescript/api-reference/classes/DepositsService.md
  typescript/api-reference/classes/TBTC.md
  typescript/src/lib/base/artifacts/base/BaseTBTC.json
  typescript/src/lib/base/l2-bitcoin-depositor.ts
  typescript/src/lib/base/l2-tbtc-token.ts
  typescript/src/services/deposits/deposits-service.ts
  typescript/src/services/tbtc.ts
Due: typescript-format

Update contract artifacts in the SDK
  typescript/src/lib/ethereum/artifacts/mainnet/Bridge.json
  typescript/src/lib/ethereum/artifacts/mainnet/WalletRegistry.json
  typescript/src/lib/ethereum/artifacts/sepolia/Bridge.json
Due: typescript-format

TypeScript: Release v2.4.0
  typescript/package.json
  typescript/yarn.lock
Due: typescript-format

TypeScript: Start version 2.5.0-dev
  typescript/package.json
Due: typescript-format

Fix `Bridge` contract artifact for Sepolia
  typescript/src/lib/ethereum/artifacts/sepolia/Bridge.json
Due: typescript-format

Improve public key fetching for closed/terminated wallets
  typescript/src/lib/contracts/bridge.ts
  typescript/src/lib/ethereum/bridge.ts
  typescript/src/services/redemptions/redemptions-service.ts
Due: typescript-format

Re-generate API docs
  typescript/api-reference/README.md
  typescript/api-reference/classes/EthereumBridge.md
  typescript/api-reference/interfaces/Wallet.md
Due: typescript-format

TypeScript: Release v2.4.1
  typescript/package.json
  typescript/yarn.lock
Due: typescript-format

Expose function to build redemption data
  typescript/src/lib/contracts/tbtc-token.ts
  typescript/src/lib/ethereum/tbtc-token.ts
  typescript/src/services/redemptions/redemptions-service.ts
Due: typescript-format

Add unit test to cover requestRedemptionWithProxy function
  typescript/test/services/redemptions.test.ts
  typescript/test/utils/mock-redeemer-proxy.ts
  typescript/test/utils/mock-tbtc-token.ts
Due: typescript-format

Rebuild Typescript API docs
  typescript/api-reference/README.md
  typescript/api-reference/classes/EthereumTBTCToken.md
  typescript/api-reference/classes/RedemptionsService.md
  typescript/api-reference/interfaces/RedeemerProxy.md
  typescript/api-reference/interfaces/TBTCToken.md
Due: typescript-format

Introduce redemption with proxy
  typescript/src/services/redemptions/redeemer-proxy.ts
  typescript/src/services/redemptions/redemptions-service.ts
Due: typescript-format

Make findWalletForRedemption protected again
  typescript/src/services/redemptions/redemptions-service.ts
Due: typescript-format

Export RedeemerProxy interface for external usage
  typescript/src/services/redemptions/index.ts
Due: typescript-format

Skip retry for registered wallets
  typescript/src/lib/utils/backoff.ts
Due: typescript-format

Added BTC with Satoshi
  typescript/src/services/redemptions/redemptions-service.ts
  typescript/test/services/redemptions.test.ts
Due: typescript-format

SDK: Expose a way to fetch pending redemptions using wallet PKH
  typescript/api-reference/README.md
  typescript/api-reference/classes/EthereumBridge.md
  typescript/api-reference/enums/WalletState-1.md
  typescript/api-reference/interfaces/Bridge.md
  typescript/api-reference/interfaces/DepositReceipt.md
  typescript/api-reference/interfaces/DepositRequest.md
  typescript/api-reference/interfaces/RedemptionRequest.md
  typescript/api-reference/interfaces/Wallet.md
  typescript/api-reference/modules/WalletState.md
  typescript/src/lib/contracts/bridge.ts
  typescript/src/lib/ethereum/bridge.ts
  typescript/test/utils/mock-bridge.ts
Due: typescript-format

Bump up tBTC SDK to the latest version
  monitoring/package.json
  monitoring/yarn.lock
Due: monitoring-format

Adjust monitoring to the latest tBTC SDK
  monitoring/src/block-explorer.ts
  monitoring/src/blocks.ts
  monitoring/src/context.ts
  monitoring/src/contracts.ts
  monitoring/src/deposit-monitor.ts
  monitoring/src/index.ts
  monitoring/src/minting-monitor.ts
  monitoring/src/redemption-monitor.ts
  monitoring/src/supply-monitor.ts
  monitoring/src/system-event.ts
  monitoring/src/wallet-monitor.ts
Due: monitoring-format

Bump node version for monitoring CI
  .github/workflows/monitoring.yml
Due: root-format

SDK: Remove Ledger utils
  typescript/package.json
  typescript/src/lib/utils/index.ts
  typescript/src/lib/utils/ledger.ts
  typescript/yarn.lock
Due: typescript-format

Bump node version for monitoring Docker
  monitoring/Dockerfile
Due: monitoring-format

Bump up tBTC SDK to the latest version without problematic Ledger dependency
  monitoring/package.json
  monitoring/yarn.lock
Due: monitoring-format

Add log informing about monitoring setup result
  monitoring/src/index.ts
Due: monitoring-format

[FEAT] Added Arbitrum artifacts
  cross-chain/arbitrum/deployments/arbitrumSepolia/ArbitrumL2BitcoinDepositor.json
  typescript/src/lib/arbitrum/artifacts/arbitrumOne/ArbitrumL2BitcoinDepositor.json
  typescript/src/lib/arbitrum/artifacts/arbitrumOne/ArbitrumTBTC.json
  typescript/src/lib/arbitrum/artifacts/arbitrumSepolia/ArbitrumL2BitcoinDepositor.json
  typescript/src/lib/arbitrum/artifacts/arbitrumSepolia/ArbitrumTBTC.json
  typescript/src/lib/ethereum/artifacts/sepolia/ArbitrumL1BitcoinDepositor.json
Due: root-format, typescript-format

[FEAT] Added Arbitrum logic
  cross-chain/arbitrum/contracts/test/ArbitrumL1BitcoinDepositorUpgraded.sol
  cross-chain/arbitrum/contracts/test/ArbitrumL2BitcoinDepositorUpgraded.sol
  cross-chain/arbitrum/deploy_helpers/wormhole_chains.ts
  typescript/src/index.ts
  typescript/src/lib/arbitrum/index.ts
  typescript/src/lib/arbitrum/l2-bitcoin-depositor.ts
  typescript/src/lib/arbitrum/l2-tbtc-token.ts
  typescript/src/lib/contracts/chain.ts
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/services/tbtc.ts
Due: root-format, typescript-format

[FIX] Update Arbitrum contract address
  typescript/src/lib/arbitrum/artifacts/arbitrumOne/ArbitrumL2BitcoinDepositor.json
  typescript/src/lib/arbitrum/artifacts/arbitrumSepolia/ArbitrumL2BitcoinDepositor.json
  typescript/src/lib/ethereum/artifacts/sepolia/ArbitrumL1BitcoinDepositor.json
Due: typescript-format

[UPDATE] Arbitrum artifacts
  cross-chain/arbitrum/deployments/arbitrumSepolia/ArbitrumL2BitcoinDepositor.json
  typescript/src/lib/arbitrum/artifacts/arbitrumSepolia/ArbitrumL2BitcoinDepositor.json
  typescript/src/lib/ethereum/artifacts/sepolia/ArbitrumL1BitcoinDepositor.json
Due: root-format, typescript-format

[FEAT] Arbitrum tests
  typescript/test/lib/arbitrum.test.ts
  typescript/test/lib/ethereum.test.ts
  typescript/test/services/deposits.test.ts
Due: typescript-format

[FIX] Build compilation errors
  typescript/src/lib/arbitrum/artifacts/arbitrumOne/ArbitrumTBTC.json
  typescript/src/lib/arbitrum/artifacts/arbitrumSepolia/ArbitrumL2BitcoinDepositor.json
  typescript/src/lib/arbitrum/artifacts/arbitrumSepolia/ArbitrumTBTC.json
  typescript/src/lib/arbitrum/index.ts
  typescript/src/lib/contracts/chain.ts
  typescript/src/lib/ethereum/artifacts/sepolia/ArbitrumL1BitcoinDepositor.json
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/test/lib/arbitrum.test.ts
  typescript/test/services/deposits.test.ts
Due: typescript-format

[FEAT] Enable crosschain
  typescript/src/services/tbtc.ts
Due: typescript-format

[FIX] Chains
  typescript/src/lib/contracts/chain.ts
Due: typescript-format

Improve the `WalletRegistry.getWalletPublicKey` fn
  typescript/api-reference/classes/EthereumWalletRegistry.md
  typescript/src/lib/ethereum/wallet-registry.ts
Due: typescript-format

[DELETE] Modifications on cross-chain folder
  cross-chain/arbitrum/contracts/test/ArbitrumL1BitcoinDepositorUpgraded.sol
  cross-chain/arbitrum/contracts/test/ArbitrumL2BitcoinDepositorUpgraded.sol
  cross-chain/arbitrum/deploy_helpers/wormhole_chains.ts
  cross-chain/arbitrum/deployments/arbitrumSepolia/ArbitrumL2BitcoinDepositor.json
Due: root-format

Path conditions:
  root-format: any file but: ^solidity\/|^yearn\/|^typescript\/|^monitoring\/
  solidity-format: any of: ^solidity/
  yearn-format: any of: ^yearn/
  typescript-format: any of: ^typescript/
  monitoring-format: any of: ^monitoring/
