Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

root-format:
  name: Check root directory code formatting
  entry: /usr/bin/env bash -c "yarn format"
  language: script
  description: Checks root directory code according to the formatting configuration

solidity-format:
  name: Check solidity directory code formatting
  entry: /usr/bin/env bash -c "cd solidity && yarn format"
  language: script
  description: Checks solidity directory code according to the formatting configuration

yearn-format:
  name: Check yearn directory code formatting
  entry: /usr/bin/env bash -c "cd yearn && yarn format"
  language: script
  description: Checks yearn directory code according to the formatting configuration

typescript-format:
  name: Check typescript directory code formatting
  entry: /usr/bin/env bash -c "cd typescript && yarn format"
  language: script
  description: Checks typescript directory code according to the formatting configuration

monitoring-format:
  name: Check monitoring directory code formatting
  entry: /usr/bin/env bash -c "cd monitoring && yarn format"
  language: script
  description: Checks monitoring directory code according to the formatting configuration

Add commit message rules to CONTRIBUTING
  CONTRIBUTING.adoc
Due: root-format

Use proper format for adoc links
  CONTRIBUTING.adoc
Due: root-format

We shouldn't refer to tBTC as "TBTC"
  README.adoc
Due: root-format

[FEAT] Get deposit status
  typescript/src/lib/contracts/cross-chain.ts
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
Due: typescript-format

[FIX] L1 Get deposit status
  typescript/api-reference/README.md
  typescript/api-reference/classes/EthereumCrossChainExtraDataEncoder.md
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/api-reference/enums/DepositState.md
  typescript/api-reference/interfaces/CrossChainExtraDataEncoder.md
  typescript/api-reference/interfaces/L1BitcoinDepositor.md
  typescript/keep-network-tbtc-v2.ts-v2.5.1-dev.tgz
  typescript/package.json
  typescript/src/lib/contracts/cross-chain.ts
  typescript/test/utils/mock-cross-chain.ts
Due: typescript-format

[FIX] depositId is string
  typescript/src/lib/contracts/cross-chain.ts
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
Due: typescript-format

[FIX] DepositID is string
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/api-reference/interfaces/L1BitcoinDepositor.md
  typescript/keep-network-tbtc-v2.ts-v2.5.1-dev.tgz
  typescript/test/utils/mock-cross-chain.ts
Due: typescript-format

[FEAT] Arbitrum One Artifacts
  typescript/api-reference/classes/ArbitrumL2BitcoinDepositor.md
  typescript/api-reference/classes/ArbitrumL2TBTCToken.md
  typescript/src/lib/arbitrum/artifacts/arbitrumOne/ArbitrumL2BitcoinDepositor.json
  typescript/src/lib/arbitrum/l2-bitcoin-depositor.ts
  typescript/src/lib/arbitrum/l2-tbtc-token.ts
  typescript/src/lib/ethereum/artifacts/mainnet/ArbitrumOneL1BitcoinDepositor.json
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
Due: typescript-format

Rename getDepositStatus to getDepositState
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/api-reference/interfaces/L1BitcoinDepositor.md
  typescript/src/lib/contracts/cross-chain.ts
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/test/utils/mock-cross-chain.ts
Due: typescript-format

Bring back 2.5.0-dev version
  typescript/package.json
Due: typescript-format

add-txMaxFee-to-tbtcAmount
  solidity/contracts/l2/L1BitcoinDepositor.sol
Due: solidity-format

update-deployment-of-BaseL1BitcoinDepositor-on-sepolia
  typescript/src/lib/ethereum/artifacts/sepolia/BaseL1BitcoinDepositor.json
Due: typescript-format

Retrieve wallet states concurrently to significantly reduce redemption processing time
  typescript/src/services/redemptions/redemptions-service.ts
Due: typescript-format

Timelock for the Bridge
  solidity/contracts/Timelock.sol
  solidity/deploy/42_deploy_timelock.ts
  solidity/test/Timelock.test.ts
Due: solidity-format

Mainnet deployment artifacts for the Timelock contract
  solidity/deployments/mainnet/Timelock.json
  solidity/deployments/mainnet/solcInputs/98e272e2fbf178ec895387b6c503f9de.json
  solidity/export.json
Due: solidity-format

Release solidity/v1.7.0
  solidity/package.json
Due: solidity-format

Bumping up solidity module version to v1.8.0-dev
  solidity/package.json
Due: solidity-format

Adjust `expectedTbtcAmount` for user fee retrieval
  solidity/test/l2/L1BitcoinDepositor.test.ts
Due: solidity-format

new-deployment-of-the-L1BitcoinDepositor-on-sepolia-and-L2BitcoinDepositor-on-baseSepolia-for-base-native-minting
  cross-chain/base/.openzeppelin/base-sepolia.json
  cross-chain/base/.openzeppelin/sepolia.json
  cross-chain/base/deployments/baseSepolia/BaseL2BitcoinDepositor.json
  cross-chain/base/deployments/sepolia/BaseL1BitcoinDepositor.json
  solidity/contracts/l2/L1BitcoinDepositor.sol
  solidity/test/l2/L1BitcoinDepositor.test.ts
  typescript/src/lib/base/artifacts/baseSepolia/BaseL2BitcoinDepositor.json
  typescript/src/lib/ethereum/artifacts/sepolia/BaseL1BitcoinDepositor.json
Due: root-format, solidity-format, typescript-format

linting fixes
  typescript/src/lib/base/artifacts/baseSepolia/BaseL2BitcoinDepositor.json
  typescript/src/lib/ethereum/artifacts/sepolia/BaseL1BitcoinDepositor.json
Due: typescript-format

Revert "Merge branch 'add-txMaxFee-to-tbtcAmount' of https://github.com/lrsaturnino/tbtc-v2 into pr/827"
  solidity/deployments/mainnet/Timelock.json
  solidity/deployments/mainnet/solcInputs/98e272e2fbf178ec895387b6c503f9de.json
  solidity/export.json
  solidity/package.json
Due: solidity-format

added slither-disable-next-line for reentrancy warning
  solidity/contracts/l2/L1BitcoinDepositor.sol
Due: solidity-format

updating artifacts for new deployment version of the L1BitcoinDepositor
  cross-chain/base/.openzeppelin/base-sepolia.json
  cross-chain/base/.openzeppelin/sepolia.json
  cross-chain/base/deployments/baseSepolia/BaseL2BitcoinDepositor.json
  cross-chain/base/deployments/sepolia/BaseL1BitcoinDepositor.json
  typescript/src/lib/base/artifacts/baseSepolia/BaseL2BitcoinDepositor.json
  typescript/src/lib/ethereum/artifacts/sepolia/BaseL1BitcoinDepositor.json
Due: root-format, typescript-format

Reapply "Merge branch 'add-txMaxFee-to-tbtcAmount' of https://github.com/lrsaturnino/tbtc-v2 into pr/827"
  solidity/deployments/mainnet/Timelock.json
  solidity/deployments/mainnet/solcInputs/98e272e2fbf178ec895387b6c503f9de.json
  solidity/export.json
  solidity/package.json
Due: solidity-format

Update version of `upload-artifact` and `dowload-artifact` to `v4`
  .github/workflows/contracts.yml
Due: root-format

ci: update Node version to 18.x in GitHub Actions workflow
  .github/workflows/npm-contracts.yml
Due: root-format

Adding CODEOWNERS for smart contracts
  CODEOWNERS
Due: root-format

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: root-format

Add files via upload
  .devcontainer/export-0x123694886dbf5ac94dda07135349534536d14caf.csv
Due: root-format

Update CODEOWNERS
  CODEOWNERS
Due: root-format

update Node version to 18.x in GitHub Actions workflow
  solidity/README.adoc
Due: solidity-format

Revert "update Node version to 18.x in GitHub Actions workflow"
  solidity/README.adoc
Due: solidity-format

extention
  README.adoc
Due: root-format

feat: add hyperliquid register token script
  cross-chain/hyperliquid/hyperliquid-l1/.env.example
  cross-chain/hyperliquid/hyperliquid-l1/.gitignore
  cross-chain/hyperliquid/hyperliquid-l1/README.md
  cross-chain/hyperliquid/hyperliquid-l1/package.json
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/exchange/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/global.d.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/info/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/types/constants.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/types/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/utils/environment.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/utils/errors.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/utils/helpers.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/utils/rateLimiter.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/utils/signing.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/utils/symbolConversion.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/scripts/steps/step1.ts
  cross-chain/hyperliquid/hyperliquid-l1/tsconfig.json
  cross-chain/hyperliquid/hyperliquid-l1/tsup.config.ts
  cross-chain/hyperliquid/hyperliquid-l1/yarn.lock
Due: root-format

feat: add hyperevm tbtc deployment scripts
  cross-chain/hyperliquid/hyper-evm/.env.example
  cross-chain/hyperliquid/hyper-evm/.eslintignore
  cross-chain/hyperliquid/hyper-evm/.eslintrc
  cross-chain/hyperliquid/hyper-evm/.gitignore
  cross-chain/hyperliquid/hyper-evm/.mocharc.json
  cross-chain/hyperliquid/hyper-evm/.prettierignore
  cross-chain/hyperliquid/hyper-evm/.prettierrc.js
  cross-chain/hyperliquid/hyper-evm/.solhint.json
  cross-chain/hyperliquid/hyper-evm/.solhintignore
  cross-chain/hyperliquid/hyper-evm/.tsconfig-eslint.json
  cross-chain/hyperliquid/hyper-evm/README.adoc
  cross-chain/hyperliquid/hyper-evm/contracts/test/HyperEVMTBTCUpgraded.sol
  cross-chain/hyperliquid/hyper-evm/deploy/01_deploy_hyperliquid_tbtc_token.ts
  cross-chain/hyperliquid/hyper-evm/deploy/02_transfer_arbitrum_tbtc_ownership.ts
  cross-chain/hyperliquid/hyper-evm/deploy/03_transfer_proxy_admin_ownership.ts
  cross-chain/hyperliquid/hyper-evm/hardhat.config.ts
  cross-chain/hyperliquid/hyper-evm/package.json
  cross-chain/hyperliquid/hyper-evm/slither.config.json
  cross-chain/hyperliquid/hyper-evm/test/HyperEVMTBTC.Upgrade.test.ts
  cross-chain/hyperliquid/hyper-evm/tsconfig.export.json
  cross-chain/hyperliquid/hyper-evm/tsconfig.json
  cross-chain/hyperliquid/hyper-evm/yarn.lock
  cross-chain/hyperliquid/hyperliquid-l1/.env.development
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/types/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/scripts/steps/step1.ts
Due: root-format

feat: adds the remaining steps for hip1 deployment
  cross-chain/hyperliquid/hyperliquid-l1/package.json
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/exchange/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/global.d.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/info/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/types/constants.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/types/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/utils/environment.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/utils/errors.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/utils/helpers.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/utils/rateLimiter.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/utils/signing.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/utils/symbolConversion.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/scripts/steps/step1.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/scripts/steps/step2.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/scripts/steps/step3.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/scripts/steps/step4.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/scripts/steps/step5.ts
  cross-chain/hyperliquid/hyperliquid-l1/tsconfig.json
  cross-chain/hyperliquid/hyperliquid-l1/tsup.config.ts
Due: root-format

feat: add hyperevm contracts
  solidity/contracts/cross-chain/L2BitcoinDepositor.sol
  solidity/contracts/cross-chain/L2TBTC.sol
  solidity/contracts/cross-chain/layerzero/L1BitcoinDepositorLayerZero.sol
  solidity/contracts/cross-chain/layerzero/L1LockBoxAdapter.sol
  solidity/contracts/cross-chain/layerzero/L2MintAndBurnAdapter.sol
  solidity/contracts/cross-chain/layerzero/LayerZero.sol
  solidity/contracts/cross-chain/wormhole/L1BitcoinDepositorWormhole.sol
  solidity/contracts/cross-chain/wormhole/L2WormholeGateway.sol
  solidity/contracts/cross-chain/wormhole/Wormhole.sol
  solidity/package.json
  solidity/yarn.lock
Due: solidity-format

feat: turn l1bitcoindepositor abstract
  solidity/contracts/cross-chain/Crosschain.sol
  solidity/contracts/cross-chain/L1BitcoinDepositor.sol
  solidity/contracts/cross-chain/layerzero/L1BitcoinDepositorLayerZero.sol
  solidity/contracts/cross-chain/layerzero/L2MintAndBurnAdapter.sol
  solidity/contracts/cross-chain/layerzero/LayerZero.sol
  solidity/contracts/cross-chain/wormhole/L1BitcoinDepositorWormhole.sol
  solidity/contracts/cross-chain/wormhole/Wormhole.sol
Due: solidity-format

Path conditions:
  root-format: any file but: ^solidity\/|^yearn\/|^typescript\/|^monitoring\/
  solidity-format: any of: ^solidity/
  yearn-format: any of: ^yearn/
  typescript-format: any of: ^typescript/
  monitoring-format: any of: ^monitoring/
