Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: root-format
        name: "Check root directory code formatting"
        entry: /usr/bin/env bash -c "yarn format"
        exclude: '^solidity\/|^yearn\/|^typescript\/|^monitoring\/'
        language: script
        description: "Checks root directory code according to the formatting configuration"
      - id: solidity-format
        name: "Check solidity directory code formatting"
        entry: /usr/bin/env bash -c "cd solidity && yarn format"
        files: "^solidity/"
        language: script
        description: "Checks solidity directory code according to the formatting configuration"
      - id: yearn-format
        name: "Check yearn directory code formatting"
        entry: /usr/bin/env bash -c "cd yearn && yarn format"
        files: "^yearn/"
        language: script
        description: "Checks yearn directory code according to the formatting configuration"
      - id: typescript-format
        name: "Check typescript directory code formatting"
        entry: /usr/bin/env bash -c "cd typescript && yarn format"
        files: "^typescript/"
        language: script
        description: "Checks typescript directory code according to the formatting configuration"
      - id: monitoring-format
        name: "Check monitoring directory code formatting"
        entry: /usr/bin/env bash -c "cd monitoring && yarn format"
        files: "^monitoring/"
        language: script
        description: "Checks monitoring directory code according to the formatting configuration"

Minor updates to test scenarios
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/minting-unminting.test.ts
Due: root-format

RFC 12: Outstanding parts
  docs/rfc/rfc-12.adoc
Due: root-format

RFC 12: Improve formatting
  docs/rfc/rfc-12.adoc
Due: root-format

Updated docstrings
  typescript/api-reference/classes/Deposit.md
  typescript/api-reference/classes/DepositScript.md
  typescript/api-reference/interfaces/BitcoinClient.md
  typescript/src/lib/bitcoin/client.ts
  typescript/src/services/deposits/deposit.ts
  typescript/test/services/deposits.test.ts
Due: typescript-format

Simplify the LedgerLiveAppEthereumSigner name
  typescript/src/lib/utils/ledger.ts
Due: typescript-format

Add whitespace below imports
  typescript/src/lib/utils/ledger.ts
Due: typescript-format

Remove exports from util functions
  typescript/src/lib/utils/ledger.ts
Due: typescript-format

Remove unnecessery arguments from contructor
  typescript/src/lib/utils/ledger.ts
Due: typescript-format

Set account in the new instance from `connect`
  typescript/src/lib/utils/ledger.ts
Due: typescript-format

Create new `_checkProviderAndAccount` method
  typescript/src/lib/utils/ledger.ts
Due: typescript-format

Make `provider` argument optional
  typescript/src/lib/utils/ledger.ts
Due: typescript-format

Removed redundant scenario
  system-tests/test/deposit-redemption.test.ts
Due: root-format

Renamed SDK handles
  system-tests/test/deposit-redemption.test.ts
Due: root-format

Added function for creating contract handles
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/utils/context.ts
Due: root-format

Used Bitcoin client instances from SDK
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/utils/bitcoin.ts
Due: root-format

Added wallet registry extraction from the bridge handle
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/utils/context.ts
Due: root-format

Aligned minting-unminting test
  system-tests/test/minting-unminting.test.ts
Due: root-format

RFC 12: Emphasize consensus-based solution complexity
  docs/rfc/rfc-12.adoc
Due: root-format

RFC 12: Add note about RFC 7
  docs/rfc/rfc-12.adoc
  docs/rfc/rfc-7.adoc
Due: root-format

Populate transaction in `sendTransaction`
  typescript/package.json
  typescript/src/lib/utils/ledger.ts
Due: typescript-format

Wrap wallet-api calls with try-catch block
  typescript/src/lib/utils/ledger.ts
Due: typescript-format

RFC 12: Split coordination window to listen and buffer phases
  docs/rfc/rfc-12.adoc
Due: root-format

Specify `account` type
  typescript/src/lib/utils/ledger.ts
Due: typescript-format

Update dosc
  typescript/api-reference/README.md
  typescript/api-reference/classes/LedgerLiveEthereumSigner.md
Due: typescript-format

Sepolia testnet in the SDK
  typescript/api-reference/README.md
  typescript/api-reference/classes/EthereumBridge.md
  typescript/api-reference/classes/EthereumTBTCToken.md
  typescript/api-reference/classes/EthereumTBTCVault.md
  typescript/api-reference/classes/EthereumWalletRegistry.md
  typescript/api-reference/classes/TBTC.md
  typescript/src/lib/ethereum/artifacts/sepolia/Bridge.json
  typescript/src/lib/ethereum/artifacts/sepolia/TBTC.json
  typescript/src/lib/ethereum/artifacts/sepolia/TBTCVault.json
  typescript/src/lib/ethereum/artifacts/sepolia/WalletRegistry.json
  typescript/src/lib/ethereum/bridge.ts
  typescript/src/lib/ethereum/index.ts
  typescript/src/lib/ethereum/tbtc-token.ts
  typescript/src/lib/ethereum/tbtc-vault.ts
  typescript/src/lib/ethereum/wallet-registry.ts
  typescript/src/services/tbtc.ts
Due: typescript-format

Added mainnet network test for getBitcoinAddress
  typescript/test/services/deposits.test.ts
  typescript/test/utils/mock-bitcoin-client.ts
Due: typescript-format

Added unit tests for initiateDeposit
  typescript/api-reference/classes/DepositsService.md
  typescript/src/services/deposits/deposits-service.ts
  typescript/test/services/deposits.test.ts
Due: typescript-format

Added unit test for getTransaction
  typescript/test/lib/electrum.test.ts
Due: typescript-format

Added checks for blinding factor
  typescript/test/services/deposits.test.ts
Due: typescript-format

TypeScript: Release v2.3.0
  typescript/package.json
  typescript/yarn.lock
Due: typescript-format

TypeScript: Start version 2.4.0-dev
  typescript/package.json
Due: typescript-format

Updated tbtc.v2-ts version to 2.3.0 for system tests
  system-tests/package.json
  system-tests/yarn.lock
Due: root-format

Add Sepolia support for Polygon cross-chain
  cross-chain/polygon/deploy_sidechain/12_update_self_in_wormhole_gateway_mapping.ts
  cross-chain/polygon/deploy_sidechain/13_update_with_arbitrum_in_wormhole_gateway_mapping.ts
  cross-chain/polygon/deploy_sidechain/14_update_with_optimism_in_wormhole_gateway_mapping.ts
  cross-chain/polygon/deploy_sidechain/15_update_with_base_in_wormhole_gateway_mapping.ts
  cross-chain/polygon/hardhat.config.ts
Due: root-format

Add Sepolia / Arbitrum Sepolia support for Arbitrum cross-chain
  cross-chain/arbitrum/README.adoc
  cross-chain/arbitrum/deploy_l2/12_update_wormhole_gateway_mapping.ts
  cross-chain/arbitrum/deploy_l2/13_update_with_optimism_in_wormhole_gateway_mapping.ts
  cross-chain/arbitrum/deploy_l2/14_update_with_polygon_in_wormhole_gateway_mapping.ts
  cross-chain/arbitrum/deploy_l2/15_update_with_base_in_wormhole_gateway_mapping.ts
  cross-chain/arbitrum/hardhat.config.ts
  cross-chain/arbitrum/package.json
Due: root-format

Add Sepolia / Optimism Sepolia support for Optimism cross-chain
  cross-chain/optimism/.gitignore
  cross-chain/optimism/README.adoc
  cross-chain/optimism/deploy_l2/12_update_self_in_wormhole_gateway_mapping.ts
  cross-chain/optimism/deploy_l2/13_update_with_arbitrum_in_wormhole_gateway_mapping.ts
  cross-chain/optimism/deploy_l2/14_update_with_polygon_in_wormhole_gateway_mapping.ts
  cross-chain/optimism/deploy_l2/15_update_with_base_in_wormhole_gateway_mapping.ts
  cross-chain/optimism/hardhat.config.ts
  cross-chain/optimism/package.json
Due: root-format

Add support for Sepolia testnet in monitoring
  .github/workflows/monitoring.yml
  monitoring/docs/monitoring-and-telemetry.adoc
  monitoring/package.json
  monitoring/src/block-explorer.ts
  monitoring/yarn.lock
Due: root-format, monitoring-format

Remove support for Goerli testnet
  .github/workflows/contracts.yml
  cross-chain/arbitrum/.gitignore
  cross-chain/arbitrum/hardhat.config.ts
  cross-chain/arbitrum/package.json
  cross-chain/base/.gitignore
  cross-chain/base/hardhat.config.ts
  cross-chain/base/package.json
  cross-chain/optimism/.gitignore
  cross-chain/optimism/.openzeppelin/optimism-goerli.json
  cross-chain/optimism/hardhat.config.ts
  cross-chain/optimism/package.json
  cross-chain/polygon/hardhat.config.ts
  cross-chain/polygon/package.json
  solidity/contracts/test/GoerliLightRelay.sol
  solidity/deploy/01_deploy_light_relay.ts
  solidity/deploy/09_deploy_bridge_governance.ts
  solidity/deploy/19_authorize_spv_maintainer_in_bridge.ts
  solidity/deploy/27_authorize_maintainer_proxy_in_reimbursement_pool.ts
  solidity/deploy/28_authorize_bridge_in_reimbursement_pool.ts
  solidity/deploy/40_authorize_light_relay_maintainer_proxy_in_reimbursement_pool.ts
  solidity/deploy/41_authorize_light_relay_maintainer_proxy_in_light_relay.ts
  solidity/hardhat.config.ts
  typescript/api-reference/README.md
  typescript/api-reference/classes/EthereumBridge.md
  typescript/api-reference/classes/EthereumTBTCToken.md
  typescript/api-reference/classes/EthereumTBTCVault.md
  typescript/api-reference/classes/EthereumWalletRegistry.md
  typescript/api-reference/classes/TBTC.md
  typescript/src/lib/ethereum/artifacts/goerli/Bridge.json
  typescript/src/lib/ethereum/artifacts/goerli/TBTC.json
  typescript/src/lib/ethereum/artifacts/goerli/TBTCVault.json
  typescript/src/lib/ethereum/artifacts/goerli/WalletRegistry.json
  typescript/src/lib/ethereum/bridge.ts
  typescript/src/lib/ethereum/index.ts
  typescript/src/lib/ethereum/tbtc-token.ts
  typescript/src/lib/ethereum/tbtc-vault.ts
  typescript/src/lib/ethereum/wallet-registry.ts
  typescript/src/services/tbtc.ts
Due: root-format, solidity-format, typescript-format

Fix docs
  typescript/api-reference/README.md
  typescript/api-reference/classes/EthereumBridge.md
  typescript/api-reference/classes/EthereumTBTCToken.md
  typescript/api-reference/classes/EthereumTBTCVault.md
  typescript/api-reference/classes/EthereumWalletRegistry.md
  typescript/api-reference/classes/TBTC.md
Due: typescript-format

Update Polygon cross-chain config to support Amoy testnet
  cross-chain/polygon/.gitignore
  cross-chain/polygon/README.adoc
  cross-chain/polygon/deploy_sidechain/02_verify_polygon_tbtc_token.ts
  cross-chain/polygon/deploy_sidechain/04_verify_polygon_wormhole_gateway.ts
  cross-chain/polygon/deploy_sidechain/12_update_self_in_wormhole_gateway_mapping.ts
  cross-chain/polygon/deploy_sidechain/32_manual_upgrade_polygon_wormhole_gateway.ts
  cross-chain/polygon/hardhat.config.ts
  cross-chain/polygon/package.json
Due: root-format

Introduce `WalletProposalValidator` contract
  solidity/contracts/bridge/WalletProposalValidator.sol
  solidity/test/bridge/WalletProposalValidator.test.ts
Due: solidity-format
