Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: lint-js
        name: "lint js"
        entry: /usr/bin/env bash -c "npm run lint:js"
        files: '\.js$'
        language: script
        description: "Checks JS code according to the package's linter configuration"
      - id: lint-sol
        name: "lint solidity"
        entry: /usr/bin/env bash -c "npm run lint:sol"
        files: '\.sol$'
        language: script
        description: "Checks Solidity code according to the package's linter configuration"
      - id: prettier
        name: "prettier"
        entry: /usr/bin/env bash -c "npx prettier --check ."
        language: script
        description: "Checks code according to the package's formatting configuration"

Happy path tests for batch redemptions proofs
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/redemption.ts
Due: none

First part of unhappy path tests for redemptions
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/redemption.ts
Due: none

Next part of unhappy path tests for redemptions
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/redemption.ts
Due: none

Last part of unhappy path tests for redemptions
  solidity/test/bridge/Bridge.test.ts
Due: none

Use pragma ^0.8.9
  solidity/contracts/GovernanceUtils.sol
  solidity/contracts/bank/Bank.sol
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/VendingMachine.sol
  solidity/contracts/test/BankStub.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/contracts/test/ReceiveApprovalStub.sol
  solidity/contracts/test/TestERC20.sol
  solidity/contracts/test/TestERC721.sol
  solidity/contracts/test/TestRelay.sol
  solidity/contracts/token/TBTC.sol
  solidity/contracts/vault/IVault.sol
  solidity/contracts/vault/TBTCVault.sol
  solidity/hardhat.config.ts
Due: lint-sol

Update code formatting related dependencies
  solidity/package.json
  solidity/yarn.lock
Due: none

Use @thesis-co/prettier-config
  solidity/.prettierrc.js
  solidity/package.json
  solidity/yarn.lock
Due: lint-js

Auto-format solidity code
  solidity/config_tenderly.sh
  solidity/contracts/bank/Bank.sol
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Add commit to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Added implementation of fraud challenge response
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/library/FraudVerification.sol
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/test/bridge/Bridge.test.ts
  solidity/yarn.lock
Due: lint-sol

Make Prettier happy
  solidity/contracts/bank/Bank.sol
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Revert "Make Prettier happy"
  solidity/contracts/bank/Bank.sol
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Fix Prettier errors
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Remove obsolete TODO
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Add library to convert public keys from uncompressed to compressed
  solidity/contracts/bridge/EcdsaLib.sol
  solidity/contracts/test/TestEcdsaLib.sol
  solidity/test/bridge/EcdsaLib.test.ts
Due: lint-sol

Integrade Bridge with ECDSA Wallet Registry
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/test/BridgeStub.sol
Due: lint-sol

Deposit treasury fee
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Make Prettier happy
  solidity/contracts/test/BridgeStub.sol
Due: lint-sol

Adjust existing sweep tests to treasury fee changes
  solidity/test/bridge/Bridge.test.ts
Due: none

Assert deposit treasury fee is transferred correctly
  solidity/test/bridge/Bridge.test.ts
Due: none

Docs improvements for redemption tests
  solidity/test/bridge/Bridge.test.ts
Due: none

Additional docs for redemption tests
  solidity/test/bridge/Bridge.test.ts
Due: none

Improve docs of `SingleNonRequestedRedemption`
  solidity/test/data/redemption.ts
Due: none

Align Bridge with latest ECDSA interface changes
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Add unit tests for Wallet Registry integration
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/ecdsa.ts
  solidity/test/data/redemption.ts
Due: none

Made transaction proof generic; extract bridge interface in typescript
  tbtc-ts/src/bitcoin.ts
  tbtc-ts/src/bridge.ts
  tbtc-ts/src/index.ts
  tbtc-ts/src/proof.ts
  tbtc-ts/src/sweep.ts
  tbtc-ts/src/sweepProof.ts
  tbtc-ts/test/data/proof.ts
  tbtc-ts/test/data/sweep.ts
  tbtc-ts/test/data/sweepProof.ts
  tbtc-ts/test/proof.test.ts
  tbtc-ts/test/sweep.test.ts
  tbtc-ts/test/sweepProof.test.ts
  tbtc-ts/test/utils/mock-bitcoin-client.ts
  tbtc-ts/test/utils/mock-bridge.ts
Due: none

Refactor: renamed varibales, improve comments
  tbtc-ts/src/bitcoin.ts
  tbtc-ts/src/sweep.ts
  tbtc-ts/test/data/proof.ts
  tbtc-ts/test/data/sweep.ts
  tbtc-ts/test/proof.test.ts
  tbtc-ts/test/sweep.test.ts
  tbtc-ts/test/utils/mock-bitcoin-client.ts
Due: none

Deposit transaction maximum fee
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Formatted code
  solidity/contracts/bank/Bank.sol
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/test/BridgeStub.sol
Due: lint-sol

Handle precision loss during sweep transaction fee distribution
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Fix mistake in redemption test comment
  solidity/test/bridge/Bridge.test.ts
Due: none

Add Hardhat contract sizer plugin
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/yarn.lock
Due: none

Extract proof validation logic to `BitcoinTx`
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Avoid declaration shadowing
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Initial simulation commit
  simulation/wallets.js
Due: lint-js

Refactor fraud related code: renames, move test data to separate files, improve code structure
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/library/Fraud.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/hardhat.config.ts
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/fraud.ts
Due: lint-sol

Deposit dust threshold
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Calculate wallet public key hash instead of passing it
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/library/EcdsaLib.sol
  solidity/contracts/bridge/library/Fraud.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Renamed variable, added description to structure fields
  solidity/contracts/bridge/library/Fraud.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Renamed fraud related parameters
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/library/Fraud.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol
