Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

root-format:
  name: Check root directory code formatting
  entry: /usr/bin/env bash -c "yarn format"
  language: script
  description: Checks root directory code according to the formatting configuration

solidity-format:
  name: Check solidity directory code formatting
  entry: /usr/bin/env bash -c "cd solidity && yarn format"
  language: script
  description: Checks solidity directory code according to the formatting configuration

yearn-format:
  name: Check yearn directory code formatting
  entry: /usr/bin/env bash -c "cd yearn && yarn format"
  language: script
  description: Checks yearn directory code according to the formatting configuration

typescript-format:
  name: Check typescript directory code formatting
  entry: /usr/bin/env bash -c "cd typescript && yarn format"
  language: script
  description: Checks typescript directory code according to the formatting configuration

monitoring-format:
  name: Check monitoring directory code formatting
  entry: /usr/bin/env bash -c "cd monitoring && yarn format"
  language: script
  description: Checks monitoring directory code according to the formatting configuration

Update names of deploy directories for export
  cross-chain/arbitrum/package.json
Due: root-format

Remove prepare_artifacts.sh script
  cross-chain/arbitrum/package.json
  cross-chain/arbitrum/scripts/prepare-artifacts.sh
Due: root-format

Set package version to 1.1.1
  typescript/package.json
Due: typescript-format

Release v1.2.0
  solidity/package.json
  solidity/yarn.lock
Due: solidity-format

Release arbitrum 1.0.0
  cross-chain/arbitrum/package.json
  cross-chain/arbitrum/yarn.lock
Due: root-format

Add deployment artifacts of arbitrum v1.0.0
  cross-chain/arbitrum/.openzeppelin/unknown-42161.json
  cross-chain/arbitrum/deployments/arbitrumOne/.chainId
  cross-chain/arbitrum/deployments/arbitrumOne/ArbitrumTBTC.json
  cross-chain/arbitrum/deployments/arbitrumOne/ArbitrumWormholeGateway.json
Due: root-format

Exclude OZ config file for arbitrumOne
  cross-chain/arbitrum/.gitignore
Due: root-format

Start arbitrum 1.1.0-dev
  cross-chain/arbitrum/package.json
Due: root-format

Start solidity 1.3.0-dev
  solidity/package.json
Due: solidity-format

Arbitrum: Add artifacts export script
  cross-chain/arbitrum/hardhat.config.ts
  cross-chain/arbitrum/package.json
Due: root-format

Reimbursable `submitDepositSweepProposal`
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Documentation adjustments
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Emit `WalletManuallyUnlocked` event from within `unlockWallet` function
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Reorder hardhat plugin imports
  cross-chain/arbitrum/hardhat.config.ts
Due: root-format

s/DepositExtra/DepositExtraInfo
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Unit tests for governable functions
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Unit tests for proposal submission
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Remove `only`
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Update hardhat-helpers dependency version
  cross-chain/arbitrum/package.json
  cross-chain/arbitrum/yarn.lock
Due: root-format

Adding Cross-chain Optimism module
  .github/workflows/cross-chain-optimism.yml
  cross-chain/optimism/.eslintignore
  cross-chain/optimism/.eslintrc
  cross-chain/optimism/.gitignore
  cross-chain/optimism/.mocharc.json
  cross-chain/optimism/.prettierignore
  cross-chain/optimism/.prettierrc.js
  cross-chain/optimism/.solhint.json
  cross-chain/optimism/.solhintignore
  cross-chain/optimism/.tsconfig-eslint.json
  cross-chain/optimism/README.adoc
  cross-chain/optimism/contracts/test/OptimisticTBTCUpgraded.sol
  cross-chain/optimism/contracts/test/OptimisticWormholeGatewayUpgraded.sol
  cross-chain/optimism/deploy_l2/00_resolve_optimistic_token_bridge.ts
  cross-chain/optimism/deploy_l2/00_resolve_optimistic_wormhole_tbtc.ts
  cross-chain/optimism/deploy_l2/01_deploy_optimistic_tbtc_token.ts
  cross-chain/optimism/deploy_l2/02_deploy_optimistic_wormhole_gateway.ts
  cross-chain/optimism/deploy_l2/11_authorize_wormhole_gateway_as_minter.ts
  cross-chain/optimism/deploy_l2/12_update_wormhole_gateway_mapping.ts
  cross-chain/optimism/deploy_l2/21_transfer_optimistic_tbtc_ownership.ts
  cross-chain/optimism/deploy_l2/22_transfer_optimistic_wormhole_gateway_ownership.ts
  cross-chain/optimism/deploy_l2/23_transfer_proxy_admin_ownership.ts
  cross-chain/optimism/external/goerli/TokenBridge.json
  cross-chain/optimism/external/mainnet/TokenBridge.json
  cross-chain/optimism/external/optimisticEthereum/OptimisticTokenBridge.json
  cross-chain/optimism/external/optimisticEthereum/OptimisticWormholeTBTC.json
  cross-chain/optimism/external/optimisticGoerli/OptimisticTokenBridge.json
  cross-chain/optimism/external/optimisticGoerli/OptimisticWormholeTBTC.json
  cross-chain/optimism/hardhat.config.ts
  cross-chain/optimism/package.json
  cross-chain/optimism/slither.config.json
  cross-chain/optimism/test/OptimisticTBTC.Upgrade.test.ts
  cross-chain/optimism/test/OptimisticWormholeGateway.Upgrade.test.ts
  cross-chain/optimism/tsconfig.export.json
  cross-chain/optimism/tsconfig.json
  cross-chain/optimism/yarn.lock
Due: root-format

Removing unused env. vars
  cross-chain/arbitrum/README.adoc
Due: root-format

Replacing the existing address with the correct one
  cross-chain/arbitrum/external/arbitrumGoerli/ArbitrumWormholeTBTC.json
Due: root-format

Adding wormholeTBTC token address on Optimism Mainnet
  cross-chain/optimism/external/optimisticEthereum/OptimisticWormholeTBTC.json
Due: root-format

Unit tests for `validateDepositSweepProposal`
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Fix: typos
  docs/README.adoc
Due: root-format

Add TODO about coordinator role
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Improve documentation
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Add sweep tx fee to the proposal
  solidity/contracts/bridge/WalletCoordinator.sol
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Fix failing tests
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Cleanup leftover from the arbitrum module
  cross-chain/optimism/.gitignore
Due: root-format

Get reimbursement pool from Bridge
  solidity/contracts/bridge/WalletCoordinator.sol
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Make formatter happy
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Align instruction order in `after` hooks
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Refactor deposit extra info validation
  solidity/contracts/bridge/WalletCoordinator.sol
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Add gas offset for sweep proposal submission reimbursement
  solidity/contracts/bridge/WalletCoordinator.sol
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Explain sweep tx fee remainder validation
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Renaming Optimisticscan to Optimism Etherscan
  cross-chain/optimism/README.adoc
  cross-chain/optimism/deploy_l2/01_deploy_optimistic_tbtc_token.ts
  cross-chain/optimism/deploy_l2/02_deploy_optimistic_wormhole_gateway.ts
  cross-chain/optimism/hardhat.config.ts
Due: root-format

Renaming "optimistic" -> "optimism"
  cross-chain/optimism/.gitignore
  cross-chain/optimism/README.adoc
  cross-chain/optimism/contracts/test/OptimismTBTCUpgraded.sol
  cross-chain/optimism/contracts/test/OptimismWormholeGatewayUpgraded.sol
  cross-chain/optimism/deploy_l2/00_resolve_optimism_token_bridge.ts
  cross-chain/optimism/deploy_l2/00_resolve_optimism_wormhole_tbtc.ts
  cross-chain/optimism/deploy_l2/00_resolve_optimistic_token_bridge.ts
  cross-chain/optimism/deploy_l2/00_resolve_optimistic_wormhole_tbtc.ts
  cross-chain/optimism/deploy_l2/01_deploy_optimism_tbtc_token.ts
  cross-chain/optimism/deploy_l2/02_deploy_optimism_wormhole_gateway.ts
  cross-chain/optimism/deploy_l2/11_authorize_wormhole_gateway_as_minter.ts
  cross-chain/optimism/deploy_l2/12_update_wormhole_gateway_mapping.ts
  cross-chain/optimism/deploy_l2/21_transfer_optimism_tbtc_ownership.ts
  cross-chain/optimism/deploy_l2/22_transfer_optimism_wormhole_gateway_ownership.ts
  cross-chain/optimism/deploy_l2/23_transfer_proxy_admin_ownership.ts
  cross-chain/optimism/external/optimism/OptimismTokenBridge.json
  cross-chain/optimism/external/optimism/OptimismWormholeTBTC.json
  cross-chain/optimism/external/optimismGoerli/OptimismTokenBridge.json
  cross-chain/optimism/external/optimismGoerli/OptimismWormholeTBTC.json
  cross-chain/optimism/hardhat.config.ts
  cross-chain/optimism/package.json
  cross-chain/optimism/test/OptimismTBTC.Upgrade.test.ts
  cross-chain/optimism/test/OptimismWormholeGateway.Upgrade.test.ts
Due: root-format

Path conditions:
  root-format: any file but: ^solidity\/|^yearn\/|^typescript\/|^monitoring\/
  solidity-format: any of: ^solidity/
  yearn-format: any of: ^yearn/
  typescript-format: any of: ^typescript/
  monitoring-format: any of: ^monitoring/
