Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Improved comments in the Saddle strategy
  yearn/contracts/ConvexStrategy.sol
  yearn/contracts/CurveVoterProxyStrategy.sol
  yearn/contracts/SaddleStrategy.sol
Due: lint-sol

Updated doc comments
  yearn/contracts/ConvexStrategy.sol
  yearn/contracts/CurveVoterProxyStrategy.sol
  yearn/contracts/SaddleStrategy.sol
Due: lint-sol

Updated commenting
  yearn/contracts/SaddleStrategy.sol
Due: lint-sol

Improving comments & linting
  yearn/contracts/ConvexStrategy.sol
  yearn/contracts/CurveVoterProxyStrategy.sol
Due: lint-sol

Adding TODOs for tBTC to replace with tBTCv2 once it is deployed
  yearn/contracts/ConvexStrategy.sol
  yearn/contracts/CurveVoterProxyStrategy.sol
Due: lint-sol

Replacing convertion from tBTC with wBTC
  yearn/contracts/ConvexStrategy.sol
  yearn/contracts/CurveVoterProxyStrategy.sol
Due: lint-sol

Tiny improvement to VendingMachine.unmintFeeFor docs
  solidity/contracts/bridge/VendingMachine.sol
Due: lint-sol

Test name fix
  solidity/test/bridge/VendingMachine.test.js
Due: lint-js

Added system test for Saddle strategy
  yearn/contracts/SaddleStrategy.sol
  yearn/test/system/constants.js
  yearn/test/system/fixtures.js
  yearn/test/system/saddle-strategy.test.js
Due: lint-js, lint-sol

Fix prettier suggestions
  .github/workflows/yearn.yml
  yearn/.eslintrc
Due: none

Omit the commit fixing formating in the `git blame`
  .git-blame-ignore-revs
Due: none

Don't search for ESLint config files in parent directories
  yearn/.eslintrc
Due: none

Remove prettier from config `extends` list
  yearn/.eslintrc
Due: none

Revert "Don't search for ESLint config files in parent directories"
  yearn/.eslintrc
Due: none

Add a workaround for ESLint using prettier config in root
  .github/workflows/yearn.yml
Due: none

Swapping indexes of wBTC coin & blank lines between TODO & description
  yearn/contracts/ConvexStrategy.sol
  yearn/contracts/CurveVoterProxyStrategy.sol
Due: lint-sol

Renamed variables in Saddle system tests
  yearn/test/system/constants.js
  yearn/test/system/fixtures.js
  yearn/test/system/saddle-strategy.test.js
Due: lint-js

Adding tests for eth to LP token conversion
  yearn/test/system/convex-strategy.test.js
  yearn/test/system/curve-voter-proxy-strategy.test.js
Due: lint-js

Fixing comments around ethToWant test
  yearn/test/system/convex-strategy.test.js
  yearn/test/system/curve-voter-proxy-strategy.test.js
Due: lint-js

Updated saddle strategy system test
  yearn/contracts/SaddleStrategy.sol
  yearn/test/system/constants.js
  yearn/test/system/saddle-strategy.test.js
Due: lint-js, lint-sol

Updated comments for saddle strategy
  yearn/contracts/SaddleStrategy.sol
Due: lint-sol

Rework external dependencies
  yearn/README.adoc
  yearn/deploy/00_deploy_cvp_strategy.ts
  yearn/deploy/01_deploy_convex_strategy.ts
  yearn/deploy/helpers.ts
  yearn/external/mainnet/TBTCConvexRewardPool.json
  yearn/external/mainnet/TBTCCurvePoolDepositor.json
  yearn/external/mainnet/TBTCCurvePoolGauge.json
  yearn/external/mainnet/TBTCCurvePoolGaugeReward.json
  yearn/external/mainnet/TBTCCurveVault.json
  yearn/hardhat.config.ts
Due: none

Add mainnet config
  yearn/hardhat.config.ts
Due: none

Deployment script for `SaddleStrategy`
  yearn/README.adoc
  yearn/deploy/02_deploy_saddle_strategy.ts
  yearn/external/mainnet/TBTCSaddleLPRewards.json
  yearn/external/mainnet/TBTCSaddlePoolSwap.json
  yearn/external/mainnet/TBTCSaddleVault.json
Due: none

Added eth to want conversion function
  yearn/contracts/SaddleStrategy.sol
  yearn/test/system/convex-strategy.test.js
  yearn/test/system/curve-voter-proxy-strategy.test.js
  yearn/test/system/saddle-strategy.test.js
Due: lint-js, lint-sol

Renamed tokens in strategies
  yearn/contracts/ConvexStrategy.sol
  yearn/contracts/CurveVoterProxyStrategy.sol
  yearn/contracts/SaddleStrategy.sol
Due: lint-sol

Updated comments for all strategies
  yearn/contracts/ConvexStrategy.sol
  yearn/contracts/CurveVoterProxyStrategy.sol
  yearn/contracts/SaddleStrategy.sol
  yearn/test/system/saddle-strategy.test.js
Due: lint-js, lint-sol

Added dummy calldata parameter
  yearn/contracts/SaddleStrategy.sol
Due: lint-sol

Fixed misleading comment
  yearn/contracts/SaddleStrategy.sol
Due: lint-sol

Remove prettier from .eslintrc
  yearn/.eslintrc
Due: none

Use `get` where applicable
  yearn/deploy/00_deploy_cvp_strategy.ts
  yearn/deploy/01_deploy_convex_strategy.ts
  yearn/deploy/02_deploy_saddle_strategy.ts
Due: none

Display addresses in error logs
  yearn/deploy/00_deploy_cvp_strategy.ts
  yearn/deploy/01_deploy_convex_strategy.ts
  yearn/deploy/02_deploy_saddle_strategy.ts
Due: none

Add local networks config
  .gitignore
  yearn/.hardhat/networks_TEMPLATE.ts
  yearn/hardhat.config.ts
  yearn/package.json
  yearn/yarn.lock
Due: none

Added a TODO
  yearn/contracts/SaddleStrategy.sol
Due: lint-sol

Deployment script for tBTC v2 contracts
  solidity/.eslintrc
  solidity/.hardhat/networks_TEMPLATE.ts
  solidity/README.adoc
  solidity/deploy/00_resolve_tbtc_v1_token.ts
  solidity/deploy/01_deploy_tbtc_v2_token.ts
  solidity/deploy/02_deploy_vending_machine.ts
  solidity/external/mainnet/TBTCToken.json
  solidity/hardhat.config.js
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/tsconfig.json
  solidity/yarn.lock
Due: lint-js

Added system test for migrating strategies
  yearn/contracts/test/IYearnVault.sol
  yearn/test/system/saddle-strategy-migration.test.js
Due: lint-js, lint-sol

Added additional checks
  yearn/test/system/saddle-strategy-migration.test.js
Due: lint-js

Renamed test file
  yearn/test/system/saddle-strategy-harvest.test.js
Due: lint-js

Use ERC20WithPermit from thesis/solidity-contracts
  .github/workflows/contracts.yml
  solidity/contracts/bridge/VendingMachine.sol
  solidity/contracts/test/TestERC20.sol
  solidity/contracts/token/ERC20WithPermit.sol
  solidity/contracts/token/IERC20WithPermit.sol
  solidity/contracts/token/IReceiveApproval.sol
  solidity/contracts/token/TBTCToken.sol
  solidity/package.json
  solidity/test/token/ERC20WithPermit.test.js
  solidity/yarn.lock
Due: lint-js, lint-sol

Updated token symbol and name to tBTC/tBTC v2
  solidity/contracts/token/TBTCToken.sol
Due: lint-sol

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
