Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: lint-js
        name: "lint js"
        entry: /usr/bin/env bash -c "npm run lint:js"
        files: '\.js$'
        language: script
        description: "Checks JS code according to the package's linter configuration"
      - id: lint-sol
        name: "lint solidity"
        entry: /usr/bin/env bash -c "npm run lint:sol"
        files: '\.sol$'
        language: script
        description: "Checks Solidity code according to the package's linter configuration"
      - id: prettier
        name: "prettier"
        entry: /usr/bin/env bash -c "npx prettier --check ."
        language: script
        description: "Checks code according to the package's formatting configuration"

Added reverting when the state of the wallet is Unknown or Closed
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Moved transfering tokens during redemption timeout notification at the end of the function
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Docs for moving funds proof code
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Docs for `movingFundsTxMaxTotalFee`
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Fix a mistake in `getWalletsParameters` function
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Removed unnecessary TODO
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Moved event emitting before interaction with the Bank contract happens
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Added check of wallet state during deposit reveal
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Added unit tests for revealing deposit while the wallet is not Live
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Remove challenge-related things from moving funds code
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Repair compilation errors
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Extract `bridgeFixture` and adjust tests to contract changes
  solidity/test/bridge/Bridge.Frauds.test.ts
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/bridge/Bridge.Wallets.test.ts
  solidity/test/bridge/Bridge.test.ts
  solidity/test/bridge/bridge-fixture.ts
Due: none

Adjust tests to contract errors change
  solidity/test/bridge/Bridge.test.ts
Due: none

Added unit tests for notifying redemption timeout for wallet in Terminated state
  solidity/test/bridge/Bridge.test.ts
Due: none

Removed unnecessary checks
  solidity/test/bridge/Bridge.test.ts
Due: none

Emit `MovingFundsCompleted` event
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Added TODOs
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Make sure target wallet output is P2(W)PKH
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

First part of unit tests for moving funds
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/bridge/bridge-fixture.ts
  solidity/test/data/moving-funds.ts
Due: none

Remaining non-happy path tests for moving funds
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/moving-funds.ts
Due: lint-sol

Added check for the wallet state during sweep proof submission
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Added unit tests for sweep proof submission for MovingFunds wallet state
  solidity/test/bridge/Bridge.test.ts
Due: none

Added unit tests for sweep proof submission for missing wallet states
  solidity/test/bridge/Bridge.test.ts
Due: none

Trust the closing wallet to pick target wallets
  docs/rfc/rfc-1.adoc
Due: none

Removed unnecessary TODO
  solidity/test/bridge/Bridge.test.ts
Due: none

Removed unnecessary test cases
  solidity/test/bridge/Bridge.test.ts
Due: none

Simplified a function call
  solidity/test/bridge/Bridge.test.ts
Due: none

Moved fraud-related functions before redemption-related functions
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Change directory `tbtc-ts` to `typescript`
  typescript/.eslintignore
  typescript/.eslintrc.js
  typescript/.mocharc.json
  typescript/.prettierignore
  typescript/.prettierrc.js
  typescript/README.adoc
  typescript/package.json
  typescript/src/bitcoin.ts
  typescript/src/bridge.ts
  typescript/src/deposit.ts
  typescript/src/index.ts
  typescript/src/proof.ts
  typescript/src/sweep.ts
  typescript/test/data/deposit.ts
  typescript/test/data/proof.ts
  typescript/test/data/sweep.ts
  typescript/test/deposit.test.ts
  typescript/test/proof.test.ts
  typescript/test/sweep.test.ts
  typescript/test/utils/mock-bitcoin-client.ts
  typescript/test/utils/mock-bridge.ts
  typescript/tsconfig.json
  typescript/yarn.lock
Due: lint-js

README changes
  typescript/README.adoc
Due: none

Change package name
  typescript/.prettierignore
  typescript/package.json
Due: none

s/the/this
  docs/rfc/rfc-1.adoc
Due: none

Factor out the different ways a wallet can close
  docs/rfc/rfc-1.adoc
Due: none

Revert "Improve code organization in `Bridge` contract"
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Explain P2PKH and P2WPKH formats
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Fix documentation mistake
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Fxi failing Bridge tests
  solidity/test/bridge/Bridge.test.ts
Due: none

Improvements of docs around moving funds functions
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Improvements of docs around moving funds test data
  solidity/test/data/moving-funds.ts
Due: none

Used wallet public key instead of x and y coordinates in fraud related functions
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Frauds.sol
  solidity/test/bridge/Bridge.Frauds.test.ts
  solidity/test/data/fraud.ts
Due: lint-sol
