Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

root-format:
  name: Check root directory code formatting
  entry: /usr/bin/env bash -c "yarn format"
  language: script
  description: Checks root directory code according to the formatting configuration

solidity-format:
  name: Check solidity directory code formatting
  entry: /usr/bin/env bash -c "cd solidity && yarn format"
  language: script
  description: Checks solidity directory code according to the formatting configuration

yearn-format:
  name: Check yearn directory code formatting
  entry: /usr/bin/env bash -c "cd yearn && yarn format"
  language: script
  description: Checks yearn directory code according to the formatting configuration

typescript-format:
  name: Check typescript directory code formatting
  entry: /usr/bin/env bash -c "cd typescript && yarn format"
  language: script
  description: Checks typescript directory code according to the formatting configuration

monitoring-format:
  name: Check monitoring directory code formatting
  entry: /usr/bin/env bash -c "cd monitoring && yarn format"
  language: script
  description: Checks monitoring directory code according to the formatting configuration

Added unit tests for corrupted proof
  typescript/src/proof.ts
  typescript/test/proof.test.ts
Due: typescript-format

Avoid duplicated events about high supply changes
  monitoring/src/file-persistence.ts
  monitoring/src/index.ts
  monitoring/src/supply-monitor.ts
Due: monitoring-format

Do multiplication first while computing the change
  monitoring/src/supply-monitor.ts
Due: monitoring-format

Precision tweaks and explanations
  monitoring/src/supply-monitor.ts
Due: monitoring-format

Bitcoin Ordinal RFC first draft
  docs/rfc/assets/inscriptions-over-time.png
  docs/rfc/rfc-9.adoc
Due: root-format

Minor improvements
  typescript/src/bitcoin.ts
  typescript/src/proof.ts
  typescript/test/data/proof.ts
Due: typescript-format

Made validateTransactionProof be exported from tbtc-v2
  typescript/src/index.ts
Due: typescript-format

Adding Wormhole TokenBridge ABIs for goerli and mainnet on L1 and L2
  cross-chain/arbitrum/external/goerliArbitrum/TokenBridge.json
  cross-chain/arbitrum/external/goerliEthereum/TokenBridge.json
  cross-chain/arbitrum/external/mainnetArbitrum/TokenBridge.json
  cross-chain/arbitrum/external/mainnetEthereum/TokenBridge.json
Due: root-format

Updating deployment scripts
  cross-chain/arbitrum/deploy/02_deploy_arbitrum_wormhole_gateway.ts
  cross-chain/arbitrum/deploy_l2/01_deploy_arbitrum_tbtc_token.ts
  cross-chain/arbitrum/deploy_l2/02_deploy_arbitrum_wormhole_gateway.ts
  cross-chain/arbitrum/deploy_l2/11_transfer_arbitrum_tbtc_ownership.ts
  cross-chain/arbitrum/deploy_l2/12_transfer_arbitrum_wormhole_gateway_ownership.ts
  cross-chain/arbitrum/deploy_l2/13_transfer_proxy_admin_ownership.ts
  cross-chain/arbitrum/deploy_l2/21_authorize_wormhole_gateway_as_minter.ts
Due: root-format

Adding Wormhole interfaces
  cross-chain/arbitrum/contracts/interfaces/ITokenBridge.sol
  cross-chain/arbitrum/contracts/interfaces/IWETH.sol
  cross-chain/arbitrum/contracts/interfaces/IWormhole.sol
Due: root-format

Importing L2TBTC.sol for ArbtitrumTBTC
  cross-chain/arbitrum/contracts/ArbitrumTBTC.sol
Due: root-format

Drafting ArbtitrumWormholeGateway
  cross-chain/arbitrum/contracts/ArbitrumWormholeGateway.sol
Due: root-format

Adding configs
  cross-chain/arbitrum/.gitignore
  cross-chain/arbitrum/hardhat.config.ts
  cross-chain/arbitrum/package.json
  cross-chain/arbitrum/yarn.lock
Due: root-format

Linting deployment scripts
  cross-chain/arbitrum/deploy_l2/01_deploy_arbitrum_tbtc_token.ts
  cross-chain/arbitrum/deploy_l2/02_deploy_arbitrum_wormhole_gateway.ts
  cross-chain/arbitrum/deploy_l2/11_transfer_arbitrum_tbtc_ownership.ts
  cross-chain/arbitrum/deploy_l2/12_transfer_arbitrum_wormhole_gateway_ownership.ts
  cross-chain/arbitrum/deploy_l2/21_authorize_wormhole_gateway_as_minter.ts
Due: root-format

Linting contracts
  cross-chain/arbitrum/contracts/ArbitrumTBTC.sol
  cross-chain/arbitrum/contracts/ArbitrumWormholeGateway.sol
  cross-chain/arbitrum/contracts/interfaces/ITokenBridge.sol
  cross-chain/arbitrum/contracts/interfaces/IWETH.sol
  cross-chain/arbitrum/contracts/interfaces/IWormhole.sol
Due: root-format

Adding configuration files
  cross-chain/arbitrum/.eslintignore
  cross-chain/arbitrum/.eslintrc
  cross-chain/arbitrum/.mocharc.json
  cross-chain/arbitrum/.prettierignore
  cross-chain/arbitrum/.prettierrc.js
  cross-chain/arbitrum/.solhint.json
  cross-chain/arbitrum/.solhintignore
  cross-chain/arbitrum/.tsconfig-eslint.json
Due: root-format

Linting config files
  cross-chain/arbitrum/hardhat.config.ts
  cross-chain/arbitrum/tsconfig.json
Due: root-format

Referencing tbtc-v2 development version
  cross-chain/arbitrum/package.json
  cross-chain/arbitrum/yarn.lock
Due: root-format

s/The the/The
  docs/rfc/rfc-9.adoc
Due: root-format

Reuse the same v2 wallets
  docs/rfc/rfc-9.adoc
Due: root-format

Link to multiple outputs in a footnote
  docs/rfc/rfc-9.adoc
Due: root-format

Clarify the merkle root proposal process
  docs/rfc/rfc-9.adoc
Due: root-format

Elaborate on optimistic challenges and rewards
  docs/rfc/rfc-9.adoc
Due: root-format

Fail fast in case the vending machine has not enough tokens
  solidity/contracts/bridge/VendingMachineV2.sol
  solidity/contracts/bridge/VendingMachineV3.sol
  solidity/test/bridge/VendingMachineV2.test.ts
  solidity/test/bridge/VendingMachineV3.test.ts
Due: solidity-format

Clarified who owns vending machine contracts
  solidity/contracts/bridge/VendingMachineV2.sol
  solidity/contracts/bridge/VendingMachineV3.sol
Due: solidity-format

Small grammar improvement to VendingMachineV3 docs
  solidity/contracts/bridge/VendingMachineV3.sol
Due: solidity-format

Expose `getDkgResultSubmittedEvents` function
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/wallet.ts
Due: typescript-format

Define deployer named account for mainnet
  solidity/hardhat.config.ts
Due: solidity-format

Add libraries verification on etherscan
  solidity/deploy/06_deploy_bridge.ts
  solidity/deploy/09_deploy_bridge_governance.ts
Due: solidity-format

Expose `getDkgResultApprovedEvents` function
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/wallet.ts
Due: typescript-format

Add solcinputs
  solidity/deployments/mainnet/solcInputs/802132f7da69a8a4226cb9424480847b.json
Due: solidity-format

Add deployment artifacts for updated Bridge contract
  solidity/.openzeppelin/mainnet.json
  solidity/deployments/mainnet/Bridge.json
  solidity/export.json
Due: solidity-format

Expose `getDkgResultChallengedEvents` function
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/wallet.ts
Due: typescript-format

Release v1.1.0
  solidity/package.json
  solidity/yarn.lock
Due: solidity-format

Artifacts deployed in version v1.1.0
  solidity/deployments/mainnet/VendingMachineV2.json
  solidity/deployments/mainnet/VendingMachineV3.json
  solidity/deployments/mainnet/solcInputs/b0025f1f7efe4824592ac0c9793776c3.json
  solidity/export.json
Due: solidity-format

Fix unit tests
  typescript/src/ethereum.ts
  typescript/test/utils/mock-bridge.ts
Due: typescript-format

Export `EthereumWalletRegistry`
  typescript/src/ethereum.ts
  typescript/src/index.ts
Due: typescript-format

Bumping version to v1.2.0-dev
  solidity/package.json
Due: solidity-format

Add DKG lifecycle to the wallet monitor
  monitoring/src/wallet-monitor.ts
Due: monitoring-format

Path conditions:
  root-format: any file but: ^solidity\/|^yearn\/|^typescript\/|^monitoring\/
  solidity-format: any of: ^solidity/
  yearn-format: any of: ^yearn/
  typescript-format: any of: ^typescript/
  monitoring-format: any of: ^monitoring/
