Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Standardize `sweep_period` and `sweep_max_btc`
  docs/rfc/rfc-1.adoc
Due: none

Backbone for `tbtc-ts` submodule
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  tbtc-ts/.eslintignore
  tbtc-ts/.eslintrc.js
  tbtc-ts/.prettierignore
  tbtc-ts/.prettierrc.js
  tbtc-ts/LICENSE
  tbtc-ts/README.adoc
  tbtc-ts/package.json
  tbtc-ts/src/deposit.ts
  tbtc-ts/src/index.ts
  tbtc-ts/tsconfig.json
  tbtc-ts/yarn.lock
Due: lint-js

Fix typos in the pre commit config file
  .pre-commit-config.yaml
Due: none

Fix module import error during tests execution
  tbtc-ts/.mocharc.json
Due: none

Remove LICENSE from tbtc-ts
  tbtc-ts/LICENSE
Due: none

Deposit flow outline
  tbtc-ts/package.json
  tbtc-ts/src/bitcoin.ts
  tbtc-ts/src/deposit.ts
  tbtc-ts/yarn.lock
Due: none

Bridge.revealDeposit implementation
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Assembling the deposit script
  tbtc-ts/src/deposit.ts
  tbtc-ts/src/index.ts
Due: none

Make it explicit the given sweep can be proved only one time
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Make `tbtc-ts` working with `bcoin`
  tbtc-ts/package.json
  tbtc-ts/src/deposit.ts
  tbtc-ts/yarn.lock
Due: none

Fix problems in the code assembling the script
  tbtc-ts/package.json
  tbtc-ts/src/bitcoin.ts
  tbtc-ts/src/deposit.ts
  tbtc-ts/src/index.ts
  tbtc-ts/test/deposit.test.ts
  tbtc-ts/yarn.lock
Due: none

Outline of unit tests for P2SH assembling code
  tbtc-ts/src/deposit.ts
  tbtc-ts/src/index.ts
  tbtc-ts/test/data/bitcoin.ts
  tbtc-ts/test/deposit.test.ts
Due: none

Pass `blindingFactor` from the outside.
  tbtc-ts/src/deposit.ts
  tbtc-ts/test/deposit.test.ts
Due: none

Introduce deposit creation timestamp
  tbtc-ts/src/deposit.ts
  tbtc-ts/test/deposit.test.ts
Due: none

Improve P2SH signing and broadcast
  tbtc-ts/src/deposit.ts
  tbtc-ts/src/index.ts
  tbtc-ts/test/data/bitcoin.ts
  tbtc-ts/test/deposit.test.ts
Due: none

Unit tests for code assembling P2SH deposit
  tbtc-ts/src/deposit.ts
  tbtc-ts/src/index.ts
  tbtc-ts/test/deposit.test.ts
Due: none

Unit test for `makeDeposit`
  tbtc-ts/test/data/bitcoin.ts
  tbtc-ts/test/deposit.test.ts
Due: none

Documentation for P2SH deposit code
  tbtc-ts/.eslintrc.js
  tbtc-ts/src/bitcoin.ts
  tbtc-ts/src/deposit.ts
  tbtc-ts/src/index.ts
Due: lint-js

Implementation of the sweep functionality
  tbtc-ts/src/index.ts
  tbtc-ts/src/sweep.ts
  tbtc-ts/test/data/bitcoin.ts
  tbtc-ts/test/deposit.test.ts
  tbtc-ts/test/sweep.test.ts
Due: none

Bank contract with increaseBalance and updateBridge functions
  solidity/contracts/bank/Bank.sol
  solidity/test/bank/Bank.test.ts
Due: lint-sol

Added decreaseBalance function to the Bank
  solidity/contracts/bank/Bank.sol
  solidity/test/bank/Bank.test.ts
Due: lint-sol

Bank.increaseBalances and decreaseBalances functions
  solidity/contracts/bank/Bank.sol
  solidity/test/bank/Bank.test.ts
Due: lint-sol

Reorder Bridge functions
  solidity/contracts/bank/Bank.sol
Due: lint-sol

Let the Bank balance be transferred: Bank.transferBalance function
  solidity/contracts/bank/Bank.sol
  solidity/test/bank/Bank.test.ts
Due: lint-sol

Bank.approveBalance and transferBalanceFrom functions
  solidity/contracts/bank/Bank.sol
  solidity/test/bank/Bank.test.ts
Due: lint-sol

Support for EIP2612 permissions to Bank balances
  solidity/contracts/bank/Bank.sol
  solidity/test/bank/Bank.test.ts
Due: lint-sol

Allow to decrease only own balances
  solidity/contracts/bank/Bank.sol
  solidity/test/bank/Bank.test.ts
Due: lint-sol

Added documentation to Bridge contract functions
  solidity/contracts/bank/Bank.sol
Due: lint-sol

Emit events from Bank when increasing and decreasing balance
  solidity/contracts/bank/Bank.sol
  solidity/test/bank/Bank.test.ts
Due: lint-sol

Assign types for variables in Bank unit tests
  solidity/test/bank/Bank.test.ts
Due: none

Ensure the new bridge address is not 0x0 when upgrading
  solidity/contracts/bank/Bank.sol
  solidity/test/bank/Bank.test.ts
Due: lint-sol

Updated hardhat-helpers dependency to the most recent one
  solidity/package.json
  solidity/yarn.lock
Due: none

Emit an event from Bank when updating Bridge
  solidity/contracts/bank/Bank.sol
  solidity/test/bank/Bank.test.ts
Due: lint-sol

Fixed function name in test's describe
  solidity/test/bank/Bank.test.ts
Due: none

Bitcoin Bank Vault contract
  solidity/contracts/bank/Vault.sol
  solidity/contracts/test/VaultStub.sol
  solidity/test/bank/Vault.test.ts
Due: lint-sol

Check spender's balance in the bank before locking
  solidity/contracts/bank/Vault.sol
  solidity/test/bank/Vault.test.ts
Due: lint-sol

TBTC application vault contract
  solidity/contracts/tbtc/TBTCVault.sol
  solidity/test/tbtc/TBTCVault.test.ts
Due: lint-sol

Reordered function calls in Vault and TBTCVault to mitigate reentrancy
  solidity/contracts/bank/Vault.sol
  solidity/contracts/tbtc/TBTCVault.sol
Due: lint-sol

Fixed balance validation check in Vault.lockBalance
  solidity/contracts/bank/Vault.sol
  solidity/test/bank/Vault.test.ts
Due: lint-sol

Fixed small typos in docs and unit tests
  solidity/contracts/tbtc/TBTCVault.sol
  solidity/test/tbtc/TBTCVault.test.ts
Due: lint-sol

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
