Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Added info to the dev section
  solidity/contracts/bridge/library/Fraud.sol
Due: lint-sol

Renamed event
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/library/Fraud.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Removed check during sending of Eth
  solidity/contracts/bridge/library/Fraud.sol
Due: lint-sol

Made fraud defend timeout check more readable
  solidity/contracts/bridge/library/Fraud.sol
Due: lint-sol

Removed a TODO, moved state update before eth transfare
  solidity/contracts/bridge/library/Fraud.sol
Due: lint-sol

Modified constraints on parameter setters
  solidity/contracts/bridge/library/Fraud.sol
Due: lint-sol

Left a TODO
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Log the biggest wallet balance
  simulation/wallets.js
Due: lint-js

Remove unused wallet creation vars
  simulation/wallets.js
Due: lint-js

Added description for functions verifying preimage
  solidity/contracts/bridge/library/Fraud.sol
Due: lint-sol

Use proper constant syntax
  simulation/wallets.js
Due: lint-js

Updated simulation/wallets.js for prettier
  simulation/wallets.js
Due: lint-js

Better use of const in copy/pasted random gist
  simulation/wallets.js
Due: lint-js

Handle separate X and Y coordinates for public key
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/EcdsaLib.sol
  solidity/contracts/test/TestEcdsaLib.sol
Due: lint-sol

Function rename
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/library/Fraud.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Made naming consistent: use defeat instead of defend in frauds context
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/library/Fraud.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

File and variable renames
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/library/Frauds.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Removed frauds related setter functions from Bridge
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Update dev dependencies
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/test/bank/Bank.test.ts
  solidity/test/bridge/Bridge.test.ts
  solidity/test/fixtures/index.ts
  solidity/test/vault/TBTCVault.test.ts
Due: none

Update tests to reflect separate X and Y
  solidity/test/bridge/Bridge.test.ts
  solidity/test/bridge/EcdsaLib.test.ts
  solidity/test/data/ecdsa.ts
Due: none

Provide ecdsaWalletID for redemption data
  solidity/test/data/redemption.ts
Due: none

Fix code formatting
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.test.ts
  solidity/test/fixtures/index.ts
  solidity/tsconfig.json
Due: lint-sol

Add dependency to @keep-network/ecdsa
  solidity/package.json
Due: none

Update yarn.lock
  solidity/yarn.lock
Due: none

Clarify account funding
  solidity/test/bridge/Bridge.test.ts
Due: none

Use authenticated git protocol
  solidity/yarn.lock
Due: none

Improve unit tests for frauds - change structure, add missing testcases
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/fraud.ts
Due: none

Bump Slither version to 0.8.2
  .github/workflows/contracts.yml
Due: none

walletPubKeyHash160 -> walletPubKeyHash
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Move ecdsaWalletID to the top of struct
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Transition Wallet to Active once ECDSA wallet is created
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Introduce `Wallets` library
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Use enum for wallet states in tests
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/redemption.ts
  solidity/test/fixtures/index.ts
Due: none

Add tests for Wallets creation
  solidity/test/bridge/Bridge.test.ts
Due: none

createNewWallet -> requestNewWallet
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Added missing descriptions
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/library/Frauds.sol
Due: lint-sol

Heavily comment wallets.js
  simulation/wallets.js
Due: lint-js

yarn format:fix
  simulation/wallets.js
Due: lint-js

Refactor the functions to use normal param names
  simulation/wallets.js
Due: lint-js

Added gas limit on ether send
  solidity/contracts/bridge/library/Frauds.sol
Due: lint-sol

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
