Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

root-format:
  name: Check root directory code formatting
  entry: /usr/bin/env bash -c "yarn format"
  language: script
  description: Checks root directory code according to the formatting configuration

solidity-format:
  name: Check solidity directory code formatting
  entry: /usr/bin/env bash -c "cd solidity && yarn format"
  language: script
  description: Checks solidity directory code according to the formatting configuration

yearn-format:
  name: Check yearn directory code formatting
  entry: /usr/bin/env bash -c "cd yearn && yarn format"
  language: script
  description: Checks yearn directory code according to the formatting configuration

typescript-format:
  name: Check typescript directory code formatting
  entry: /usr/bin/env bash -c "cd typescript && yarn format"
  language: script
  description: Checks typescript directory code according to the formatting configuration

monitoring-format:
  name: Check monitoring directory code formatting
  entry: /usr/bin/env bash -c "cd monitoring && yarn format"
  language: script
  description: Checks monitoring directory code according to the formatting configuration

Make workflow reusable
  .github/workflows/docs.yml
  .github/workflows/reusable-solidity-docs.yml
  .github/workflows/solidity-docs.yml
Due: root-format

Used replaced string with TransactionHash
  typescript/src/proof.ts
Due: typescript-format

Used TransactionHash to represent transaction hash
  typescript/src/proof.ts
Due: typescript-format

Reordered arguments
  typescript/src/proof.ts
Due: typescript-format

Handle intermediate nodes of Merkle tree individually
  typescript/src/proof.ts
Due: typescript-format

RFC-7: Updates to the values of timeouts and benchmarks
  docs/rfc/rfc-7.adoc
Due: root-format

Updated unit tests
  typescript/test/proof.test.ts
Due: typescript-format

L2WormholeGateway: increase minted amount only when actually minting
  solidity/contracts/l2/L2WormholeGateway.sol
  solidity/test/l2/L2WormholeGateway.test.ts
Due: solidity-format

RFC-7: Fixed the announcement phase time estimate
  docs/rfc/rfc-7.adoc
Due: root-format

Added explanatory comment
  typescript/src/proof.ts
Due: typescript-format

Adjusting CI workflows to run with arbitrum network
  .github/workflows/cross-chain-arbitrum.yml
  .github/workflows/npm-cross-chain-arbitrum.yml
Due: root-format

Changing the version from 0.0.1 to 0.0.1-dev
  cross-chain/arbitrum/package.json
Due: root-format

tbtc-2 -> tbtc-v2
  .github/workflows/npm-cross-chain-arbitrum.yml
Due: root-format

Updated docstrings
  typescript/src/proof.ts
Due: typescript-format

L2WormholeGateway: Removed unused import to TBTC contract
  solidity/contracts/l2/L2WormholeGateway.sol
Due: solidity-format

L2WormholeGateway: s/setMintingLimit/updateMintingLimit
  solidity/contracts/l2/L2WormholeGateway.sol
  solidity/test/l2/L2WormholeGateway.test.ts
Due: solidity-format

Merging with npm-cross-chain-arbitrum.yml
  .github/workflows/cross-chain-arbitrum.yml
  .github/workflows/npm-cross-chain-arbitrum.yml
Due: root-format

Added explanation how transaction is validated in Merkle tree
  typescript/src/proof.ts
Due: typescript-format

L2WormholeGateway: fixed the payload extraction mechanism
  solidity/contracts/l2/L2WormholeGateway.sol
  solidity/contracts/test/WormholeBridgeStub.sol
Due: solidity-format

Adding prepack and prepublishOnly
  cross-chain/arbitrum/package.json
  cross-chain/arbitrum/scripts/prepare-artifacts.sh
  cross-chain/arbitrum/tsconfig.export.json
  cross-chain/arbitrum/tsconfig.json
  cross-chain/arbitrum/yarn.lock
Due: root-format

Adding a comment around using Arbiscan verification
  cross-chain/arbitrum/deploy_l2/01_deploy_arbitrum_tbtc_token.ts
  cross-chain/arbitrum/deploy_l2/02_deploy_arbitrum_wormhole_gateway.ts
Due: root-format

Adding a TODO for Tenderly verification
  cross-chain/arbitrum/deploy_l2/01_deploy_arbitrum_tbtc_token.ts
  cross-chain/arbitrum/deploy_l2/02_deploy_arbitrum_wormhole_gateway.ts
Due: root-format

Typescript: Update package to v1.1.0 for mainnet
  typescript/package.json
  typescript/yarn.lock
Due: typescript-format

Typescript: Start version 1.2.0-dev
  typescript/package.json
Due: typescript-format

Making transfer_proxy_admin_ownership run at the end
  cross-chain/arbitrum/deploy_l2/13_transfer_proxy_admin_ownership.ts
Due: root-format

Forcing authorize_wormhole_gateway_as_minter run at the end
  cross-chain/arbitrum/deploy_l2/21_authorize_wormhole_gateway_as_minter.ts
Due: root-format

Wallet coordinator contract
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Changes in cross-chain-arbitrum
  .github/workflows/cross-chain-arbitrum.yml
Due: root-format

Added an empty line in .prettierignore
  cross-chain/arbitrum/.prettierignore
Due: root-format

Governable `depositSweepProposalValidity` parameter
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Governable `isProposalSubmitter` and minor improvements
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Add TODO about wallet member self unlocking
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Validate sweep maximum size
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Fix compilation errors
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Suppress Slither warning about call inside a loop
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

L2WormholeGateway: Replaced potentially misleading revert message
  solidity/contracts/l2/L2WormholeGateway.sol
  solidity/test/l2/L2WormholeGateway.test.ts
Due: solidity-format

L2WormholeGateway: Slight gas optimization with calldata parameter
  solidity/contracts/l2/L2WormholeGateway.sol
Due: solidity-format

L2WormholeGateway: Protect against the custody of irrelevant tokens
  solidity/contracts/l2/L2WormholeGateway.sol
  solidity/test/l2/L2WormholeGateway.test.ts
Due: solidity-format

L2WormholeGateway: Removed nonReentrant modifier from receiveWormhole
  solidity/contracts/l2/L2WormholeGateway.sol
Due: solidity-format

Path conditions:
  root-format: any file but: ^solidity\/|^yearn\/|^typescript\/|^monitoring\/
  solidity-format: any of: ^solidity/
  yearn-format: any of: ^yearn/
  typescript-format: any of: ^typescript/
  monitoring-format: any of: ^monitoring/
