Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

root-format:
  name: Check root directory code formatting
  entry: /usr/bin/env bash -c "yarn format"
  language: script
  description: Checks root directory code according to the formatting configuration

solidity-format:
  name: Check solidity directory code formatting
  entry: /usr/bin/env bash -c "cd solidity && yarn format"
  language: script
  description: Checks solidity directory code according to the formatting configuration

yearn-format:
  name: Check yearn directory code formatting
  entry: /usr/bin/env bash -c "cd yearn && yarn format"
  language: script
  description: Checks yearn directory code according to the formatting configuration

typescript-format:
  name: Check typescript directory code formatting
  entry: /usr/bin/env bash -c "cd typescript && yarn format"
  language: script
  description: Checks typescript directory code according to the formatting configuration

monitoring-format:
  name: Check monitoring directory code formatting
  entry: /usr/bin/env bash -c "cd monitoring && yarn format"
  language: script
  description: Checks monitoring directory code according to the formatting configuration

Add bitcoin helper function
  typescript/src/bitcoin.ts
Due: typescript-format

RFC-10: P2SH deposit script
  docs/rfc/rfc-10.adoc
Due: root-format

RFC-10: Foreign reveal function
  docs/rfc/rfc-10.adoc
Due: root-format

Revert changes to the `tbtc-v2.ts`'s lockfile
  typescript/yarn.lock
Due: typescript-format

Add remaining governable parameters for redemption proposals
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Implementation of `validateRedemptionProposal` function
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Fix failing tests
  typescript/test/redemption.test.ts
  typescript/test/utils/mock-bridge.ts
  typescript/test/utils/mock-tbtc-token.ts
Due: typescript-format

Suppress Slither warning
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Unit tests for `updateRedemptionProposalParameters` function
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

RFC-10: Description of individual system components
  docs/rfc/rfc-10.adoc
Due: root-format

Unit tests for `submitRedemptionProposal` function
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Unit tests for `submitRedemptionProposalWithReimbursement` function
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

RFC-10: Deposit and redemption flow
  docs/rfc/rfc-10.adoc
Due: root-format

Unit tests for `validateRedemptionProposal` function
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Update dependencies to `keep-ecdsa` and `tbtc-v2` packages
  typescript/yarn.lock
Due: typescript-format

Add duplicates check to the `validateRedemptionProposal` function
  solidity/contracts/bridge/WalletCoordinator.sol
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Add duplicates check to the `validateDepositSweepProposal` function
  solidity/contracts/bridge/WalletCoordinator.sol
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Make formatter happy
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Set initial value of `redemptionProposalValidity` to 2 hours
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Add comment about per-redemption fee test case
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Minor fixes regarding test names
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Improve docstring of `updateRedemptionProposalParameters`
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Use correct id in committer's e-mail
  .github/workflows/contracts-docs.yml
Due: root-format

Add unit tests for `findWalletForRedemption` fn
  typescript/test/data/redemption.ts
  typescript/test/redemption.test.ts
  typescript/test/utils/mock-bridge.ts
Due: typescript-format

Improve docs in the Ethereum Bridge implementation
  typescript/src/ethereum.ts
Due: typescript-format

Remove testing configuration
  .github/workflows/contracts-docs.yml
Due: root-format

Rename `threshold` repo to `docs`, `token-dashboard` to `dapp`
  .github/workflows/contracts-docs.yml
  monitoring/docs/monitoring-and-telemetry.adoc
Due: root-format, monitoring-format

Use the path filter when triggering `contracts-docs-publish-preview`
  .github/workflows/contracts-docs.yml
Due: root-format

Make `buildRedemptionKey` function static
  typescript/src/ethereum.ts
Due: typescript-format

Split contracts API doc into multiple files
  .github/workflows/contracts-docs.yml
  solidity/hardhat.config.ts
Due: root-format, solidity-format

Update dependencies to `tbtc-v2` and `tbtc-v2.ts` packages
  monitoring/yarn.lock
Due: monitoring-format

Run postinstall script separately from `yarn install`
  .github/workflows/monitoring.yml
Due: root-format

Add comment explaining the need for separating postinstall from install
  monitoring/Dockerfile
Due: monitoring-format

Rename private fn in Ethereum Bridge handle
  typescript/src/ethereum.ts
Due: typescript-format

Rename fn in Ethereum Bridge handle
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/redemption.ts
  typescript/test/utils/mock-bridge.ts
Due: typescript-format

Update docs for `findWalletForRedemption` fn
  typescript/src/redemption.ts
Due: typescript-format

Update `findWalletForRedemption` fn
  typescript/src/redemption.ts
  typescript/test/redemption.test.ts
Due: typescript-format

Refactor the `wallets` fn from `Bridge` interface
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/redemption.ts
  typescript/test/utils/mock-bridge.ts
Due: typescript-format

Rename variable in `findWalletForRedemption` fn
  typescript/src/redemption.ts
Due: typescript-format

Update `findWalletForRedemption` fn
  typescript/src/redemption.ts
Due: typescript-format

Path conditions:
  root-format: any file but: ^solidity\/|^yearn\/|^typescript\/|^monitoring\/
  solidity-format: any of: ^solidity/
  yearn-format: any of: ^yearn/
  typescript-format: any of: ^typescript/
  monitoring-format: any of: ^monitoring/
