Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Bump `@keep-network/ecdsa` package
  solidity/contracts/bridge/Wallets.sol
  solidity/package.json
  solidity/yarn.lock
Due: lint-sol

Used the 2 argument version of function for compressing public keys
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/EcdsaLib.sol
  solidity/contracts/bridge/library/Frauds.sol
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Integrate `Wallets` lib with `Bridge` contract
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Wallets.sol
  solidity/contracts/test/BridgeStub.sol
Due: lint-sol

Added unit test with preimage with wrong sighash type
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/fraud.ts
Due: none

Made setters in the Frauds library external
  solidity/contracts/bridge/library/Frauds.sol
  solidity/hardhat.config.ts
Due: lint-sol

Adjust `Bridge.test.ts` after `Wallets` integration
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/redemption.ts
  solidity/test/fixtures/index.ts
Due: lint-sol

Small refactor: order of functions, removed TODOs, made setters external
  solidity/contracts/bridge/library/Frauds.sol
Due: lint-sol

Extract wallet-rleated tests to separate file
  solidity/test/bridge/Bridge.Wallets.test.ts
  solidity/test/bridge/Bridge.test.ts
Due: none

Force BTC balance thresholds to be above zero
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Add remaining test cases for `requestNewWallet`
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.Wallets.test.ts
  solidity/test/bridge/Bridge.test.ts
  solidity/test/fixtures/index.ts
Due: lint-sol

Expose `getActiveWalletPubKeyHash` function
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Remaining tests for `__ecdsaWalletCreatedCallback`
  solidity/test/bridge/Bridge.Wallets.test.ts
Due: none

Update TODO about `activeWalletPubKeyHash`
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Post TODO about replacing `TestRelay` with Smock
  solidity/test/bridge/Bridge.test.ts
Due: none

Improve docs of `maxBtcBalance` parameter
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Configure git to don't use unauthenticated protocol
  .github/workflows/contracts.yml
  .github/workflows/npm.yml
  solidity/README.adoc
Due: none

Initial code for closing wallets
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Update TODOs of timeout and fraud notifiers
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

API for closing wallets
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Narrow the comment for `setBtcBalanceRange`
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Fix comment indentation
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Clarifies `getActiveWalletPubKeyHash` docs
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Narrow `Wallets` parameters docs
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Emit events on `Wallets` params update
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Remove obsolete TODO
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Setter and getter for wallets parameters
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.Wallets.test.ts
Due: lint-sol

Improve docs for `getWalletBtcBalance`
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Rename `getRegisteredWallet`
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.Wallets.test.ts
  solidity/test/bridge/Bridge.test.ts
Due: lint-sol

Remove redundant `await`
  solidity/test/bridge/Bridge.Wallets.test.ts
Due: none

Expose `notifyWalletFraudProven` function
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Allow `notifyWalletFraudProven` for `MovingFunds` wallets
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Keep track of the biggest wallet balance across simulations
  simulation/wallets.js
Due: lint-js

Use a WALLET_CREATION_PERIOD instead of 7
  simulation/wallets.js
Due: lint-js

s/WALLET_MAX_BTC/WALLET_TRANSFER_MAX
  simulation/wallets.js
Due: lint-js

Leave a fixme for createNewWalletEvent complexity
  simulation/wallets.js
Due: lint-js

Use wallet instead of walletIndex as a param
  simulation/wallets.js
Due: lint-js

Add a DAYS_TO_SIMULATE param
  simulation/wallets.js
Due: lint-js

s/DUST_THRESHOLD/WALLET_MIN_BTC
  simulation/wallets.js
Due: lint-js

Add a dial that controls the transfer implementation
  simulation/wallets.js
Due: lint-js

Log the number of wallet-to-wallet transfers
  simulation/wallets.js
Due: lint-js

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
