Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Return difficulty in Retarget event, not target
  solidity/contracts/relay/Relay.sol
Due: lint-sol

Record current epoch in relay genesis
  solidity/contracts/relay/Relay.sol
Due: lint-sol

Mark visibility of state and distinguish loop indices
  solidity/contracts/relay/Relay.sol
Due: lint-sol

Fix formatting and check for retargets in proofs correctly
  solidity/contracts/relay/Relay.sol
Due: lint-sol

Reorganize public API of the `typescript` module
  typescript/src/deposit-sweep.ts
  typescript/src/deposit.ts
  typescript/src/index.ts
  typescript/src/proof.ts
  typescript/src/redemption.ts
  typescript/src/tbtc.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/deposit-sweep.test.ts
  typescript/test/deposit.test.ts
  typescript/test/proof.test.ts
  typescript/test/redemption.test.ts
Due: none

Introduce `DepositScriptParameters` type
  typescript/src/deposit.ts
Due: none

Introduce Ethereum `Address` type
  typescript/src/ethereum.ts
Due: none

Expose a way to get pending and timed-out redemption requests
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/index.ts
  typescript/src/redemption.ts
  typescript/test/ethereum.test.ts
  typescript/test/redemption.test.ts
  typescript/test/utils/mock-bridge.ts
Due: none

Fix retarget handling
  solidity/contracts/relay/Relay.sol
Due: lint-sol

Document target masking in retarget
  solidity/contracts/relay/Relay.sol
Due: lint-sol

Improve comments in validateChain
  solidity/contracts/relay/Relay.sol
Due: lint-sol

Improve comments and error messages in retarget
  solidity/contracts/relay/Relay.sol
Due: lint-sol

Add basic tests for light relay
  solidity/test/helpers/contract-test-helpers.ts
  solidity/test/relay/Relay.test.ts
  solidity/test/relay/headersWithRetarget.json
  solidity/tsconfig.json
Due: none

Clean up relay contract and test files
  solidity/contracts/relay/Relay.sol
  solidity/test/relay/Relay.test.ts
Due: lint-sol

Add test for retarget with longer proof chains
  solidity/test/relay/Relay.test.ts
Due: none

Change getRelayRange() visibility to external
  solidity/contracts/relay/Relay.sol
Due: lint-sol

Distinguish variables in pre- and post-loops in retarget
  solidity/contracts/relay/Relay.sol
Due: lint-sol

Explicitly initialise variables in relay
  solidity/contracts/relay/Relay.sol
Due: lint-sol

Update `yarn.lock`
  system-tests/yarn.lock
Due: none

Expose a way to get revealed deposits
  typescript/src/chain.ts
  typescript/src/deposit.ts
  typescript/src/ethereum.ts
  typescript/src/index.ts
  typescript/src/redemption.ts
  typescript/test/deposit.test.ts
  typescript/test/ethereum.test.ts
  typescript/test/utils/mock-bridge.ts
Due: none

Make Bridge accepting plain-text wallet PK when getting redemption requests
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/redemption.ts
  typescript/test/ethereum.test.ts
  typescript/test/utils/mock-bridge.ts
Due: none

Expose function that determines the deposit wallet
  typescript/src/bitcoin.ts
  typescript/src/chain.ts
  typescript/src/deposit.ts
  typescript/src/ethereum.ts
  typescript/src/index.ts
  typescript/test/bitcoin.test.ts
  typescript/test/deposit.test.ts
  typescript/test/ethereum.test.ts
  typescript/test/utils/mock-bridge.ts
Due: none

Declare external modules typings
  typescript/src/bitcoin.ts
  typescript/src/deposit-sweep.ts
  typescript/src/deposit.ts
  typescript/src/electrum.ts
  typescript/src/redemption.ts
  typescript/test/deposit-sweep.test.ts
  typescript/test/deposit.test.ts
  typescript/test/proof.test.ts
  typescript/test/redemption.test.ts
  typescript/tsconfig.json
  typescript/typings.d.ts
Due: none

Update system-tests/.eslintrc.js
  system-tests/.eslintrc.js
Due: lint-js

Update system-tests/.prettierrc.js
  system-tests/.prettierrc.js
Due: lint-js

Add information about ECDSA PK size in the README
  system-tests/README.adoc
Due: none

Adjust to new eslint config
  system-tests/.eslintrc
  system-tests/.eslintrc.js
  system-tests/.tsconfig-eslint.json
  system-tests/hardhat.config.ts
  system-tests/package.json
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/utils/bitcoin.ts
  system-tests/test/utils/context.ts
  system-tests/test/utils/deposit.ts
  system-tests/test/utils/electrum.ts
  system-tests/yarn.lock
Due: lint-js

Move `parseElectrumCredentials` to `typescript` library
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/utils/electrum.ts
  typescript/src/electrum.ts
Due: none

Expose `ElectrumClient.fromUrl` static function
  system-tests/test/deposit-redemption.test.ts
  typescript/src/electrum.ts
Due: none

Add missing URL import
  typescript/src/electrum.ts
Due: none

Replacing hardhat network check with the network.tags.local
  solidity/deploy/00_resolve_relay.ts
  solidity/deploy/00_resolve_tbtc_v1_token.ts
  solidity/deploy/05_deploy_bridge.ts
Due: none

Simplify contracts deployment info interface
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/utils/bitcoin.ts
  system-tests/test/utils/context.ts
  system-tests/test/utils/deposit.ts
Due: none

Validate deployment file network
  system-tests/test/utils/context.ts
Due: none

Refactor the `KeyPair` interface
  system-tests/README.adoc
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/utils/bitcoin.ts
  system-tests/test/utils/context.ts
Due: none

Adjust WIF-related env variables
  .github/workflows/system-tests.yml
Due: none

Remove pull request trigger
  .github/workflows/system-tests.yml
Due: none

Improve docs for `submit*Transaction` functions
  typescript/src/deposit-sweep.ts
  typescript/src/deposit.ts
Due: none

Use `constants.AddressZero` in ethereum.test.ts
  typescript/test/ethereum.test.ts
Due: none

Update `yarn.lock` of the `typescript` module
  typescript/yarn.lock
Due: none

Update .github/workflows/system-tests.yml
  .github/workflows/system-tests.yml
Due: none

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
