Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

root-format:
  name: Check root directory code formatting
  entry: /usr/bin/env bash -c "yarn format"
  language: script
  description: Checks root directory code according to the formatting configuration

solidity-format:
  name: Check solidity directory code formatting
  entry: /usr/bin/env bash -c "cd solidity && yarn format"
  language: script
  description: Checks solidity directory code according to the formatting configuration

yearn-format:
  name: Check yearn directory code formatting
  entry: /usr/bin/env bash -c "cd yearn && yarn format"
  language: script
  description: Checks yearn directory code according to the formatting configuration

typescript-format:
  name: Check typescript directory code formatting
  entry: /usr/bin/env bash -c "cd typescript && yarn format"
  language: script
  description: Checks typescript directory code according to the formatting configuration

monitoring-format:
  name: Check monitoring directory code formatting
  entry: /usr/bin/env bash -c "cd monitoring && yarn format"
  language: script
  description: Checks monitoring directory code according to the formatting configuration

Adjust integration tests after SPV proof mechanism change
  solidity/test/integration/data/integration.ts
Due: solidity-format

Upgrade deployment artifacts after Bridge upgrade
  solidity/.openzeppelin/mainnet.json
  solidity/deployments/mainnet/Bridge.json
  solidity/deployments/mainnet/DepositSweep.json
  solidity/deployments/mainnet/MovingFunds.json
  solidity/deployments/mainnet/Redemption.json
  solidity/export.json
Due: solidity-format

Upgrade deployment artifacts after deploying new MaintainerProxy instance
  solidity/deployments/mainnet/MaintainerProxy.json
  solidity/export.json
Due: solidity-format

Bump up contract packages used by the SDK
  typescript/yarn.lock
Due: typescript-format

Expose `getCoinbaseTxHash` function
  typescript/src/lib/bitcoin/client.ts
  typescript/src/lib/electrum/client.ts
  typescript/test/lib/electrum.test.ts
  typescript/test/utils/mock-bitcoin-client.ts
Due: typescript-format

Include coinbase data in the `assembleBitcoinSpvProof` function
  typescript/src/lib/bitcoin/spv.ts
  typescript/src/lib/ethereum/bridge.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/data/proof.ts
  typescript/test/data/redemption.ts
  typescript/test/lib/bitcoin.test.ts
  typescript/test/lib/ethereum.test.ts
  typescript/test/services/maintenance.test.ts
  typescript/test/utils/mock-bitcoin-client.ts
Due: typescript-format

Re-generate API reference
  typescript/api-reference/README.md
  typescript/api-reference/classes/ElectrumClient.md
  typescript/api-reference/classes/EthereumBridge.md
  typescript/api-reference/interfaces/BitcoinClient.md
  typescript/api-reference/interfaces/BitcoinSpvProof.md
  typescript/api-reference/interfaces/BitcoinTxMerkleBranch.md
Due: typescript-format

Update `solcInputs` directory
  solidity/deployments/mainnet/solcInputs/7c1f8f1dbded4c787d87a982d1fc8349.json
Due: solidity-format

Release solidity/v1.5.2
  solidity/package.json
  solidity/yarn.lock
Due: solidity-format

Introduce support for depositor proxies
  typescript/src/lib/contracts/bridge.ts
  typescript/src/lib/contracts/depositor-proxy.ts
  typescript/src/lib/contracts/index.ts
  typescript/src/lib/ethereum/bridge.ts
  typescript/src/services/deposits/deposit.ts
  typescript/src/services/deposits/deposits-service.ts
Due: typescript-format

Call proper Bridge function depending on the existence of extra data
  typescript/src/lib/ethereum/bridge.ts
Due: typescript-format

Expose `EthereumDepositorProxy` class
  typescript/src/lib/ethereum/bridge.ts
  typescript/src/lib/ethereum/depositor-proxy.ts
  typescript/src/lib/ethereum/index.ts
Due: typescript-format

Re-generate API reference
  typescript/api-reference/README.md
  typescript/api-reference/classes/Deposit.md
  typescript/api-reference/classes/DepositScript.md
  typescript/api-reference/classes/DepositsService.md
  typescript/api-reference/classes/EthereumBridge.md
  typescript/api-reference/classes/EthereumDepositorProxy.md
  typescript/api-reference/enums/WalletState-1.md
  typescript/api-reference/interfaces/DepositReceipt.md
  typescript/api-reference/interfaces/DepositRequest.md
  typescript/api-reference/interfaces/DepositorProxy.md
  typescript/api-reference/interfaces/RedemptionRequest.md
  typescript/api-reference/interfaces/Wallet.md
  typescript/api-reference/modules/WalletState.md
Due: typescript-format

Make `...WormholeChainID` values dependable on the environment
  cross-chain/base/deploy_l2/12_update_self_in_wormhole_gateway_mapping.ts
  cross-chain/base/deploy_l2/13_update_with_arbitrum_in_wormhole_gateway_mapping.ts
  cross-chain/base/deploy_l2/14_update_with_polygon_in_wormhole_gateway_mapping.ts
  cross-chain/base/deploy_l2/15_update_with_optimism_in_wormhole_gateway_mapping.ts
Due: root-format

Fix linting
  cross-chain/base/hardhat.config.ts
Due: root-format

Make `...WormholeChainID` values dependable on the environment
  cross-chain/arbitrum/deploy_l2/12_update_wormhole_gateway_mapping.ts
  cross-chain/arbitrum/deploy_l2/13_update_with_optimism_in_wormhole_gateway_mapping.ts
  cross-chain/arbitrum/deploy_l2/14_update_with_polygon_in_wormhole_gateway_mapping.ts
  cross-chain/arbitrum/deploy_l2/15_update_with_base_in_wormhole_gateway_mapping.ts
Due: root-format

Make `...WormholeChainID` values dependable on the environment
  cross-chain/optimism/deploy_l2/12_update_self_in_wormhole_gateway_mapping.ts
  cross-chain/optimism/deploy_l2/13_update_with_arbitrum_in_wormhole_gateway_mapping.ts
  cross-chain/optimism/deploy_l2/14_update_with_polygon_in_wormhole_gateway_mapping.ts
  cross-chain/optimism/deploy_l2/15_update_with_base_in_wormhole_gateway_mapping.ts
Due: root-format

Adjust unit tests for `EthereumBridge.revealDeposit` function
  typescript/test/lib/ethereum.test.ts
Due: typescript-format

Adjust unit tests around the `Deposit` component
  typescript/test/services/deposits.test.ts
  typescript/test/utils/mock-depositor-proxy.ts
Due: typescript-format

Adjust unit tests for the `DepositService.initiateDeposit` function
  typescript/test/services/deposits.test.ts
Due: typescript-format

Add unit tests for the `DepositService.initiateDepositWithProxy` function
  typescript/test/services/deposits.test.ts
  typescript/test/utils/mock-depositor-proxy.ts
Due: typescript-format

SDK: Update `Bridge` deployment artifact for Sepolia
  typescript/src/lib/ethereum/artifacts/sepolia/Bridge.json
Due: typescript-format

Re-format code
  typescript/src/lib/ethereum/artifacts/sepolia/Bridge.json
Due: typescript-format

Add Sepolia-related `external` contracts
  cross-chain/base/external/baseSepolia/BaseTokenBridge.json
  cross-chain/base/external/baseSepolia/SolanaWormholeGateway.json
  cross-chain/base/external/sepolia/TokenBridge.json
Due: root-format

Add Sepolia-related external contracts
  cross-chain/optimism/external/optimismSepolia/OptimismTokenBridge.json
  cross-chain/optimism/external/optimismSepolia/SolanaWormholeGateway.json
  cross-chain/optimism/external/sepolia/TokenBridge.json
Due: root-format

Add Sepolia-related `external` contracts
  cross-chain/arbitrum/external/arbitrumSepolia/ArbitrumTokenBridge.json
  cross-chain/arbitrum/external/arbitrumSepolia/SolanaWormholeGateway.json
  cross-chain/arbitrum/external/sepolia/TokenBridge.json
Due: root-format

Add Sepolia-related `external` contracts
  cross-chain/polygon/external/amoy/SolanaWormholeGateway.json
  cross-chain/polygon/external/sepolia/TokenBridge.json
Due: root-format

Rough draft of the abstract `DepositorProxy` contract
  solidity/contracts/bridge/DepositorProxy.sol
Due: solidity-format

s/initiatedAt/initializedAt within `DepositInitialized` evebt
  solidity/contracts/bridge/DepositorProxy.sol
Due: solidity-format

Explain the reason of `delete pendingDeposits[depositKey]` in a better way
  solidity/contracts/bridge/DepositorProxy.sol
Due: solidity-format

Extract `calculateTbtcAmount` function
  solidity/contracts/bridge/DepositorProxy.sol
Due: solidity-format

Remove reference to the TBTC token contract
  solidity/contracts/bridge/DepositorProxy.sol
Due: solidity-format

Return deposit key from `initializeDeposit` function
  solidity/contracts/bridge/DepositorProxy.sol
Due: solidity-format

Move and rename `DepositorProxy` contract
  solidity/contracts/integrator/TBTCDepositorProxy.sol
Due: solidity-format

Make `TBTCDepositorProxy` safe for upgradable child contracts
  solidity/contracts/integrator/TBTCDepositorProxy.sol
Due: solidity-format

Documentation for the `TBTCDepositorProxy` contract
  solidity/contracts/integrator/TBTCDepositorProxy.sol
Due: solidity-format

Reword the docstring of `calculateTbtcAmount` function
  solidity/contracts/integrator/TBTCDepositorProxy.sol
Due: solidity-format

Path conditions:
  root-format: any file but: ^solidity\/|^yearn\/|^typescript\/|^monitoring\/
  solidity-format: any of: ^solidity/
  yearn-format: any of: ^yearn/
  typescript-format: any of: ^typescript/
  monitoring-format: any of: ^monitoring/
