Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

lint-js:
  name: lint js
  entry: /usr/bin/env bash -c "npm run lint:js"
  language: script
  description: Checks JS code according to the package's linter configuration

lint-sol:
  name: lint solidity
  entry: /usr/bin/env bash -c "npm run lint:sol"
  language: script
  description: Checks Solidity code according to the package's linter configuration

Fix linter/prettier suggestions
  .github/workflows/contracts.yml
  solidity/.eslintrc
  solidity/.solhint.json
  solidity/package.json
  solidity/slither.config.json
Due: none

Omit the commit fixing formating in the `git blame`
  .git-blame-ignore-revs
Due: none

Main part of the Convex strategy
  yearn/contracts/ConvexStrategy.sol
Due: lint-sol

Minor tweaks and docs improvements
  yearn/contracts/CurveVoterProxyStrategy.sol
Due: lint-sol

Handle Convex extra rewards
  yearn/contracts/ConvexStrategy.sol
Due: lint-sol

Implementation of `prepareReturn` method
  yearn/contracts/ConvexStrategy.sol
Due: lint-sol

Use `to1e18` instead of `to1ePrecision`
  yearn/test/system/curve-voter-proxy-strategy.test.js
Due: lint-js

Document the `ConvexStrategy` contract
  yearn/contracts/ConvexStrategy.sol
Due: lint-sol

Use SushiSwap for CVX tokens
  yearn/contracts/ConvexStrategy.sol
Due: lint-sol

Update eslint-config-keep dependency
  solidity/.eslintrc
Due: none

Add `extraRewardSwapThreshold` parameter
  yearn/contracts/ConvexStrategy.sol
Due: lint-sol

Basic system tests for Convex strategy
  yearn/test/system/convex-strategy.test.js
Due: lint-js

Improved wording: vending machine is upgraded, not updated
  solidity/contracts/bridge/VendingMachine.sol
  solidity/test/bridge/VendingMachine.test.js
Due: lint-js, lint-sol

Improved VendingMachine.unmint function unit tests
  solidity/test/bridge/VendingMachine.test.js
Due: lint-js

Improved tests for VendingMaching role transfer functions
  solidity/test/bridge/VendingMachine.test.js
Due: lint-js

Improved VendingMachine.approveAndCall unit test
  solidity/test/bridge/VendingMachine.test.js
Due: lint-js

Improved VendingMachine.approveAndCall unit test
  solidity/test/token/ERC20WithPermit.test.js
Due: lint-js

Moved solhint ignore line after linting
  solidity/contracts/bridge/VendingMachine.sol
Due: lint-sol

Remove unnecessary type casting
  yearn/contracts/CurveVoterProxyStrategy.sol
Due: lint-sol

Calculate profit only if there's no loss
  yearn/contracts/CurveVoterProxyStrategy.sol
Due: lint-sol

Use `safeIncreaseAllowance` where applicable
  yearn/contracts/CurveVoterProxyStrategy.sol
Due: lint-sol

Make Solhint happy
  yearn/contracts/CurveVoterProxyStrategy.sol
Due: lint-sol

Calculate profit only if there's no loss
  yearn/contracts/ConvexStrategy.sol
Due: lint-sol

Use `balanceOfWant` during profit calculation
  yearn/contracts/ConvexStrategy.sol
Due: lint-sol

Use `safeIncreaseAllowance` where applicable
  yearn/contracts/ConvexStrategy.sol
Due: lint-sol

Add remaining system tests assertions
  yearn/test/system/convex-strategy.test.js
Due: lint-js

Extract test addresses to constants
  yearn/test/system/constants.js
  yearn/test/system/convex-strategy.test.js
  yearn/test/system/curve-voter-proxy-strategy.test.js
Due: lint-js

Extract Synthetix rewards allocation code
  yearn/test/system/constants.js
  yearn/test/system/convex-strategy.test.js
  yearn/test/system/curve-voter-proxy-strategy.test.js
  yearn/test/system/functions.js
Due: lint-js

Extract Yearn vault deployment function
  yearn/test/system/convex-strategy.test.js
  yearn/test/system/curve-voter-proxy-strategy.test.js
  yearn/test/system/functions.js
Due: lint-js

Extract test fixture
  yearn/test/system/constants.js
  yearn/test/system/convex-strategy.test.js
  yearn/test/system/curve-voter-proxy-strategy.test.js
  yearn/test/system/fixtures.js
Due: lint-js

Adjust profit precision to prevent CI failures
  yearn/test/system/convex-strategy.test.js
Due: lint-js

Remove unnecessary type casting
  yearn/contracts/ConvexStrategy.sol
Due: lint-sol

Setup Hardhat Deploy with TypeScript
  .gitignore
  .pre-commit-config.yaml
  yearn/.eslintrc
  yearn/README.adoc
  yearn/hardhat.config.ts
  yearn/package.json
  yearn/tsconfig.json
  yearn/yarn.lock
Due: none

Deployment script for CurveVoterProxyStrategy
  yearn/deploy/00_deploy_cvp_strategy.ts
  yearn/deploy/helpers.ts
Due: none

Deployment script for ConvexStrategy
  yearn/deploy/01_deploy_convex_strategy.ts
Due: none

Readme for Yearn submodule
  yearn/README.adoc
Due: none

Add missing parts to the Yearn readme
  yearn/README.adoc
Due: none

Added Saddle strategy
  yearn/contracts/SaddleStrategy.sol
Due: lint-sol

Renamed variable and interface names
  yearn/contracts/SaddleStrategy.sol
Due: lint-sol

Estimating amount of tBTC/sbtcCRV LP tokens received for ETH
  yearn/contracts/ConvexStrategy.sol
  yearn/contracts/CurveVoterProxyStrategy.sol
Due: lint-sol

Path conditions:
  lint-js: any of: \.js$
  lint-sol: any of: \.sol$
