Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: root-format
        name: "Check root directory code formatting"
        entry: /usr/bin/env bash -c "yarn format"
        exclude: '^solidity\/|^yearn\/|^typescript\/|^monitoring\/'
        language: script
        description: "Checks root directory code according to the formatting configuration"
      - id: solidity-format
        name: "Check solidity directory code formatting"
        entry: /usr/bin/env bash -c "cd solidity && yarn format"
        files: "^solidity/"
        language: script
        description: "Checks solidity directory code according to the formatting configuration"
      - id: yearn-format
        name: "Check yearn directory code formatting"
        entry: /usr/bin/env bash -c "cd yearn && yarn format"
        files: "^yearn/"
        language: script
        description: "Checks yearn directory code according to the formatting configuration"
      - id: typescript-format
        name: "Check typescript directory code formatting"
        entry: /usr/bin/env bash -c "cd typescript && yarn format"
        files: "^typescript/"
        language: script
        description: "Checks typescript directory code according to the formatting configuration"
      - id: monitoring-format
        name: "Check monitoring directory code formatting"
        entry: /usr/bin/env bash -c "cd monitoring && yarn format"
        files: "^monitoring/"
        language: script
        description: "Checks monitoring directory code according to the formatting configuration"

Document new DKG system events
  monitoring/docs/monitoring-and-telemetry.adoc
Due: monitoring-format

Adding tests around upgradability for ArbitrumTBTC
  cross-chain/arbitrum/contracts/test/ArbitrumTBTCUpgraded.sol
  cross-chain/arbitrum/test/ArbitrumTBTC.Upgrade.test.ts
  cross-chain/arbitrum/test/utils/upgrades.ts
Due: root-format

Fallback to provider if signer is not set while creating WalletRegistry handle
  typescript/src/ethereum.ts
Due: typescript-format

Changing config files to align with /solidity
  cross-chain/arbitrum/.eslintignore
  cross-chain/arbitrum/.eslintrc
  cross-chain/arbitrum/.prettierignore
  cross-chain/arbitrum/.prettierrc.js
  cross-chain/arbitrum/slither.config.json
Due: root-format

Linting
  cross-chain/arbitrum/test/ArbitrumTBTC.Upgrade.test.ts
Due: root-format

Linting
  cross-chain/arbitrum/external/goerliArbitrum/TokenBridge.json
  cross-chain/arbitrum/external/goerliEthereum/TokenBridge.json
  cross-chain/arbitrum/external/mainnetArbitrum/TokenBridge.json
  cross-chain/arbitrum/external/mainnetEthereum/TokenBridge.json
Due: root-format

Remove `signatures` field from `DkgResultSubmitted` system event
  monitoring/src/wallet-monitor.ts
Due: monitoring-format

Adding /cross-chain to paths with own formatting configuration
  .prettierignore
Due: root-format

RFC-8: Removed Wormhole-specific implementation details from the RFC
  docs/rfc/rfc-8.adoc
Due: root-format

RFC-8: Reworked Cross-ecosystem bridge section to be more generic
  docs/rfc/rfc-8.adoc
Due: root-format

RFC-8: Mention the main challenge of a native L2 minting
  docs/rfc/rfc-8.adoc
Due: root-format

RFC-8: Be more specific about the purpose of transactions executed
  docs/rfc/rfc-8.adoc
Due: root-format

RFC-8: Typo fix
  docs/rfc/rfc-8.adoc
Due: root-format

Bump `tbtc-v2.ts` package
  monitoring/yarn.lock
Due: monitoring-format

Additional explanation of reference block
  monitoring/src/supply-monitor.ts
Due: monitoring-format

Add additional explanations to the supply check monitor internals
  monitoring/src/supply-monitor.ts
Due: monitoring-format

Drafting cross-chain arbitrum npm package publishing
  .github/workflows/npm-cross-chain-arbitrum.yml
Due: root-format

L2WormholeGateway: send and receive tokens
  solidity/contracts/l2/L2WormholeGateway.sol
Due: solidity-format

Used Hex to represent block header in the raw format
  typescript/src/bitcoin.ts
  typescript/src/proof.ts
  typescript/test/bitcoin.test.ts
Due: typescript-format

Changes in npm-cross-chain-arbitrum.yml
  .github/workflows/npm-cross-chain-arbitrum.yml
Due: root-format

Function rename
  typescript/src/bitcoin.ts
  typescript/src/proof.ts
  typescript/test/bitcoin.test.ts
Due: typescript-format

Adding a CI script to deploy to testnet
  .github/workflows/cross-chain-arbitrum.yml
Due: root-format

Improved descriptions of BlockHeader's fields
  typescript/src/bitcoin.ts
Due: typescript-format

Removing tenderly and adding api keys for (ether)scan
  cross-chain/arbitrum/hardhat.config.ts
Due: root-format

Unit tests for L2WormholeGateway
  solidity/contracts/l2/L2WormholeGateway.sol
  solidity/contracts/test/WormholeBridgeStub.sol
  solidity/test/l2/L2WormholeGateway.test.ts
Due: solidity-format

Removing tenderly verification and adding (ether)scan verification
  cross-chain/arbitrum/deploy_l2/01_deploy_arbitrum_tbtc_token.ts
Due: root-format

Removing tenderly verification and adding L2 prefix
  cross-chain/arbitrum/deploy_l2/02_deploy_arbitrum_wormhole_gateway.ts
Due: root-format

Added better description for converting bits into target
  typescript/src/bitcoin.ts
Due: typescript-format

L2WormholeGateway: emit event when sending and receiving tokens
  solidity/contracts/l2/L2WormholeGateway.sol
  solidity/test/l2/L2WormholeGateway.test.ts
Due: solidity-format

Renames of a project name and description. Putting scripts in alphabetical order
  cross-chain/arbitrum/package.json
Due: root-format

Aligning tsconfig.json to the root solidity package
  cross-chain/arbitrum/tsconfig.json
Due: root-format

Automatically generate contracts documentation
  .github/workflows/docs.yml
  solidity/docgen-templates/common.hbs
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/yarn.lock
Due: root-format, solidity-format

Fixing the TokenBridges contract addresses on Goerli
  cross-chain/arbitrum/external/goerliArbitrum/TokenBridge.json
  cross-chain/arbitrum/external/goerliEthereum/TokenBridge.json
Due: root-format

Fixing name of a transferred contract
  cross-chain/arbitrum/deploy_l2/12_transfer_arbitrum_wormhole_gateway_ownership.ts
Due: root-format

Adding a doc reference to cross-chain/arbitrum module
  README.adoc
Due: root-format

Adding pre-hook formatting check for cross-chain/arbitrum
  .pre-commit-config.yaml
Due: root-format

Used Hex type when handling hashes
  typescript/src/bitcoin.ts
  typescript/src/proof.ts
  typescript/test/bitcoin.test.ts
Due: typescript-format

Linting
  .github/workflows/cross-chain-arbitrum.yml
  cross-chain/arbitrum/deploy_l2/12_transfer_arbitrum_wormhole_gateway_ownership.ts
  cross-chain/arbitrum/external/goerliEthereum/TokenBridge.json
Due: root-format

L2WormholeGateway: added an absolute minting limit
  solidity/contracts/l2/L2WormholeGateway.sol
  solidity/test/l2/L2WormholeGateway.test.ts
Due: solidity-format

L2WormholeGateway: addressed Slither warnings
  solidity/contracts/l2/L2WormholeGateway.sol
Due: solidity-format
