Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: root-format
        name: "Check root directory code formatting"
        entry: /usr/bin/env bash -c "yarn format"
        exclude: '^solidity\/|^yearn\/|^typescript\/|^monitoring\/'
        language: script
        description: "Checks root directory code according to the formatting configuration"
      - id: solidity-format
        name: "Check solidity directory code formatting"
        entry: /usr/bin/env bash -c "cd solidity && yarn format"
        files: "^solidity/"
        language: script
        description: "Checks solidity directory code according to the formatting configuration"
      - id: yearn-format
        name: "Check yearn directory code formatting"
        entry: /usr/bin/env bash -c "cd yearn && yarn format"
        files: "^yearn/"
        language: script
        description: "Checks yearn directory code according to the formatting configuration"
      - id: typescript-format
        name: "Check typescript directory code formatting"
        entry: /usr/bin/env bash -c "cd typescript && yarn format"
        files: "^typescript/"
        language: script
        description: "Checks typescript directory code according to the formatting configuration"
      - id: monitoring-format
        name: "Check monitoring directory code formatting"
        entry: /usr/bin/env bash -c "cd monitoring && yarn format"
        files: "^monitoring/"
        language: script
        description: "Checks monitoring directory code according to the formatting configuration"

Minor function refactor
  typescript/src/lib/bitcoin/address.ts
Due: typescript-format

TypeScript: Start version 2.0.0-dev
  typescript/package.json
Due: typescript-format

Used Hex for walletPublicKeyHash and redeemerOutputScript
  typescript/src/lib/contracts/bridge.ts
  typescript/src/lib/ethereum/bridge.ts
  typescript/src/services/maintenance/wallet-tx.ts
  typescript/test/data/redemption.ts
  typescript/test/lib/ethereum.test.ts
  typescript/test/services/maintenance.test.ts
  typescript/test/services/redemptions.test.ts
  typescript/test/utils/mock-bridge.ts
Due: typescript-format

Fix the `npm-compile-publish` job
  .github/workflows/npm-typescript.yml
Due: root-format

Used Hex in DepositReceipt
  typescript/src/lib/bitcoin/tx.ts
  typescript/src/lib/contracts/bridge.ts
  typescript/src/lib/ethereum/bridge.ts
  typescript/src/services/deposits/deposit.ts
  typescript/src/services/deposits/deposits-service.ts
  typescript/src/services/deposits/refund.ts
  typescript/src/services/maintenance/wallet-tx.ts
  typescript/test/data/deposit-refund.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/lib/bitcoin.test.ts
  typescript/test/lib/ethereum.test.ts
  typescript/test/services/deposits.test.ts
Due: typescript-format

Use ternary operator in `BitcoinPublicKeyUtils.compressPublicKey` function
  typescript/src/lib/bitcoin/ecdsa-key.ts
Due: typescript-format

Fix some typos around SDK functions
  typescript/src/lib/bitcoin/csuint.ts
  typescript/src/lib/bitcoin/ecdsa-key.ts
  typescript/test/lib/bitcoin.test.ts
Due: typescript-format

Make `BitcoinCompactSizeUint.read` throw on empty varlen data
  typescript/src/lib/bitcoin/csuint.ts
  typescript/test/lib/bitcoin.test.ts
Due: typescript-format

Improvements around SDK functions docstrings
  typescript/src/lib/bitcoin/address.ts
  typescript/src/lib/bitcoin/hash.ts
  typescript/src/lib/bitcoin/tx.ts
Due: typescript-format

Include `src` and `typechain` in the resulting npm package
  typescript/package.json
Due: typescript-format

Do not export `publicKeyToAddress` directly
  typescript/src/lib/bitcoin/address.ts
Due: typescript-format

Update supported Node.js and Yarn versions in READMEs
  typescript/README.adoc
  typescript/scripts/README.adoc
Due: typescript-format

Add header index to error message thrown by `validateBitcoinHeadersChain`
  typescript/src/lib/bitcoin/header.ts
Due: typescript-format

Used Hex for electrum
  typescript/src/lib/electrum/client.ts
  typescript/test/lib/electrum.test.ts
Due: typescript-format

Used Hex for TBTC token functionalities
  typescript/src/lib/contracts/tbtc-token.ts
  typescript/src/lib/ethereum/tbtc-token.ts
  typescript/src/services/redemptions/redemptions-service.ts
  typescript/test/data/redemption.ts
  typescript/test/lib/ethereum.test.ts
  typescript/test/services/maintenance.test.ts
  typescript/test/services/redemptions.test.ts
  typescript/test/utils/mock-tbtc-token.ts
Due: typescript-format

Used Hex for SPV proofs
  typescript/src/index.ts
  typescript/src/lib/bitcoin/address.ts
  typescript/src/lib/bitcoin/client.ts
  typescript/src/lib/bitcoin/header.ts
  typescript/src/lib/bitcoin/spv.ts
  typescript/src/lib/electrum/client.ts
  typescript/src/lib/ethereum/bridge.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/data/electrum.ts
  typescript/test/data/proof.ts
  typescript/test/data/redemption.ts
  typescript/test/lib/bitcoin.test.ts
  typescript/test/lib/ethereum.test.ts
  typescript/test/utils/mock-bitcoin-client.ts
Due: typescript-format

Used Hex for raw transaction vectors
  typescript/src/lib/bitcoin/tx.ts
  typescript/src/lib/ethereum/bridge.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/data/redemption.ts
  typescript/test/lib/bitcoin.test.ts
  typescript/test/lib/ethereum.test.ts
Due: typescript-format

Used Hex in services
  typescript/src/lib/bitcoin/ecdsa-key.ts
  typescript/src/lib/ethereum/bridge.ts
  typescript/src/services/deposits/refund.ts
  typescript/src/services/maintenance/spv.ts
  typescript/src/services/maintenance/wallet-tx.ts
  typescript/src/services/redemptions/redemptions-service.ts
  typescript/test/services/maintenance.test.ts
  typescript/test/services/redemptions.test.ts
Due: typescript-format

Used Hex for calculating deposit script
  typescript/src/services/deposits/deposit.ts
  typescript/src/services/deposits/refund.ts
  typescript/src/services/maintenance/wallet-tx.ts
  typescript/test/services/deposits.test.ts
Due: typescript-format

Updated refund script
  typescript/scripts/refund.ts
Due: typescript-format

Upgrade `ArbitrumWormholeGateway` script
  cross-chain/arbitrum/deploy_l2/32_manual_upgrade_arbitrum_wormhole_gateway.ts
Due: root-format

Remove `depositWormholeTbtc` function from `L2WormholeGateway`
  solidity/contracts/l2/L2WormholeGateway.sol
  solidity/test/l2/L2WormholeGateway.test.ts
Due: solidity-format

Adjust some comments around `receiveTbtc`
  solidity/contracts/l2/L2WormholeGateway.sol
Due: solidity-format

Make `receiveTbtc` non-reentrant
  solidity/contracts/l2/L2WormholeGateway.sol
Due: solidity-format

Used Hex in mocked bridge
  typescript/test/data/redemption.ts
  typescript/test/services/maintenance.test.ts
  typescript/test/services/redemptions.test.ts
  typescript/test/utils/mock-bridge.ts
Due: typescript-format

Upgrade `PolygonWormholeGateway` script
  cross-chain/polygon/deploy_sidechain/32_manual_upgrade_polygon_wormhole_gateway.ts
Due: root-format

Upgrade `OptimismWormholeGateway` script
  cross-chain/optimism/deploy_l2/32_manual_upgrade_optimism_wormhole_gateway.ts
Due: root-format

TypeScript: Start version 2.1.0-dev
  typescript/package.json
Due: typescript-format

Upgrade `BaseWormholeGateway` script
  cross-chain/base/deploy_l2/24_manual_upgrade_base_wormhole_gateway.ts
Due: root-format

New `BaseWormholeGateway` artifact
  cross-chain/base/.openzeppelin/unknown-8453.json
  cross-chain/base/deployments/base/BaseWormholeGateway.json
Due: root-format

New `ArbitrumWormholeGateway` artifact
  cross-chain/arbitrum/.openzeppelin/unknown-42161.json
  cross-chain/arbitrum/deployments/arbitrumOne/ArbitrumWormholeGateway.json
Due: root-format

New `OptimismWormholeGateway` artifact
  cross-chain/optimism/.openzeppelin/optimism.json
  cross-chain/optimism/deployments/optimism/OptimismWormholeGateway.json
Due: root-format

Got rid of the dash in docstrings
  typescript/src/lib/bitcoin/hash.ts
Due: typescript-format

New `PolygonWormholeGateway` artifact
  cross-chain/polygon/.openzeppelin/polygon.json
  cross-chain/polygon/deployments/polygon/PolygonWormholeGateway.json
Due: root-format

Used Hex for functions dealing with compressed Bitcoin public keys
  typescript/src/lib/bitcoin/ecdsa-key.ts
  typescript/test/lib/bitcoin.test.ts
Due: typescript-format

Updated docstring
  typescript/src/lib/bitcoin/address.ts
Due: typescript-format

Rename common testnet GH secrets
  .github/workflows/contracts.yml
Due: root-format

Support deployment on Sepolia
  .github/workflows/contracts.yml
  .github/workflows/typescript.yml
  cross-chain/arbitrum/.gitignore
  solidity/contracts/test/SepoliaLightRelay.sol
  solidity/deploy/01_deploy_light_relay.ts
  solidity/deploy/09_deploy_bridge_governance.ts
  solidity/deploy/19_authorize_spv_maintainer_in_bridge.ts
  solidity/deploy/24_transfer_tbtc_ownership.ts
  solidity/deploy/28_authorize_bridge_in_reimbursement_pool.ts
  solidity/deploy/40_authorize_light_relay_maintainer_proxy_in_reimbursement_pool.ts
  solidity/deploy/41_authorize_light_relay_maintainer_proxy_in_light_relay.ts
  solidity/hardhat.config.ts
Due: root-format, solidity-format

Make Prettier happy, fix YAML syntax
  .github/workflows/contracts.yml
  solidity/deploy/09_deploy_bridge_governance.ts
  solidity/deploy/41_authorize_light_relay_maintainer_proxy_in_light_relay.ts
Due: root-format, solidity-format

Make `environment` input required
  .github/workflows/contracts.yml
  .github/workflows/typescript.yml
Due: root-format
