Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: root-format
        name: "Check root directory code formatting"
        entry: /usr/bin/env bash -c "yarn format"
        exclude: '^solidity\/|^yearn\/|^typescript\/|^monitoring\/'
        language: script
        description: "Checks root directory code according to the formatting configuration"
      - id: solidity-format
        name: "Check solidity directory code formatting"
        entry: /usr/bin/env bash -c "cd solidity && yarn format"
        files: "^solidity/"
        language: script
        description: "Checks solidity directory code according to the formatting configuration"
      - id: yearn-format
        name: "Check yearn directory code formatting"
        entry: /usr/bin/env bash -c "cd yearn && yarn format"
        files: "^yearn/"
        language: script
        description: "Checks yearn directory code according to the formatting configuration"
      - id: typescript-format
        name: "Check typescript directory code formatting"
        entry: /usr/bin/env bash -c "cd typescript && yarn format"
        files: "^typescript/"
        language: script
        description: "Checks typescript directory code according to the formatting configuration"
      - id: monitoring-format
        name: "Check monitoring directory code formatting"
        entry: /usr/bin/env bash -c "cd monitoring && yarn format"
        files: "^monitoring/"
        language: script
        description: "Checks monitoring directory code according to the formatting configuration"

Drafting BaseDepositor and BaseRedeemer contracts on Ethereum
  solidity/contracts/cross-chain/BaseDepositor.sol
  solidity/contracts/cross-chain/BaseRedeemer.sol
  solidity/contracts/cross-chain/lib/wormhole-solidity-sdk/interfaces/IWormholeReceiver.sol
  solidity/contracts/cross-chain/lib/wormhole-solidity-sdk/interfaces/IWormholeRelayer.sol
Due: solidity-format

Replaced bcoin with bitcoinjs-lib for deposits
  typescript/src/deposit.ts
  typescript/test/deposit.test.ts
Due: typescript-format

Function rename and description added
  typescript/src/deposit.ts
  typescript/test/deposit.test.ts
Due: typescript-format

Break when enough funds collected
  typescript/src/deposit.ts
Due: typescript-format

Removed coinselect package
  typescript/package.json
  typescript/typings.d.ts
  typescript/yarn.lock
Due: typescript-format

Added unit tests for sha256
  typescript/src/bitcoin.ts
  typescript/test/bitcoin.test.ts
Due: typescript-format

Updated function docstrings
  typescript/src/deposit.ts
Due: typescript-format

Fixed spending non-witness main UTXO
  typescript/src/redemption.ts
Due: typescript-format

Variable rename and description update
  typescript/src/deposit.ts
Due: typescript-format

Updated docstring
  typescript/src/deposit.ts
Due: typescript-format

Variable rename and docstring update
  typescript/src/deposit-sweep.ts
  typescript/src/deposit.ts
Due: typescript-format

Minor refactor
  typescript/src/deposit.ts
Due: typescript-format

Minor update of docstring
  typescript/src/redemption.ts
Due: typescript-format

Replaced bcoin with bitcoinjs-lib for deposit refunds
  typescript/src/deposit-refund.ts
  typescript/test/deposit-refund.test.ts
Due: typescript-format

Docstring update
  typescript/src/deposit-refund.ts
  typescript/src/deposit-sweep.ts
Due: typescript-format

Used bitcoinjs-lib for encodeToBitcoinAddress
  typescript/src/bitcoin.ts
  typescript/test/bitcoin.test.ts
Due: typescript-format

Used bitcoinjs-lib for createAddressFromOutputScript
  typescript/src/bitcoin-network.ts
  typescript/src/bitcoin.ts
  typescript/test/bitcoin-network.test.ts
Due: typescript-format

Used bitcoinjs-lib for createOutputScriptFromAddress
  typescript/src/bitcoin.ts
  typescript/src/deposit-refund.ts
  typescript/src/deposit-sweep.ts
  typescript/src/electrum.ts
  typescript/src/wallet.ts
  typescript/test/bitcoin.test.ts
  typescript/test/data/redemption.ts
Due: typescript-format

Updated transaction decomposition
  typescript/src/bitcoin.ts
Due: typescript-format

Used bitcoinjs-lib for decodeBitcoinAddress
  typescript/src/bitcoin.ts
  typescript/test/bitcoin.test.ts
Due: typescript-format

Used bitcoinjs-lib for electrum functionalities
  typescript/src/electrum.ts
Due: typescript-format

Replaced bcoin with custom function for unit tests
  typescript/src/bitcoin.ts
  typescript/test/data/deposit.ts
  typescript/test/deposit-sweep.test.ts
  typescript/test/deposit.test.ts
  typescript/test/redemption.test.ts
Due: typescript-format

REmoved bcoin dependency
  typescript/package.json
  typescript/typings.d.ts
  typescript/yarn.lock
Due: typescript-format

Added docstrings for transaction to JSON functionalities
  typescript/src/bitcoin.ts
Due: typescript-format

Added unit tests for transaction to JSON functionalities
  typescript/test/bitcoin.test.ts
  typescript/test/data/bitcoin.ts
Due: typescript-format

Updated bitcoinjs-lib version
  typescript/package.json
  typescript/yarn.lock
Due: typescript-format

Added missing unit test for decomposeRawTransaction
  typescript/test/bitcoin.test.ts
Due: typescript-format

Moved txToJSON to test/utils/helpers
  typescript/src/bitcoin.ts
  typescript/test/bitcoin.test.ts
  typescript/test/data/bitcoin.ts
  typescript/test/deposit-sweep.test.ts
  typescript/test/deposit.test.ts
  typescript/test/redemption.test.ts
  typescript/test/utils/helpers.ts
Due: typescript-format

Updated typescript CI jobs config
  .github/workflows/typescript.yml
Due: root-format

Remove `depositWormholeTbtc` function from `L2WormholeGateway`
  solidity/contracts/l2/L2WormholeGateway.sol
  solidity/test/l2/L2WormholeGateway.test.ts
Due: solidity-format

Make `receiveTbtc` non-reentrant
  solidity/contracts/l2/L2WormholeGateway.sol
Due: solidity-format

Adjust some comments around `receiveTbtc`
  solidity/contracts/l2/L2WormholeGateway.sol
Due: solidity-format

Upgrade `ArbitrumWormholeGateway` script
  cross-chain/arbitrum/deploy_l2/32_manual_upgrade_arbitrum_wormhole_gateway.ts
Due: root-format

Upgrade `BaseWormholeGateway` script
  cross-chain/base/deploy_l2/24_manual_upgrade_base_wormhole_gateway.ts
Due: root-format

Upgrade `OptimismWormholeGateway` script
  cross-chain/optimism/deploy_l2/32_manual_upgrade_optimism_wormhole_gateway.ts
Due: root-format

Upgrade `PolygonWormholeGateway` script
  cross-chain/polygon/deploy_sidechain/32_manual_upgrade_polygon_wormhole_gateway.ts
Due: root-format

Transform `bitcoin.ts` file to `lib/bitcoin` shared lib
  typescript/src/bitcoin.ts
  typescript/src/chain.ts
  typescript/src/deposit-refund.ts
  typescript/src/deposit-sweep.ts
  typescript/src/deposit.ts
  typescript/src/electrum.ts
  typescript/src/ethereum.ts
  typescript/src/index.ts
  typescript/src/lib/bitcoin/address.ts
  typescript/src/lib/bitcoin/block.ts
  typescript/src/lib/bitcoin/client.ts
  typescript/src/lib/bitcoin/csuint.ts
  typescript/src/lib/bitcoin/hash.ts
  typescript/src/lib/bitcoin/index.ts
  typescript/src/lib/bitcoin/key.ts
  typescript/src/lib/bitcoin/network.ts
  typescript/src/lib/bitcoin/proof.ts
  typescript/src/lib/bitcoin/transaction.ts
  typescript/src/optimistic-minting.ts
  typescript/src/wallet.ts
  typescript/test/bitcoin-network.test.ts
  typescript/test/bitcoin.test.ts
  typescript/test/data/bitcoin.ts
  typescript/test/data/deposit-refund.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/data/deposit.ts
  typescript/test/data/electrum.ts
  typescript/test/data/proof.ts
  typescript/test/data/redemption.ts
Due: typescript-format

Transform `chain.ts` file to `lib/contracts` shared lib
  typescript/src/chain.ts
  typescript/src/deposit-sweep.ts
  typescript/src/deposit.ts
  typescript/src/ethereum.ts
  typescript/src/lib/contracts/bridge.ts
  typescript/src/lib/contracts/chain-event.ts
  typescript/src/lib/contracts/chain-identifier.ts
  typescript/src/lib/contracts/index.ts
  typescript/src/lib/contracts/tbtc-token.ts
  typescript/src/lib/contracts/tbtc-vault.ts
  typescript/src/lib/contracts/wallet-registry.ts
  typescript/src/optimistic-minting.ts
  typescript/src/proof.ts
  typescript/src/redemption.ts
  typescript/src/wallet.ts
  typescript/test/deposit-refund.test.ts
  typescript/test/deposit-sweep.test.ts
  typescript/test/deposit.test.ts
  typescript/test/electrum.test.ts
  typescript/test/ethereum.test.ts
  typescript/test/proof.test.ts
  typescript/test/redemption.test.ts
  typescript/test/wallet.test.ts
Due: typescript-format

Transform `electrum.ts` file to `lib/electrum` shared lib
  typescript/src/index.ts
  typescript/src/lib/electrum/client.ts
  typescript/src/lib/electrum/index.ts
  typescript/test/electrum.test.ts
Due: typescript-format

Transform `ethereum.ts` file to `lib/ethereum` shared lib
  typescript/src/ethereum.ts
  typescript/src/index.ts
  typescript/src/lib/ethereum/address.ts
  typescript/src/lib/ethereum/bridge.ts
  typescript/src/lib/ethereum/contract-handle.ts
  typescript/src/lib/ethereum/index.ts
  typescript/src/lib/ethereum/tbtc-token.ts
  typescript/src/lib/ethereum/tbtc-vault.ts
  typescript/src/lib/ethereum/wallet-registry.ts
  typescript/test/data/deposit-refund.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/data/redemption.ts
  typescript/test/deposit.test.ts
  typescript/test/ethereum.test.ts
  typescript/test/utils/mock-bitcoin-client.ts
  typescript/test/utils/mock-bridge.ts
  typescript/test/utils/mock-tbtc-token.ts
Due: typescript-format
