Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: lint-js
        name: "lint js"
        entry: /usr/bin/env bash -c "npm run lint:js"
        files: '\.js$'
        language: script
        description: "Checks JS code according to the package's linter configuration"
      - id: lint-sol
        name: "lint solidity"
        entry: /usr/bin/env bash -c "npm run lint:sol"
        files: '\.sol$'
        language: script
        description: "Checks Solidity code according to the package's linter configuration"
      - id: prettier
        name: "prettier"
        entry: /usr/bin/env bash -c "npx prettier --check ."
        language: script
        description: "Checks code according to the package's formatting configuration"

yarn format:fix
  simulation/wallets.js
Due: lint-js

Updatable wallet max age
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Wallets.sol
  solidity/test/bridge/Bridge.Wallets.test.ts
  solidity/test/fixtures/index.ts
Due: lint-sol

Send close signal to ECDSA registry
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Refactor the fraud library so that it does not use storage pointers
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/library/Frauds.sol
Due: lint-sol

Initialize the moving funds process
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Allow reporting multiple timeouts for one wallet
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Remove obsolete TODO about `activeWalletPubKeyHash`
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Documentation for wallet closure
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Bump `@keep-network/ecdsa` package
  solidity/package.json
  solidity/yarn.lock
Due: none

Bump `@keep-network/ecdsa` package again
  solidity/package.json
  solidity/yarn.lock
Due: none

Add missing `.self` prefix
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Check only one UTXO during fraud challenge defeat
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/library/Frauds.sol
Due: lint-sol

Add missing `moveFundsRequestedAt` initialization
  solidity/test/bridge/Bridge.test.ts
Due: none

Update the implementation of random transfer
  simulation/wallets.js
Due: lint-js

Don't include the closing wallet in the list of live wallets
  simulation/wallets.js
Due: lint-js

Move frauds tests into a separate file
  solidity/test/bridge/Bridge.Frauds.test.ts
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/fraud.ts
Due: none

Refactoring around fraud notifications
  solidity/contracts/bridge/Wallets.sol
  solidity/package.json
  solidity/yarn.lock
Due: lint-sol

Fix build errors after `@keep-network/ecdsa` update
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Remove obsolete comment
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Moved the Frauds library to the same directory as Bridge
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Frauds.sol
Due: lint-sol

Unit tests for wallet closure logic
  solidity/test/bridge/Bridge.Wallets.test.ts
Due: none

Modified initial values of frauds related paramters
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Add a DAYS_TO_UNSTAKE param
  simulation/wallets.js
Due: lint-js

Use WALLET_SIZE in the newWallet docstring
  simulation/wallets.js
Due: lint-js

Minor changes: renames, formatting, description improvements
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Frauds.sol
  solidity/test/bridge/Bridge.Frauds.test.ts
Due: lint-sol

Replaced hash160 with hash160View
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Frauds.sol
Due: lint-sol

Moved RSVSignature to BitxoinTx library
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Frauds.sol
Due: lint-sol

Minor refactor: improved comments, renames, calldata instead of memory
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Frauds.sol
  solidity/test/bridge/Bridge.Frauds.test.ts
Due: lint-sol

Replaced four getters with one getter returning all the frauds parameters
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.Frauds.test.ts
Due: lint-sol

Fixed precision issue with setting T amount - used 18 decimal places precision
  solidity/contracts/bridge/Bridge.sol
Due: lint-sol

Grouped all fraud-related functions together
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Frauds.sol
Due: lint-sol

Added TODOs
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Frauds.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/hardhat.config.ts
Due: lint-sol

Increased the amount of gas forwarded during sending of ether in fraud library
  solidity/contracts/bridge/Frauds.sol
Due: lint-sol

Removed signature from calculating challenge key
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Frauds.sol
  solidity/test/bridge/Bridge.Frauds.test.ts
Due: lint-sol

Used UTXO structure instead of Outpoint
  solidity/contracts/bridge/Frauds.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/test/data/fraud.ts
Due: lint-sol

Standardize Governable Parameters heading syntax
  docs/rfc/rfc-1.adoc
Due: none

Properly sort redemption governable parameters
  docs/rfc/rfc-1.adoc
Due: none

Properly sort the global governable param list
  docs/rfc/rfc-1.adoc
Due: none

Clean up the bridge donation section title
  docs/rfc/rfc-1.adoc
Due: none
