Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: root-format
        name: "Check root directory code formatting"
        entry: /usr/bin/env bash -c "yarn format"
        exclude: '^solidity\/|^yearn\/|^typescript\/|^monitoring\/'
        language: script
        description: "Checks root directory code according to the formatting configuration"
      - id: solidity-format
        name: "Check solidity directory code formatting"
        entry: /usr/bin/env bash -c "cd solidity && yarn format"
        files: "^solidity/"
        language: script
        description: "Checks solidity directory code according to the formatting configuration"
      - id: yearn-format
        name: "Check yearn directory code formatting"
        entry: /usr/bin/env bash -c "cd yearn && yarn format"
        files: "^yearn/"
        language: script
        description: "Checks yearn directory code according to the formatting configuration"
      - id: typescript-format
        name: "Check typescript directory code formatting"
        entry: /usr/bin/env bash -c "cd typescript && yarn format"
        files: "^typescript/"
        language: script
        description: "Checks typescript directory code according to the formatting configuration"
      - id: monitoring-format
        name: "Check monitoring directory code formatting"
        entry: /usr/bin/env bash -c "cd monitoring && yarn format"
        files: "^monitoring/"
        language: script
        description: "Checks monitoring directory code according to the formatting configuration"

Adding OpenZeppelin artifact
  cross-chain/optimism/.openzeppelin/optimism.json
Due: root-format

Adding optimism deployment artifacts
  cross-chain/optimism/deployments/optimism/.chainId
  cross-chain/optimism/deployments/optimism/OptimismTBTC.json
  cross-chain/optimism/deployments/optimism/OptimismWormholeGateway.json
Due: root-format

Bumping up optimism dev version
  cross-chain/optimism/package.json
Due: root-format

Replacing Polygon Token Bridges with the right ones
  cross-chain/polygon/external/mumbai/PolygonTokenBridge.json
  cross-chain/polygon/external/polygon/PolygonTokenBridge.json
Due: root-format

Changing tbtc-v2 dependency to 1.2.0 and package version to 1.0.0
  cross-chain/polygon/package.json
Due: root-format

Adding yarn.lock
  cross-chain/polygon/yarn.lock
Due: root-format

Adding OpenZeppelin artifact
  cross-chain/polygon/.openzeppelin/polygon.json
Due: root-format

Adding deployment artifacts
  cross-chain/polygon/deployments/polygon/.chainId
  cross-chain/polygon/deployments/polygon/PolygonTBTC.json
  cross-chain/polygon/deployments/polygon/PolygonWormholeGateway.json
Due: root-format

Bumping up polygon package dev version
  cross-chain/polygon/package.json
Due: root-format

Updating Polygon Wormhole addresses
  cross-chain/arbitrum/external/arbitrumGoerli/PolygonWormholeGateway.json
  cross-chain/arbitrum/external/arbitrumOne/PolygonWormholeGateway.json
  cross-chain/optimism/external/optimism/PolygonWormholeGateway.json
Due: root-format

Updating Polygon Wormhole address for Optimism Goerli
  cross-chain/optimism/external/optimismGoerli/PolygonWormholeGateway.json
Due: root-format

Updating tags for gateway mapping
  cross-chain/arbitrum/deploy_l2/12_update_wormhole_gateway_mapping.ts
  cross-chain/arbitrum/deploy_l2/13_update_with_optimism_in_wormhole_gateway_mapping.ts
  cross-chain/arbitrum/deploy_l2/14_update_with_polygon_in_wormhole_gateway_mapping.ts
  cross-chain/optimism/deploy_l2/12_update_self_in_wormhole_gateway_mapping.ts
  cross-chain/optimism/deploy_l2/13_update_with_arbitrum_in_wormhole_gateway_mapping.ts
  cross-chain/optimism/deploy_l2/14_update_with_polygon_in_wormhole_gateway_mapping.ts
Due: root-format

Unique tags for Polygon wormhole mappings
  cross-chain/polygon/deploy_sidechain/12_update_self_in_wormhole_gateway_mapping.ts
  cross-chain/polygon/deploy_sidechain/13_update_with_arbitrum_in_wormhole_gateway_mapping.ts
  cross-chain/polygon/deploy_sidechain/14_update_with_optimism_in_wormhole_gateway_mapping.ts
Due: root-format

RFC 10: ROAST Schnorr signatures
  docs/rfc/rfc-10.adoc
Due: root-format

clean up formatting
  docs/rfc/rfc-10.adoc
Due: root-format

further cleanup
  docs/rfc/rfc-10.adoc
Due: root-format

Add compatibility considerations
  docs/rfc/rfc-10.adoc
Due: root-format

Changing governance to deployer for running "updateGatewayAddress"
  cross-chain/arbitrum/deploy_l2/13_update_with_optimism_in_wormhole_gateway_mapping.ts
  cross-chain/arbitrum/deploy_l2/14_update_with_polygon_in_wormhole_gateway_mapping.ts
  cross-chain/optimism/deploy_l2/14_update_with_polygon_in_wormhole_gateway_mapping.ts
Due: root-format

Linting only
  cross-chain/polygon/tsconfig.json
Due: root-format

Automatically generate contracts documentation
  .github/workflows/contracts-docs.yml
  solidity/.prettierignore
  solidity/docgen-templates/common.hbs
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/yarn.lock
Due: root-format, solidity-format

Adding missing workflow for Polygon
  .github/workflows/cross-chain-polygon.yml
Due: root-format

Cleanup, fix wrong filename
  .github/workflows/contracts-docs.yml
Due: root-format

Change user commiting docs
  .github/workflows/contracts-docs.yml
Due: root-format

Update name of the secrets
  .github/workflows/contracts-docs.yml
Due: root-format

Partial events pulls
  typescript/src/chain.ts
  typescript/src/ethereum-helpers.ts
  typescript/src/ethereum.ts
Due: typescript-format

Update commiter's e-mail
  .github/workflows/contracts-docs.yml
Due: root-format

Changing Council address on Optimism
  cross-chain/optimism/hardhat.config.ts
Due: root-format

Disabling LightRelay authorization for goerli / system_tests network
  solidity/deploy/39_authorize_light_relay_maintainer_proxy_in_light_relay.ts
Due: solidity-format

WalletCoordinator: rename proposal submitter to a coordinator
  solidity/contracts/bridge/WalletCoordinator.sol
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Rename the input with project directory
  .github/workflows/contracts-docs.yml
Due: root-format

Removed the wallet member authorization in WalletCoordinator
  solidity/contracts/bridge/WalletCoordinator.sol
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Removed reference to EcdsaWalletRegistry from WalletCoordinator
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format

Add Heartbeat action to WalletCoordinator
  solidity/contracts/bridge/WalletCoordinator.sol
  solidity/test/bridge/WalletCoordinator.test.ts
  solidity/test/fixtures/index.ts
Due: solidity-format

TypeScript: Release v1.2.0
  typescript/package.json
  typescript/yarn.lock
Due: typescript-format

Aggregate deposit sweep proposal update parameter functions into one
  solidity/contracts/bridge/WalletCoordinator.sol
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

TypeScript: Start version 1.3.0-dev
  typescript/package.json
Due: typescript-format

Reworked WalletCoordinator unit tests to work with ReimbursementPool
  solidity/contracts/bridge/WalletCoordinator.sol
  solidity/test/bridge/WalletCoordinator.test.ts
Due: solidity-format

Removed a TODO to inspect 1 hour heartbeatRequestValidity
  solidity/contracts/bridge/WalletCoordinator.sol
Due: solidity-format
