Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

root-format:
  name: Check root directory code formatting
  entry: /usr/bin/env bash -c "yarn format"
  language: script
  description: Checks root directory code according to the formatting configuration

solidity-format:
  name: Check solidity directory code formatting
  entry: /usr/bin/env bash -c "cd solidity && yarn format"
  language: script
  description: Checks solidity directory code according to the formatting configuration

yearn-format:
  name: Check yearn directory code formatting
  entry: /usr/bin/env bash -c "cd yearn && yarn format"
  language: script
  description: Checks yearn directory code according to the formatting configuration

typescript-format:
  name: Check typescript directory code formatting
  entry: /usr/bin/env bash -c "cd typescript && yarn format"
  language: script
  description: Checks typescript directory code according to the formatting configuration

monitoring-format:
  name: Check monitoring directory code formatting
  entry: /usr/bin/env bash -c "cd monitoring && yarn format"
  language: script
  description: Checks monitoring directory code according to the formatting configuration

updates the reaveal api endpoint
  typescript/package.json
  typescript/src/lib/solana/solana-depositor-interface.ts
  typescript/src/services/tbtc.ts
  typescript/yarn.lock
Due: typescript-format

update tbtc docs and apply lint fix
  typescript/api-reference/classes/TBTC.md
  typescript/src/lib/solana/solana-depositor-interface.ts
Due: typescript-format

update reveal data payload
  typescript/src/lib/solana/solana-depositor-interface.ts
Due: typescript-format

Update TypeScript dependencies and enhance test configurations
  typescript/package.json
  typescript/test/lib/sui/address.test.ts
  typescript/test/lib/sui/sui-bitcoin-depositor.test.ts
  typescript/test/lib/sui/sui-tbtc-token.test.ts
  typescript/tsconfig.test.json
  typescript/yarn.lock
Due: typescript-format

Enhance SUI address handling and update Bitcoin depositor implementations
  typescript/src/index.ts
  typescript/src/lib/sui/address.ts
  typescript/src/lib/sui/sui-bitcoin-depositor.ts
  typescript/src/lib/sui/sui-tbtc-token.ts
  typescript/test/lib/sui/address.test.ts
  typescript/test/lib/sui/sui-bitcoin-depositor.test.ts
  typescript/test/lib/sui/sui-tbtc-token.test.ts
Due: typescript-format

Enhance SUI API documentation and update class definitions
  typescript/api-reference/README.md
  typescript/api-reference/classes/SuiAddress.md
  typescript/api-reference/classes/SuiBitcoinDepositor.md
  typescript/api-reference/classes/SuiTBTCToken.md
Due: typescript-format

chore: bump version to v2.5.1
  typescript/package.json
Due: typescript-format

chore: start version 2.6.0-dev
  typescript/package.json
Due: typescript-format

refactor: adds sepolia btc depositor interface for solana
  typescript/api-reference/classes/CrossChainExtraDataEncoder.md
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/api-reference/classes/TBTC.md
  typescript/api-reference/enums/Chains.Solana.md
  typescript/package.json
  typescript/src/lib/contracts/chain.ts
  typescript/src/lib/ethereum/artifacts/sepolia/SolanaL1BitcoinDepositor.json
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/lib/solana/artifacts/solanaSepolia/SolanaL1BitcoinDepositor.json
  typescript/src/lib/solana/index.ts
  typescript/src/lib/solana/solana-depositor-interface.ts
  typescript/src/lib/solana/solana-tbtc-token.ts
  typescript/src/lib/solana/target/idl/tbtc.json
  typescript/src/services/tbtc.ts
  typescript/yarn.lock
Due: typescript-format

chore: lint format fixes bitcoin depositor interafaces
  typescript/src/lib/ethereum/artifacts/sepolia/SolanaL1BitcoinDepositor.json
  typescript/src/lib/solana/artifacts/solanaSepolia/SolanaL1BitcoinDepositor.json
  typescript/src/lib/solana/index.ts
  typescript/src/lib/solana/solana-depositor-interface.ts
Due: typescript-format

chore: bump to version 2.5.3
  typescript/package.json
  typescript/yarn.lock
Due: typescript-format

remove legacy crosschain contracts and tests
  solidity/contracts/cross-chain/L2TBTC.sol
  solidity/contracts/cross-chain/legacy/L1BitcoinDepositor.sol
  solidity/contracts/cross-chain/legacy/L2BitcoinDepositor.sol
  solidity/contracts/cross-chain/legacy/integrator/AbstractTBTCDepositor.sol
  solidity/test/legacy/L1BitcoinDepositor.test.ts
  solidity/test/legacy/L2BitcoinDepositor.test.ts
Due: solidity-format

add crosschain legacy contracts
  solidity/contracts/cross-chain/legacy/L1BitcoinDepositor.sol
  solidity/contracts/cross-chain/legacy/L2BitcoinDepositor.sol
  solidity/contracts/cross-chain/legacy/integrator/AbstractTBTCDepositor.sol
  solidity/test/cross-chain/legacy/L1BitcoinDepositor.test.ts
  solidity/test/cross-chain/legacy/L2BitcoinDepositor.test.ts
Due: solidity-format

fixes import paths of legacy crosschain test files
  solidity/test/cross-chain/legacy/L1BitcoinDepositor.test.ts
  solidity/test/cross-chain/legacy/L2BitcoinDepositor.test.ts
Due: solidity-format

Update SUI chain identifiers and adjust TBTC token decimal handling
  typescript/src/lib/contracts/chain.ts
  typescript/src/lib/sui/index.ts
  typescript/src/lib/sui/sui-bitcoin-depositor.ts
  typescript/src/lib/sui/sui-tbtc-token.ts
Due: typescript-format

refactor: receives transaction receipt from reveal api
  solidity/.openzeppelin/mainnet.json
  solidity/deployments/mainnet/BTCDepositorWormhole.json
  typescript/src/lib/contracts/cross-chain.ts
  typescript/src/lib/contracts/depositor-proxy.ts
  typescript/src/lib/ethereum/artifacts/mainnet/SolanaL1BitcoinDepositor.json
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/lib/solana/artifacts/solanaDevnet/SolanaL1BitcoinDepositor.json
  typescript/src/lib/solana/artifacts/solanaMainnet/SolanaL1BitcoinDepositor.json
  typescript/src/lib/solana/solana-depositor-interface.ts
  typescript/src/services/deposits/cross-chain.ts
  typescript/src/services/deposits/deposit.ts
Due: solidity-format, typescript-format

feat: fetch redemption wallets
  typescript/api-reference/README.md
  typescript/api-reference/classes/RedemptionsService.md
  typescript/api-reference/enums/ApiUrl.md
  typescript/api-reference/enums/endpointUrl.md
  typescript/api-reference/interfaces/SerializableWallet.md
  typescript/api-reference/interfaces/ValidRedemptionWallet.md
  typescript/src/lib/utils/api.ts
  typescript/src/lib/utils/bitcoin.ts
  typescript/src/lib/utils/index.ts
  typescript/src/lib/utils/types.ts
  typescript/src/services/redemptions/redemptions-service.ts
Due: typescript-format

chore: adds api related docs
  typescript/api-reference/enums/ApiUrl.md
  typescript/api-reference/enums/endpointUrl.md
Due: typescript-format

refactor: improves request redemption readability
  typescript/api-reference/classes/RedemptionsService.md
  typescript/src/services/redemptions/redemptions-service.ts
Due: typescript-format

chore: lint fixes redemption service
  typescript/api-reference/classes/RedemptionsService.md
  typescript/src/services/redemptions/redemptions-service.ts
Due: typescript-format

chore: add auto generated docs
  typescript/api-reference/README.md
  typescript/api-reference/classes/CrossChainDepositor.md
  typescript/api-reference/classes/CrossChainExtraDataEncoder.md
  typescript/api-reference/classes/Deposit.md
  typescript/api-reference/classes/DepositScript.md
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/api-reference/enums/DepositState.md
  typescript/api-reference/interfaces/BitcoinDepositor.md
  typescript/api-reference/interfaces/CrossChainContractsLoader.md
  typescript/api-reference/interfaces/DepositorProxy.md
  typescript/api-reference/interfaces/DestinationChainTBTCToken.md
  typescript/api-reference/interfaces/ExtraDataEncoder.md
  typescript/src/lib/ethereum/artifacts/mainnet/SolanaL1BitcoinDepositor.json
  typescript/src/lib/solana/artifacts/solanaMainnet/SolanaL1BitcoinDepositor.json
  typescript/src/lib/solana/solana-depositor-interface.ts
  typescript/src/services/deposits/deposit.ts
Due: typescript-format

Implement deployment script for BTCDepositorWormhole on Sui Testnet, including configuration for bridge and vault addresses, and proxy deployment setup.
  solidity/deploy/01_deploy_btc_depositor_wormhole.ts
Due: solidity-format

Update Hardhat configuration to load environment variables and enhance deployment script for BTCDepositorWormhole, including formatting improvements and additional logging.
  .gitignore
  solidity/deploy/01_deploy_btc_depositor_wormhole.ts
  solidity/hardhat.config.ts
Due: root-format, solidity-format

Enhance Sui cross-chain deployment setup by adding .gitignore, Hardhat configuration, and deployment script for BTCDepositorWormhole. Includes new package.json for dependencies and scripts.
  .gitignore
  cross-chain/sui/.gitignore
  cross-chain/sui/deploy/95_deploy_btc_depositor_wormhole.ts
  cross-chain/sui/hardhat.config.ts
  cross-chain/sui/package.json
Due: root-format

Revert "Update Hardhat configuration to load environment variables and enhance deployment script for BTCDepositorWormhole, including formatting improvements and additional logging."
  .gitignore
  solidity/deploy/01_deploy_btc_depositor_wormhole.ts
  solidity/hardhat.config.ts
Due: root-format, solidity-format

Revert "Implement deployment script for BTCDepositorWormhole on Sui Testnet, including configuration for bridge and vault addresses, and proxy deployment setup."
  solidity/deploy/01_deploy_btc_depositor_wormhole.ts
Due: solidity-format

chore: update console in redemption service
  typescript/src/services/redemptions/redemptions-service.ts
Due: typescript-format

refactor: remove error throw and return null at redemption service
  typescript/src/services/redemptions/redemptions-service.ts
Due: typescript-format

Add SuiBTCDepositorWormhole support to L1 Bitcoin Depositor
  typescript/src/lib/ethereum/artifacts/sepolia/SuiBTCDepositorWormhole.json
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
Due: typescript-format

Refactor TBTC to use mock Solana integration
  typescript/src/services/tbtc.ts
Due: typescript-format

refactor: add redemption wallet type
  typescript/api-reference/README.md
  typescript/api-reference/classes/BitcoinTxHash.md
  typescript/api-reference/classes/DepositRefund.md
  typescript/api-reference/classes/DepositScript.md
  typescript/api-reference/classes/Hex.md
  typescript/api-reference/classes/RedemptionsService.md
  typescript/api-reference/interfaces/RedemptionWallet.md
  typescript/api-reference/interfaces/SerializableWallet.md
  typescript/api-reference/interfaces/ValidRedemptionWallet.md
  typescript/src/lib/utils/types.ts
  typescript/src/services/redemptions/redemptions-service.ts
Due: typescript-format

chore: update auto generated docs
  typescript/api-reference/README.md
  typescript/api-reference/classes/BitcoinTxHash.md
  typescript/api-reference/classes/DepositRefund.md
  typescript/api-reference/classes/DepositScript.md
  typescript/api-reference/classes/Hex.md
Due: typescript-format

Remove unused ExtraDataEncoder import from L2 Bitcoin Depositor files
  typescript/src/lib/arbitrum/l2-bitcoin-depositor.ts
  typescript/src/lib/base/l2-bitcoin-depositor.ts
Due: typescript-format

Refactor test files for improved readability and consistency
  typescript/test/lib/sui/address.test.ts
  typescript/test/lib/sui/sui-bitcoin-depositor.test.ts
  typescript/test/lib/sui/sui-tbtc-token.test.ts
  typescript/test/services/deposits.test.ts
Due: typescript-format

Add SUI chain support with artifacts and debug logging
  typescript/package.json
  typescript/src/lib/contracts/chain.ts
  typescript/src/lib/ethereum/artifacts/sepolia/SuiBTCDepositorWormhole.json
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/lib/sui/address.ts
  typescript/src/lib/sui/artifacts/index.ts
  typescript/src/lib/sui/artifacts/mainnet/index.ts
  typescript/src/lib/sui/artifacts/testnet/index.ts
  typescript/src/lib/sui/index.ts
  typescript/src/lib/sui/sui-bitcoin-depositor.ts
  typescript/src/lib/sui/sui-tbtc-token.ts
  typescript/src/services/deposits/deposits-service.ts
  typescript/src/services/tbtc.ts
  typescript/test/utils/mock-cross-chain.ts
  typescript/tsconfig.test.json
Due: typescript-format

feat: arbitrum timelock deployment scripts
  cross-chain/arbitrum/contracts/Timelock.sol
  cross-chain/arbitrum/deploy_l2/03_deploy_timelock.ts
Due: root-format

chore: add arbitrum timelock artifact
  cross-chain/arbitrum/deploy_l2/03_deploy_timelock.ts
  cross-chain/arbitrum/deployments/arbitrumOne/Timelock.json
Due: root-format

chore: add timelock external file
  cross-chain/arbitrum/external/arbitrumOne/ArbitrumTimelock.json
Due: root-format

feat: add timelock deployment test
  cross-chain/arbitrum/contracts/Timelock.sol
  cross-chain/arbitrum/contracts/test/TimelockDeployed.sol
  cross-chain/arbitrum/deploy_l2/03_deploy_timelock.ts
  cross-chain/arbitrum/package.json
  cross-chain/arbitrum/test/TimelockDeployed.test.ts
  cross-chain/arbitrum/yarn.lock
Due: root-format

chore: lint fixes timelock test file
  cross-chain/arbitrum/test/TimelockDeployed.test.ts
Due: root-format

Path conditions:
  root-format: any file but: ^solidity\/|^yearn\/|^typescript\/|^monitoring\/
  solidity-format: any of: ^solidity/
  yearn-format: any of: ^yearn/
  typescript-format: any of: ^typescript/
  monitoring-format: any of: ^monitoring/
