Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: root-format
        name: "Check root directory code formatting"
        entry: /usr/bin/env bash -c "yarn format"
        exclude: '^solidity\/|^yearn\/|^typescript\/|^monitoring\/'
        language: script
        description: "Checks root directory code according to the formatting configuration"
      - id: solidity-format
        name: "Check solidity directory code formatting"
        entry: /usr/bin/env bash -c "cd solidity && yarn format"
        files: "^solidity/"
        language: script
        description: "Checks solidity directory code according to the formatting configuration"
      - id: yearn-format
        name: "Check yearn directory code formatting"
        entry: /usr/bin/env bash -c "cd yearn && yarn format"
        files: "^yearn/"
        language: script
        description: "Checks yearn directory code according to the formatting configuration"
      - id: typescript-format
        name: "Check typescript directory code formatting"
        entry: /usr/bin/env bash -c "cd typescript && yarn format"
        files: "^typescript/"
        language: script
        description: "Checks typescript directory code according to the formatting configuration"
      - id: monitoring-format
        name: "Check monitoring directory code formatting"
        entry: /usr/bin/env bash -c "cd monitoring && yarn format"
        files: "^monitoring/"
        language: script
        description: "Checks monitoring directory code according to the formatting configuration"

fix: small adjustments to crosschain contracts
  solidity/contracts/cross-chain/L1BitcoinDepositor.sol
  solidity/contracts/cross-chain/layerzero/L1BitcoinDepositorLayerZero.sol
  solidity/contracts/cross-chain/layerzero/LayerZero.sol
  solidity/contracts/cross-chain/wormhole/L1BitcoinDepositorWormhole.sol
Due: solidity-format

lint fixes redemption service
  typescript/src/services/redemptions/redemptions-service.ts
Due: typescript-format

update redemption service docs api reference classes
  typescript/api-reference/classes/RedemptionsService.md
Due: typescript-format

updates yarn lock to upgrade dependencies versions
  typescript/yarn.lock
Due: typescript-format

update auto generated docs
  typescript/api-reference/README.md
  typescript/api-reference/classes/DepositsService.md
  typescript/api-reference/interfaces/CrossChainContractsLoader.md
Due: typescript-format

fix crosschain contracts types and utils
  solidity/contracts/cross-chain/L1BitcoinDepositor.sol
  solidity/contracts/cross-chain/L2BitcoinDepositor.sol
  solidity/contracts/cross-chain/L2TBTC.sol
  solidity/contracts/cross-chain/layerzero/L1BitcoinDepositorLayerZero.sol
  solidity/contracts/cross-chain/layerzero/L1LockBoxAdapter.sol
  solidity/contracts/cross-chain/layerzero/L2MintAndBurnAdapter.sol
  solidity/contracts/cross-chain/layerzero/LayerZero.sol
  solidity/contracts/cross-chain/utils/Crosschain.sol
  solidity/contracts/cross-chain/utils/IL2TBTC.sol
  solidity/contracts/cross-chain/utils/Reimbursable.sol
  solidity/contracts/cross-chain/utils/ReimbursementPool.sol
  solidity/contracts/cross-chain/wormhole/L1BitcoinDepositorWormhole.sol
  solidity/contracts/cross-chain/wormhole/L2WormholeGateway.sol
  solidity/contracts/cross-chain/wormhole/Wormhole.sol
  solidity/contracts/test/ReimbursableImplStub.sol
  solidity/contracts/test/TestERC20.sol
  solidity/contracts/test/WormholeBridgeStub.sol
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/test/Reimbursable.test.ts
  solidity/test/ReimbursementPool.test.ts
  solidity/yarn.lock
Due: solidity-format

chore: update layerzero dependencies and lock file
  solidity/package.json
  solidity/yarn.lock
Due: solidity-format

fix: lint fixes hardhat config and test
  solidity/hardhat.config.ts
  solidity/test/ReimbursementPool.test.ts
Due: solidity-format

fix: adjust contracts to fix slitther warns
  solidity/contracts/cross-chain/L1BitcoinDepositor.sol
  solidity/contracts/cross-chain/L2TBTC.sol
  solidity/contracts/cross-chain/layerzero/L1BitcoinDepositorLayerZero.sol
  solidity/contracts/cross-chain/layerzero/L1LockBoxAdapter.sol
  solidity/contracts/cross-chain/layerzero/L2MintAndBurnAdapter.sol
  solidity/test/ReimbursementPool.test.ts
  solidity/test/fixtures/index.ts
Due: solidity-format

chore: add comments signalling to slither and solhint
  solidity/contracts/cross-chain/layerzero/L1BitcoinDepositorLayerZero.sol
Due: solidity-format

chore: update slither inline comment order
  solidity/contracts/cross-chain/layerzero/L1BitcoinDepositorLayerZero.sol
Due: solidity-format

chore: prettier format fix
  solidity/contracts/cross-chain/L1BitcoinDepositor.sol
  solidity/contracts/cross-chain/layerzero/L1BitcoinDepositorLayerZero.sol
  solidity/contracts/cross-chain/layerzero/L1LockBoxAdapter.sol
  solidity/contracts/cross-chain/layerzero/L2MintAndBurnAdapter.sol
  solidity/contracts/cross-chain/utils/Crosschain.sol
  solidity/contracts/cross-chain/wormhole/L1BitcoinDepositorWormhole.sol
Due: solidity-format

Enable Base Mainnet Direct Mint
  cross-chain/base/deployments/base/BaseL2BitcoinDepositor.json
  cross-chain/base/deployments/mainnet/.chainId
  cross-chain/base/deployments/mainnet/BaseL1BitcoinDepositor.json
  typescript/api-reference/classes/BaseL2BitcoinDepositor.md
  typescript/api-reference/classes/BaseL2TBTCToken.md
  typescript/api-reference/classes/EthereumCrossChainExtraDataEncoder.md
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/src/lib/base/artifacts/base/BaseL2BitcoinDepositor.json
  typescript/src/lib/base/artifacts/base/BaseTBTC.json
  typescript/src/lib/base/l2-bitcoin-depositor.ts
  typescript/src/lib/base/l2-tbtc-token.ts
  typescript/src/lib/ethereum/artifacts/mainnet/BaseL1BitcoinDepositor.json
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
Due: root-format, typescript-format

chore: update node versions in contracts github workflows
  .github/workflows/contracts.yml
Due: root-format

chore: bump contracts hardhat version
  solidity/package.json
  solidity/yarn.lock
Due: solidity-format

refactor: improve the hyperliquid spot deployment steps
  cross-chain/hyperliquid/hyperliquid-l1/package.json
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/exchange/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/types/constants.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/hyperliquid-ts/types/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/index.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/scripts/steps/step1.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/scripts/steps/step2.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/scripts/steps/step3.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/scripts/steps/step5.ts
  cross-chain/hyperliquid/hyperliquid-l1/src/scripts/steps/step6.ts
Due: root-format

feat: add hyperevm deployment script for the tbtc token
  cross-chain/hyperliquid/hyper-evm/.env.example
  cross-chain/hyperliquid/hyper-evm/deploy_hl/01_deploy_hyperliquid_tbtc_token.ts
  cross-chain/hyperliquid/hyper-evm/deploy_hl/21_transfer_arbitrum_tbtc_ownership.ts
  cross-chain/hyperliquid/hyper-evm/deploy_hl/22_transfer_proxy_admin_ownership.ts
  cross-chain/hyperliquid/hyper-evm/hardhat.config.ts
  cross-chain/hyperliquid/hyper-evm/package.json
Due: root-format

Update Base L1 and L2 Bitcoin Depositor contract deployments
  cross-chain/base/deployments/base/BaseL2BitcoinDepositor.json
  cross-chain/base/deployments/mainnet/BaseL1BitcoinDepositor.json
  typescript/src/lib/base/artifacts/base/BaseL2BitcoinDepositor.json
  typescript/src/lib/ethereum/artifacts/mainnet/BaseL1BitcoinDepositor.json
Due: root-format, typescript-format

Update cross chain arbitrum workflow file
  .github/workflows/cross-chain-arbitrum.yml
Due: root-format

Add manual upgrade script for l1 bitcoin depositor
  cross-chain/arbitrum/deploy_l1/00_manual_upgrade_arbitrum_l1_bitcoin_depositor.ts
Due: root-format

Add cross chain arbitrum l1 bitcoin depositor artifacts
  cross-chain/arbitrum/.openzeppelin/mainnet.json
  cross-chain/arbitrum/.openzeppelin/unknown-11155111.json
  cross-chain/arbitrum/deployments/mainnet/.chainId
  cross-chain/arbitrum/deployments/mainnet/ArbitrumOneL1BitcoinDepositor.json
  cross-chain/arbitrum/deployments/sepolia/.chainId
  cross-chain/arbitrum/deployments/sepolia/ArbitrumL1BitcoinDepositor.json
Due: root-format

Add arbitrum l1 bitcoin depositor artifacts in typescript
  typescript/src/lib/ethereum/artifacts/mainnet/ArbitrumOneL1BitcoinDepositor.json
  typescript/src/lib/ethereum/artifacts/sepolia/ArbitrumL1BitcoinDepositor.json
Due: typescript-format

Lint fixes l1 bitcoin depositor related files
  cross-chain/arbitrum/deploy_l1/00_manual_upgrade_arbitrum_l1_bitcoin_depositor.ts
  typescript/src/lib/ethereum/artifacts/mainnet/ArbitrumOneL1BitcoinDepositor.json
Due: root-format, typescript-format

chore: bump version to v2.5.0
  typescript/package.json
Due: typescript-format

add solana modules and update typescript
  typescript/package.json
  typescript/yarn.lock
Due: typescript-format

add solana network integration
  typescript/src/lib/arbitrum/index.ts
  typescript/src/lib/arbitrum/l2-bitcoin-depositor.ts
  typescript/src/lib/arbitrum/l2-tbtc-token.ts
  typescript/src/lib/base/index.ts
  typescript/src/lib/base/l2-bitcoin-depositor.ts
  typescript/src/lib/base/l2-tbtc-token.ts
  typescript/src/lib/contracts/chain.ts
  typescript/src/lib/contracts/cross-chain.ts
  typescript/src/lib/ethereum/index.ts
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/lib/solana/address.ts
  typescript/src/lib/solana/idl/tbtc.json
  typescript/src/lib/solana/index.ts
  typescript/src/lib/solana/solana-depositor-interface.ts
  typescript/src/lib/solana/solana-tbtc-token.ts
  typescript/src/services/deposits/cross-chain.ts
  typescript/src/services/deposits/deposits-service.ts
  typescript/src/services/tbtc.ts
  typescript/test/lib/ethereum.test.ts
  typescript/test/services/deposits.test.ts
  typescript/test/utils/mock-cross-chain.ts
Due: typescript-format

update typescript docs
  typescript/api-reference/README.md
  typescript/api-reference/classes/ArbitrumL2BitcoinDepositor.md
  typescript/api-reference/classes/ArbitrumL2TBTCToken.md
  typescript/api-reference/classes/BaseL2BitcoinDepositor.md
  typescript/api-reference/classes/BaseL2TBTCToken.md
  typescript/api-reference/classes/BitcoinTxHash.md
  typescript/api-reference/classes/CrossChainDepositor.md
  typescript/api-reference/classes/CrossChainExtraDataEncoder.md
  typescript/api-reference/classes/DepositRefund.md
  typescript/api-reference/classes/DepositScript.md
  typescript/api-reference/classes/DepositsService.md
  typescript/api-reference/classes/EthereumCrossChainExtraDataEncoder.md
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/api-reference/classes/Hex.md
  typescript/api-reference/classes/TBTC.md
  typescript/api-reference/enums/Chains.Solana.md
  typescript/api-reference/enums/DepositState.md
  typescript/api-reference/interfaces/BitcoinDepositor.md
  typescript/api-reference/interfaces/CrossChainContractsLoader.md
  typescript/api-reference/interfaces/DestinationChainTBTCToken.md
  typescript/api-reference/interfaces/ExtraDataEncoder.md
  typescript/api-reference/interfaces/L1BitcoinDepositor.md
  typescript/api-reference/modules/Chains.md
Due: typescript-format

lint fixes
  typescript/src/services/tbtc.ts
  typescript/test/lib/ethereum.test.ts
  typescript/test/services/deposits.test.ts
Due: typescript-format

update tbtc.md doc
  typescript/api-reference/classes/TBTC.md
Due: typescript-format

update bitcoin depositor contracts and tests
  solidity/contracts/cross-chain/AbstractL1BTCDepositor.sol
  solidity/contracts/cross-chain/L2TBTC.sol
  solidity/contracts/cross-chain/legacy/L1BitcoinDepositor.sol
  solidity/contracts/cross-chain/legacy/L2BitcoinDepositor.sol
  solidity/contracts/cross-chain/legacy/integrator/AbstractTBTCDepositor.sol
  solidity/contracts/cross-chain/utils/Crosschain.sol
  solidity/contracts/cross-chain/wormhole/BTCDepositorWormhole.sol
  solidity/contracts/cross-chain/wormhole/L1BTCDepositorWormhole.sol
  solidity/contracts/cross-chain/wormhole/L2BTCDepositorWormhole.sol
  solidity/contracts/cross-chain/wormhole/L2WormholeGateway.sol
  solidity/contracts/cross-chain/wormhole/Wormhole.sol
  solidity/contracts/integrator/AbstractBTCDepositor.sol
  solidity/contracts/test/TestBTCDepositor.sol
  solidity/contracts/test/WormholeBridgeStub.sol
  solidity/test/cross-chain/L2TBTC.test.ts
  solidity/test/cross-chain/L2WormholeGateway.test.ts
  solidity/test/cross-chain/wormhole/BTCDepositorWormhole.test.ts
  solidity/test/cross-chain/wormhole/L1BTCDepositorWormhole.test.ts
  solidity/test/cross-chain/wormhole/L2DepositorWormholeAdapter.test.ts
  solidity/test/integrator/AbstractBTCDepositor.test.ts
  solidity/test/legacy/L1BitcoinDepositor.test.ts
  solidity/test/legacy/L2BitcoinDepositor.test.ts
Due: solidity-format

fix slither and prettier in cross-chain contracts
  solidity/contracts/cross-chain/AbstractL1BTCDepositor.sol
  solidity/contracts/cross-chain/utils/Crosschain.sol
  solidity/contracts/cross-chain/wormhole/BTCDepositorWormhole.sol
  solidity/contracts/cross-chain/wormhole/L1BTCDepositorWormhole.sol
  solidity/contracts/cross-chain/wormhole/L2BTCDepositorWormhole.sol
  solidity/contracts/cross-chain/wormhole/Wormhole.sol
Due: solidity-format

add tokens transfer event in btc depositor
  solidity/contracts/cross-chain/wormhole/BTCDepositorWormhole.sol
Due: solidity-format

disable slither for event emission
  solidity/contracts/cross-chain/wormhole/BTCDepositorWormhole.sol
Due: solidity-format

update concurrency logic to find active wallets
  typescript/api-reference/README.md
  typescript/api-reference/classes/BitcoinTxHash.md
  typescript/api-reference/classes/DepositRefund.md
  typescript/api-reference/classes/DepositScript.md
  typescript/api-reference/classes/Hex.md
  typescript/api-reference/classes/RedemptionsService.md
  typescript/src/services/redemptions/redemptions-service.ts
Due: typescript-format

update error message in redemption service
  typescript/src/services/redemptions/redemptions-service.ts
  typescript/test/services/redemptions.test.ts
Due: typescript-format

adds docs to reflect redemption service updates
  typescript/api-reference/README.md
  typescript/api-reference/classes/BitcoinTxHash.md
  typescript/api-reference/classes/DepositRefund.md
  typescript/api-reference/classes/DepositScript.md
  typescript/api-reference/classes/Hex.md
Due: typescript-format

Add SUI network support and integrate SUI address handling
  typescript/package.json
  typescript/src/lib/arbitrum/l2-bitcoin-depositor.ts
  typescript/src/lib/base/l2-bitcoin-depositor.ts
  typescript/src/lib/contracts/chain.ts
  typescript/src/lib/contracts/cross-chain.ts
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/lib/solana/solana-depositor-interface.ts
  typescript/src/lib/sui/address.ts
  typescript/src/lib/sui/index.ts
  typescript/src/lib/sui/sui-bitcoin-depositor.ts
  typescript/src/lib/sui/sui-tbtc-token.ts
  typescript/src/services/tbtc.ts
  typescript/yarn.lock
Due: typescript-format

Update TypeScript configuration and dependencies
  typescript/package.json
  typescript/tsconfig.json
  typescript/yarn.lock
Due: typescript-format

Enhance SUI integration and update TypeScript configurations
  typescript/package.json
  typescript/src/index.ts
  typescript/src/lib/sui/index.ts
  typescript/src/lib/sui/sui-bitcoin-depositor.ts
  typescript/src/lib/sui/sui-tbtc-token.ts
  typescript/src/services/tbtc.ts
  typescript/test/lib/ethereum.test.ts
  typescript/test/lib/sui/address.test.ts
  typescript/test/lib/sui/sui-bitcoin-depositor.test.ts
  typescript/test/lib/sui/sui-tbtc-token.test.ts
  typescript/test/services/deposits.test.ts
  typescript/test/utils/mock-cross-chain.ts
  typescript/tsconfig.json
  typescript/tsconfig.test.json
  typescript/yarn.lock
Due: typescript-format

Updated documentation to reflect new SUI classes and methods, ensuring comprehensive API reference.
  typescript/api-reference/README.md
  typescript/api-reference/classes/ArbitrumL2BitcoinDepositor.md
  typescript/api-reference/classes/BaseL2BitcoinDepositor.md
  typescript/api-reference/classes/CrossChainExtraDataEncoder.md
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/api-reference/classes/SuiAddress.md
  typescript/api-reference/classes/SuiBitcoinDepositor.md
  typescript/api-reference/classes/SuiTBTCToken.md
  typescript/api-reference/classes/TBTC.md
  typescript/api-reference/enums/Chains.Sui.md
  typescript/api-reference/enums/DepositState.md
  typescript/api-reference/interfaces/BitcoinDepositor.md
  typescript/api-reference/interfaces/ChainIdentifier.md
  typescript/api-reference/interfaces/CrossChainContractsLoader.md
  typescript/api-reference/interfaces/DestinationChainTBTCToken.md
  typescript/api-reference/interfaces/ExtraDataEncoder.md
  typescript/api-reference/modules/Chains.md
Due: typescript-format
