Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: root-format
        name: "Check root directory code formatting"
        entry: /usr/bin/env bash -c "yarn format"
        exclude: '^solidity\/|^yearn\/|^typescript\/|^monitoring\/'
        language: script
        description: "Checks root directory code according to the formatting configuration"
      - id: solidity-format
        name: "Check solidity directory code formatting"
        entry: /usr/bin/env bash -c "cd solidity && yarn format"
        files: "^solidity/"
        language: script
        description: "Checks solidity directory code according to the formatting configuration"
      - id: yearn-format
        name: "Check yearn directory code formatting"
        entry: /usr/bin/env bash -c "cd yearn && yarn format"
        files: "^yearn/"
        language: script
        description: "Checks yearn directory code according to the formatting configuration"
      - id: typescript-format
        name: "Check typescript directory code formatting"
        entry: /usr/bin/env bash -c "cd typescript && yarn format"
        files: "^typescript/"
        language: script
        description: "Checks typescript directory code according to the formatting configuration"
      - id: monitoring-format
        name: "Check monitoring directory code formatting"
        entry: /usr/bin/env bash -c "cd monitoring && yarn format"
        files: "^monitoring/"
        language: script
        description: "Checks monitoring directory code according to the formatting configuration"

Reimbursements for deposit initialization and finalization
  solidity/contracts/l2/L1BitcoinDepositor.sol
Due: solidity-format

Add note about `ReimbursementPool` reentrancy risk
  solidity/contracts/l2/L1BitcoinDepositor.sol
Due: solidity-format

Remaining documentation for the `L1BitcoinDepositor` contract
  solidity/contracts/l2/L1BitcoinDepositor.sol
Due: solidity-format

Improve documentation comments around redemptions veto
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/Redemption.sol
  solidity/contracts/bridge/RedemptionWatchtower.sol
  solidity/contracts/bridge/WalletProposalValidator.sol
Due: solidity-format

Remaining documentation for the `L2BitcoinDepositor` contract
  solidity/contracts/l2/L2BitcoinDepositor.sol
Due: solidity-format

Suppress Slither false positives
  solidity/contracts/l2/L1BitcoinDepositor.sol
Due: solidity-format

Re-deploy contracts on Ethereum and Base Sepolia
  cross-chain/base/.openzeppelin/sepolia.json
  cross-chain/base/.openzeppelin/unknown-84532.json
  cross-chain/base/deployments/baseSepolia/BaseL2BitcoinDepositor.json
  cross-chain/base/deployments/sepolia/BaseL1BitcoinDepositor.json
Due: root-format

Another attempt to suppress Slither false positives
  .github/workflows/contracts.yml
  solidity/contracts/l2/L1BitcoinDepositor.sol
  solidity/contracts/l2/L2BitcoinDepositor.sol
  solidity/contracts/l2/L2WormholeGateway.sol
Due: root-format, solidity-format

Unit tests for `L2BitcoinDepositor` contract
  solidity/test/l2/L2BitcoinDepositor.test.ts
Due: solidity-format

Make `finalizeDeposit` external
  solidity/contracts/l2/L1BitcoinDepositor.sol
Due: solidity-format

Use upgradable OZ token types
  solidity/contracts/l2/L1BitcoinDepositor.sol
Due: solidity-format

Add missing test scenario for `attachL1BitcoinDepositor` function
  solidity/test/l2/L2BitcoinDepositor.test.ts
Due: solidity-format

Don't add comments about API docs previews to PRs
  .github/workflows/contracts-docs.yml
Due: root-format

Updated deposit sweep and redemption proposal validation
  solidity/contracts/bridge/WalletProposalValidator.sol
  solidity/test/bridge/WalletProposalValidator.test.ts
Due: solidity-format

Move documentation to separate file
  docs/dapp-development/dapp-development.adoc
Due: root-format

Unit tests for `L1BitcoinDepositor` contract
  solidity/contracts/l2/L1BitcoinDepositor.sol
  solidity/test/l2/L1BitcoinDepositor.test.ts
  solidity/test/l2/L2BitcoinDepositor.test.ts
Due: solidity-format

Optimize the `GasReimbursement` structure
  solidity/contracts/l2/L1BitcoinDepositor.sol
Due: solidity-format

Re-deploy contracts on Ethereum on Base Sepolia
  cross-chain/base/.openzeppelin/sepolia.json
  cross-chain/base/.openzeppelin/unknown-84532.json
  cross-chain/base/deployments/baseSepolia/BaseL2BitcoinDepositor.json
  cross-chain/base/deployments/sepolia/BaseL1BitcoinDepositor.json
Due: root-format

Adjust default value of `initializeDepositGasOffset` again
  solidity/contracts/l2/L1BitcoinDepositor.sol
Due: solidity-format

Upgrade deployment artifacts after Bridge upgrade
  solidity/.openzeppelin/mainnet.json
  solidity/deployments/mainnet/Bridge.json
  solidity/deployments/mainnet/Deposit.json
  solidity/deployments/mainnet/DepositSweep.json
  solidity/deployments/mainnet/Fraud.json
  solidity/deployments/mainnet/MovingFunds.json
  solidity/deployments/mainnet/Redemption.json
  solidity/deployments/mainnet/Wallets.json
  solidity/deployments/mainnet/solcInputs/b7c5f3550cc22e16e6b6ea9582ccbee3.json
  solidity/deployments/mainnet/solcInputs/be146ce112252bdda3a03de3614fbbf1.json
  solidity/export.json
Due: solidity-format

Add deployment artifact for the new `BridgeGovernance` instance
  solidity/deployments/mainnet/BridgeGovernance.json
  solidity/deployments/mainnet/solcInputs/55668483c8e646c24290782f9a134e59.json
  solidity/export.json
Due: solidity-format

Add deployment artifact for the new `RedemptionWatchtower` contract
  solidity/.openzeppelin/mainnet.json
  solidity/deployments/mainnet/RedemptionWatchtower.json
  solidity/export.json
Due: solidity-format

Add deployment artifact for the new `WalletProposalValidator` contract
  solidity/deployments/mainnet/WalletProposalValidator.json
  solidity/export.json
Due: solidity-format

Remove deployment artifact of the `WalletCoordinator` contract
  solidity/deployments/mainnet/WalletCoordinator.json
  solidity/export.json
Due: solidity-format

Release solidity/v1.6.0
  solidity/package.json
  solidity/yarn.lock
Due: solidity-format

Solidity: Start version 1.7.0-dev
  solidity/package.json
Due: solidity-format

Bump up `tbtc-v2` dependency
  typescript/yarn.lock
Due: typescript-format

Support for cross-chain contracts
  typescript/package.json
  typescript/src/index.ts
  typescript/src/lib/base/artifacts/base/BaseTBTC.json
  typescript/src/lib/base/artifacts/baseSepolia/BaseL2BitcoinDepositor.json
  typescript/src/lib/base/artifacts/baseSepolia/BaseTBTC.json
  typescript/src/lib/base/index.ts
  typescript/src/lib/base/l2-bitcoin-depositor.ts
  typescript/src/lib/base/l2-tbtc-token.ts
  typescript/src/lib/contracts/chain.ts
  typescript/src/lib/contracts/cross-chain.ts
  typescript/src/lib/contracts/index.ts
  typescript/src/lib/ethereum/artifacts/sepolia/BaseL1BitcoinDepositor.json
  typescript/src/lib/ethereum/bridge.ts
  typescript/src/lib/ethereum/index.ts
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/lib/ethereum/tbtc-token.ts
  typescript/src/lib/ethereum/tbtc-vault.ts
  typescript/src/lib/ethereum/wallet-registry.ts
  typescript/src/services/tbtc.ts
Due: typescript-format

Cross-chain deposit flow
  typescript/src/lib/base/index.ts
  typescript/src/lib/base/l2-bitcoin-depositor.ts
  typescript/src/lib/contracts/chain.ts
  typescript/src/lib/contracts/cross-chain.ts
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/services/deposits/cross-chain.ts
  typescript/src/services/deposits/deposits-service.ts
  typescript/src/services/tbtc.ts
Due: typescript-format

Remove unnecessary dependency upgrades
  typescript/yarn.lock
Due: typescript-format

Fix broken unit tests
  typescript/src/lib/ethereum/bridge.ts
  typescript/src/lib/ethereum/tbtc-token.ts
  typescript/test/lib/ethereum.test.ts
  typescript/test/services/deposits.test.ts
Due: typescript-format

Re-generate API reference docs
  typescript/api-reference/README.md
  typescript/api-reference/classes/DepositsService.md
  typescript/api-reference/classes/EthereumBridge.md
  typescript/api-reference/classes/EthereumTBTCToken.md
  typescript/api-reference/classes/EthereumTBTCVault.md
  typescript/api-reference/classes/EthereumWalletRegistry.md
  typescript/api-reference/classes/TBTC.md
Due: typescript-format

Unit tests for Base module
  typescript/test/lib/base.test.ts
  typescript/test/lib/ethereum.test.ts
  typescript/test/utils/helpers.ts
Due: typescript-format

Unit tests for Ethereum module changes
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/test/lib/base.test.ts
  typescript/test/lib/ethereum.test.ts
Due: typescript-format

Unit tests for Deposits service changes
  typescript/src/services/deposits/index.ts
  typescript/test/services/deposits.test.ts
  typescript/test/utils/mock-cross-chain.ts
Due: typescript-format

Push missing API reference docs
  typescript/api-reference/README.md
  typescript/api-reference/classes/BaseL2BitcoinDepositor.md
  typescript/api-reference/classes/BaseL2TBTCToken.md
  typescript/api-reference/classes/CrossChainDepositor.md
  typescript/api-reference/classes/EthereumCrossChainExtraDataEncoder.md
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/api-reference/enums/Chains.Base.md
  typescript/api-reference/enums/Chains.Ethereum.md
  typescript/api-reference/interfaces/CrossChainContractsLoader.md
  typescript/api-reference/interfaces/CrossChainExtraDataEncoder.md
  typescript/api-reference/interfaces/DepositorProxy.md
  typescript/api-reference/interfaces/L1BitcoinDepositor.md
  typescript/api-reference/interfaces/L2BitcoinDepositor.md
  typescript/api-reference/interfaces/L2TBTCToken.md
  typescript/api-reference/modules/Chains.md
Due: typescript-format

Fallback to `url-parse` if `URL` is not available
  typescript/package.json
  typescript/src/lib/electrum/client.ts
  typescript/yarn.lock
Due: typescript-format

Store deposit reveal information
  .prettierignore
  infrastructure/tbtc-deposit-reveals/.gitignore
  infrastructure/tbtc-deposit-reveals/.prettierignore
  infrastructure/tbtc-deposit-reveals/.prettierrc.js
  infrastructure/tbtc-deposit-reveals/README.md
  infrastructure/tbtc-deposit-reveals/migrations/0000_initial-tables.sql
  infrastructure/tbtc-deposit-reveals/package.json
  infrastructure/tbtc-deposit-reveals/scripts/local_data.sql
  infrastructure/tbtc-deposit-reveals/scripts/rebuild_db.sh
  infrastructure/tbtc-deposit-reveals/scripts/reset_db.sql
  infrastructure/tbtc-deposit-reveals/src/controllers/deposits.ts
  infrastructure/tbtc-deposit-reveals/src/index.ts
  infrastructure/tbtc-deposit-reveals/src/routes.ts
  infrastructure/tbtc-deposit-reveals/src/types.ts
  infrastructure/tbtc-deposit-reveals/tsconfig.json
  infrastructure/tbtc-deposit-reveals/wrangler.toml
Due: root-format

Add a POST /deposits route to persist reveal info
  infrastructure/tbtc-deposit-reveals/src/controllers/deposits.ts
  infrastructure/tbtc-deposit-reveals/src/routes.ts
Due: root-format

Remove redundant wallet registry fetch
  typescript/src/lib/ethereum/index.ts
Due: typescript-format
