Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-js, lint-sol

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/keep-network/pre-commit-hooks.git
    rev: v1.3.0
    hooks:
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: lint-js
        name: "lint js"
        entry: /usr/bin/env bash -c "npm run lint:js"
        files: '\.js$'
        language: script
        description: "Checks JS code according to the package's linter configuration"
      - id: lint-sol
        name: "lint solidity"
        entry: /usr/bin/env bash -c "npm run lint:sol"
        files: '\.sol$'
        language: script
        description: "Checks Solidity code according to the package's linter configuration"
      - id: prettier
        name: "prettier"
        entry: /usr/bin/env bash -c "npx prettier --check ."
        language: script
        description: "Checks code according to the package's formatting configuration"

Ignored slither warnings from reentrancy-events detector
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

s/reponse/response
  SECURITY.adoc
Due: none

Fix grammar
  docs/diagrams/wallet-lifecycle/wallet-lifecycle-5-handling-moved-funds.png
  docs/diagrams/wallet-lifecycle/wallet-lifecycle-5-handling-moved-funds.tikz
Due: none

Fixing docs
  solidity/contracts/bridge/BridgeGovernance.sol
  solidity/contracts/bridge/BridgeGovernanceParameters.sol
Due: lint-sol

Adding a comment about why we use array for governance delays
  solidity/contracts/bridge/BridgeGovernance.sol
Due: lint-sol

Updated docs for Terminated wallet state
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Describe wallet states in the documentation
  docs/index.adoc
Due: none

Specify that balances are Bank balances
  README.adoc
Due: none

Mention that requestRedemption requires Bank approval
  README.adoc
Due: none

Remove the governable values from the mechanism text
  README.adoc
Due: none

Remove the bit about eventually closing from notifyWalletTimedOutRedemption
  README.adoc
Due: none

Include Bridge.Address in the Bank.approve calls
  README.adoc
Due: none

Update bitcoin-spv version
  solidity/package.json
Due: none

Added a missing @param doc for notifyWalletRedemptionTimeout
  solidity/contracts/bridge/Wallets.sol
Due: lint-sol

Fixing integration tests
  solidity/contracts/bridge/BridgeGovernanceParameters.sol
  solidity/test/integration/Slashing.test.ts
  solidity/test/integration/utils/fixture.ts
Due: lint-sol

Cleanups
  solidity/test/bridge/Bridge.Governance.test.ts
Due: none

Updated lockfile for 3.4.0-solc-0.8 of bitcoin-spv-sol
  solidity/yarn.lock
Due: none

Update redemption key calculations in vault tests
  solidity/test/vault/TBTCVault.Redemption.test.ts
Due: none

Remove the reference to `Bridge.redemptionTimeout`
  README.adoc
Due: none

Fixing context description for the gov delay has not passed
  solidity/test/bridge/Bridge.Governance.test.ts
Due: none

Move the mechanism explanation to docs/index.adoc
  README.adoc
  docs/index.adoc
Due: none

Fix linting issues
  solidity/contracts/bridge/Redemption.sol
  solidity/test/bridge/Bridge.Redemption.test.ts
  solidity/test/vault/TBTCVault.Redemption.test.ts
Due: lint-sol

Fixing desc fro the test around emitting events
  solidity/test/bridge/Bridge.Governance.test.ts
Due: none

Actually fix formatting issues
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/Redemption.sol
Due: lint-sol

Cleanup `typescript` package settings
  .gitignore
  typescript/package.json
  typescript/tsconfig.json
Due: none

Move `TBTC` interface to separate file
  typescript/src/index.ts
  typescript/src/tbtc.ts
Due: none

Rollback `rootDirs` setting
  typescript/tsconfig.json
Due: none

Stub of system tests module
  system-tests/.eslintignore
  system-tests/.eslintrc.js
  system-tests/.mocharc.json
  system-tests/.prettierignore
  system-tests/.prettierrc.js
  system-tests/package.json
  system-tests/tsconfig.json
  system-tests/yarn.lock
Due: lint-js

Explain BridgeState alignment gaps in comments
  solidity/contracts/bridge/BridgeState.sol
Due: lint-sol

Fix function documentation comment formatting
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/Redemption.sol
Due: lint-sol

Remove temporary configuration
  .github/workflows/npm-typescript.yml
Due: none

Fill in the 'minting' section
  docs/index.adoc
Due: none

Fill in the 'unminting' section
  docs/index.adoc
Due: none

Fill in a 'bridge-bank-vault' section
  docs/index.adoc
Due: none

Fix internal links
  docs/index.adoc
Due: none

Checking if the vault was actually set as trusted
  solidity/test/bridge/Bridge.Governance.test.ts
Due: none

Update names of the NPM workflows to reflect scope
  .github/workflows/npm-contracts.yml
  .github/workflows/npm-typescript.yml
Due: none

Slithering
  solidity/contracts/bridge/BridgeGovernance.sol
Due: lint-sol

Adjust `tsconfig.json` and `package.json`
  system-tests/package.json
  system-tests/tsconfig.json
  system-tests/yarn.lock
Due: none

Explain the magic 8 in BitcoinTx.extractPubKeyHash
  solidity/contracts/bridge/BitcoinTx.sol
Due: lint-sol
