Repository keep-network/tbtc-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: root-format, solidity-format, yearn-format, typescript-format, monitoring-format

root-format:
  name: Check root directory code formatting
  entry: /usr/bin/env bash -c "yarn format"
  language: script
  description: Checks root directory code according to the formatting configuration

solidity-format:
  name: Check solidity directory code formatting
  entry: /usr/bin/env bash -c "cd solidity && yarn format"
  language: script
  description: Checks solidity directory code according to the formatting configuration

yearn-format:
  name: Check yearn directory code formatting
  entry: /usr/bin/env bash -c "cd yearn && yarn format"
  language: script
  description: Checks yearn directory code according to the formatting configuration

typescript-format:
  name: Check typescript directory code formatting
  entry: /usr/bin/env bash -c "cd typescript && yarn format"
  language: script
  description: Checks typescript directory code according to the formatting configuration

monitoring-format:
  name: Check monitoring directory code formatting
  entry: /usr/bin/env bash -c "cd monitoring && yarn format"
  language: script
  description: Checks monitoring directory code according to the formatting configuration

Added Bitcoin client function for getting tx hashes for public key hash
  typescript/src/lib/bitcoin/client.ts
  typescript/src/lib/electrum/client.ts
  typescript/test/data/electrum.ts
  typescript/test/lib/electrum.test.ts
  typescript/test/utils/mock-bitcoin-client.ts
Due: typescript-format

Fix typo error
  typescript/src/lib/ethereum/index.ts
Due: typescript-format

Fix URL API error on the browser
  typescript/src/lib/electrum/client.ts
  typescript/tsconfig.json
Due: typescript-format

Add environment check
  typescript/src/lib/electrum/client.ts
Due: typescript-format

Change TBTC token contract artifact references
  typescript/src/lib/ethereum/artifacts/goerli/TBTC.json
  typescript/src/lib/ethereum/artifacts/mainnet/TBTC.json
  typescript/src/lib/ethereum/tbtc-token.ts
Due: typescript-format

TypeScript: Release v2.1.0
  typescript/package.json
  typescript/yarn.lock
Due: typescript-format

TypeScript: Start version 2.2.0-dev
  typescript/package.json
Due: typescript-format

Print tcoin depositor address
  system-tests/test/deposit-redemption.test.ts
Due: root-format

Updated function for determining wallet main UTXO
  typescript/src/services/redemptions/redemptions-service.ts
  typescript/test/utils/mock-bitcoin-client.ts
Due: typescript-format

Update auto-generated contract docs destination
  .github/workflows/contracts-docs.yml
Due: root-format

Updated unit tests
  typescript/src/services/redemptions/redemptions-service.ts
  typescript/test/services/redemptions.test.ts
  typescript/test/utils/mock-bitcoin-client.ts
Due: typescript-format

Rework root-level `README` document
  CONTRIBUTING.adoc
  README.adoc
Due: root-format

Rework `README` of the typescript SDK
  typescript/README.adoc
  typescript/README.md
Due: typescript-format

Add SDK repository info to the `package.json`
  solidity/package.json
Due: solidity-format

Re-format SDK `README` file
  typescript/README.md
Due: typescript-format

Add npm badge to the SDK module
  typescript/README.md
Due: typescript-format

Fix badges links in the SDK module
  typescript/README.md
Due: typescript-format

Add GitBook documentation badge to the SDK module
  typescript/README.md
Due: typescript-format

Change GitBook badge color
  typescript/README.md
Due: typescript-format

Fix SDK `package.json` repository field
  solidity/package.json
  typescript/package.json
Due: solidity-format, typescript-format

Add `typedoc` with `typedoc.json` config file
  typescript/package.json
  typescript/typedoc.json
  typescript/yarn.lock
Due: typescript-format

Make eslint and prettier ignore generated API reference
  typescript/.eslintignore
  typescript/.prettierignore
Due: typescript-format

Remove `tinysecp256k1` library
  typescript/package.json
  typescript/yarn.lock
Due: typescript-format

Install `@bitcoinerlab/secp256k1` library
  typescript/package.json
  typescript/yarn.lock
Due: typescript-format

Update import for Secp256k1 library
  typescript/src/lib/bitcoin/ecdsa-key.ts
Due: typescript-format

Add `typescript-docs` pre-commit hook
  .pre-commit-config.yaml
Due: root-format

Add API reference section in the `README` file
  typescript/README.md
Due: typescript-format

Add `typescript-docs` CI job
  .github/workflows/typescript.yml
Due: root-format

Post-merge `yarn.lock` adjustments
  typescript/yarn.lock
Due: typescript-format

Fix `typescript-docs` CI job typo
  .github/workflows/typescript.yml
Due: root-format

Add `Build` step to the `typescript-docs` job
  .github/workflows/typescript.yml
Due: root-format

Update signer check
  typescript/package.json
  typescript/src/lib/ethereum/index.ts
Due: typescript-format

Add unit tests for signer-related functions
  typescript/test/lib/ethereum.test.ts
Due: typescript-format

Revert module name change
  typescript/package.json
Due: typescript-format

Resolve code formatter issues
  typescript/test/lib/ethereum.test.ts
Due: typescript-format

Reduced number of requests to Electrum server
  typescript/src/lib/electrum/client.ts
Due: typescript-format

Path conditions:
  root-format: any file but: ^solidity\/|^yearn\/|^typescript\/|^monitoring\/
  solidity-format: any of: ^solidity/
  yearn-format: any of: ^yearn/
  typescript-format: any of: ^typescript/
  monitoring-format: any of: ^monitoring/
